
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
}

@section scripts{
    <script src="@wowTvScript/MyPin/Scrap/Index.js"></script>
}

<div class="header-main-finance">
    <h1 class="title">한국경제TV<span class="code">000000</span></h1>
    <span class="btn-type2"><button type="button" id="btnAddPin1">마이핀-프로그램 등록</button></span>
    <span class="btn-type2"><button type="button" id="btnAddPin2">마이핀-파트너 등록</button></span>
    <span class="btn-type2"><button type="button" id="btnAddPin3">마이핀-기자 등록</button></span>
    <span class="btn-type2"><button type="button" id="btnAddPin4">마이핀-뉴스 등록</button></span>
</div>
