@charset "utf-8"; /* 통합지원센터 */

.cursor-pointer {cursor: pointer !important;}

/* 고객센터 메인 */
/* 통합 검색 GNB */
.customer.main .combine-search-area {height:536px; padding-top:15px; background:url(../images/customer/bg_cus_main_search_area.jpg) 50% 50% no-repeat; box-sizing:border-box;}
.customer.main .combine-search-area .search-area {position:relative; width:1200px; margin:0 auto;}
.customer.main .combine-search-area .search-input {text-align:center;}
.customer.main .combine-search-area .search-input p {line-height:1.78em; font-weight:600; font-size:36px; letter-spacing:-0.05em}
.customer.main .combine-search-area .search-input .input-area {position:relative; width:754px; height:64px; margin:0 auto; border:5px solid #f14e4f; box-sizing:border-box;}
.customer.main .combine-search-area .search-input .input-area .btn {display:block; position:absolute; right:30px; top:50%; min-width:auto; width:38px; height:38px; margin-top:-19px; font-size:0; text-indent:-9999%; border:none; background: url(../images/customer/bg_cus_main_search_input.png) center center no-repeat;}
.customer.main .combine-search-area .search-input .input-area input[type="text"] {width:100%; height:100%; padding:0 98px 0 30px; border:0; box-sizing:border-box}
.customer.main .combine-search-area .search-input input::-webkit-input-placeholder {text-align:left; color:#666; font-size:20px; font-weight:400;}
.customer.main .combine-search-area .search-input input::-webkit-input-placeholder {text-align:left; color:#666; font-size:20px; font-weight:400;}
.customer.main .combine-search-area .search-input input:-ms-input-placeholder {text-align:left; color:#666; font-size:20px; font-weight:400;}
.customer.main .combine-search-area .best-search {margin-top:15px}
.customer.main .combine-search-area .best-search .title {display:inline-block; width:91px; height:32px; padding-right:7px; line-height:32px; vertical-align:middle; text-align:center; color:#fff; box-sizing:border-box; background:url(../images/customer/bg_cus_main_search_best.png) 0 0 no-repeat;}
.customer.main .combine-search-area .best-search ul {display:inline-block; margin-left:20px}
.customer.main .combine-search-area .best-search li {display:inline-block; vertical-align:middle;}
.customer.main .combine-search-area .best-search li ~ li {position:relative; margin-left:10px; padding-left:11px;}
.customer.main .combine-search-area .best-search li ~ li:before {content:''; display:block; position:absolute; top:50%; left:0; width:1px; height:15px; margin-top:-7px; background:#aeaeae;}
.customer.main .combine-search-area .best-search li a {font-size:16px; color:#666;} 
.customer.main .combine-search-area .best-search li:hover a,
.customer.main .combine-search-area .best-search li:focus a {color:#f14e4f;}
.customer.main .combine-search-area .customer-gnb-area {margin-top:25px; text-align:center;}
.customer.main .combine-search-area .customer-gnb-area:after {content:''; display:block; clear:both}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb {float:left; width:740px;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb:after {content:''; display:block; clear:both}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li {float:left; display:block; width:170px; height:125px; background:rgba(255,255,255,.9);}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li ~ li {margin-left:20px; margin-bottom:20px;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li:nth-child(5) {margin-left:0; margin-bottom:0;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li:nth-child(n+5) {margin-bottom:0;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li a {display:block; width:100%; height:100%; text-align:center;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li a:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li a span {display:inline-block; padding-top:62px; vertical-align:middle; font-size:16px;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list1 a span {background:url(../images/customer/bg_cus_main_gnb1.png) 50% 0 no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list2 a span {background:url(../images/customer/bg_cus_main_gnb2.png) 50% 0 no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list3 a span {background:url(../images/customer/bg_cus_main_gnb3.png) 50% 14px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list4 a span {background:url(../images/customer/bg_cus_main_gnb4.png) 50% 8px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list5 a span {background:url(../images/customer/bg_cus_main_gnb5.png) 50% 5px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list6 a span {background:url(../images/customer/bg_cus_main_gnb6.png) 50% 10px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list7 a span {background:url(../images/customer/bg_cus_main_gnb7.png) 50% 9px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area ul.list-gnb li.list8 a span {background:url(../images/customer/bg_cus_main_gnb8.png) 50% 2px no-repeat;}
.customer.main .combine-search-area .customer-gnb-area .bx-time {float:right; width:393px; height:270px; padding:25px 0 0 30px; text-align:left; background:rgba(255,255,255,.9); box-sizing:border-box;}
.customer.main .combine-search-area .customer-gnb-area .bx-time p {font-weight:600; font-size:20px;}
.customer.main .combine-search-area .customer-gnb-area .bx-time p strong {display:block; line-height:1em; font-family:'roboto', sans-serif; font-weight:600; font-size:40px; color:#4f5eaf;}
.customer.main .combine-search-area .customer-gnb-area .bx-time ul {margin-top:17px}
.customer.main .combine-search-area .customer-gnb-area .bx-time ul li {display:block; line-height:14px; font-size:16px; vertical-align:middle;}
.customer.main .combine-search-area .customer-gnb-area .bx-time ul li ~ li {margin-top:10px}
.customer.main .combine-search-area .customer-gnb-area .bx-time ul li strong {padding-right:10px; font-weight:400; color:#333}
.customer.main .combine-search-area .customer-gnb-area .bx-time ul li span {color:#666}
.customer.main .combine-search-area .customer-gnb-area .bx-online {margin-top:25px;}
.customer.main .combine-search-area .customer-gnb-area .bx-online:after {content:''; display:block; clear:both}
.customer.main .combine-search-area .customer-gnb-area .bx-online a {float:left; display:inline-block; height:52px; padding-left:70px; line-height:1.125em; font-size:16px; }
.customer.main .combine-search-area .customer-gnb-area .bx-online a ~ a {position:relative; margin-left:75px;}
.customer.main .combine-search-area .customer-gnb-area .bx-online a ~ a:after {content:''; display:block; position:absolute; top:50%; left:-30px; width:1px; height:40px; margin-top:-20px; background:#999;}
.customer.main .combine-search-area .customer-gnb-area .bx-online a.inq {background:url(../images/customer/bg_cus_main_inq.png) 0 50% no-repeat;}
.customer.main .combine-search-area .customer-gnb-area .bx-online a.smart {background:url(../images/customer/bg_cus_main_smart.png) 0 50% no-repeat;}
.customer.main .combine-search-area .customer-gnb-area .bx-online a:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.customer.main .combine-search-area .customer-gnb-area .bx-online a span {display:inline-block; vertical-align:middle; font-size:16px;}

.customer.main .list-notice {width:100%; margin-top:55px;}
.customer.main .list-notice:after {content:''; display:block; clear:both}
.customer.main .list-notice .sub-section {float:left; width:calc(33.3% - 26.6px); text-align:left;}
.customer.main .list-notice .sub-section ~ .sub-section {margin-left:40px;}
.customer.main .list-notice .sub-section strong.tit {display:block; position:relative; width:100%; margin-bottom:25px; padding-bottom:5px; font-size:24px; color:#000; border-bottom:1px solid #999;}
.customer.main .list-notice .sub-section strong.tit a.more {display:block; position:absolute; top:50%; right:0; width:19px; height:19px; margin-top:-9.5px; text-indent:-9999999px; font-size:0; background:url(../images/customer/bg_cus_main_more.png) 0 0 no-repeat;}
.customer.main .list-notice .sub-section.type1 ul li {width:350px;}
.customer.main .list-notice .sub-section.type1 ul li ~ li {margin-top:7px;}
.customer.main .list-notice .sub-section.type1 ul li a.list-tit {display:block; width:100%; font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.customer.main .list-notice .sub-section.type1 ul li span.date {font-family:'roboto', sans-serif; font-size:14px; color:#999;}
.customer.main .list-notice .sub-section.type2 ul li:after {content:''; display:block; clear:both}
.customer.main .list-notice .sub-section.type2 ul li ~ li {margin-top:9px;}
.customer.main .list-notice .sub-section.type2 ul li a.list-tit {float:left; display:block; line-height:18px; vertical-align:middle}
.customer.main .list-notice .sub-section.type2 ul li a.list-tit span.cont {display:inline-block; width:250px; line-height:18px; vertical-align:middle; font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.customer.main .list-notice .sub-section.type2 ul li a.list-tit .box-icon {margin: 2px 10px 0px 0px;}
.customer.main .list-notice .sub-section.type2 ul li span.date {float:right; display:inline-block; height:21px; line-height:21px; font-family:'roboto', sans-serif; font-size:14px; color:#999;}
.customer.main .list-notice .sub-section.type3 ul li {display:block; width:100%;}
.customer.main .list-notice .sub-section.type3 ul li ~ li {margin-top:10px;}
.customer.main .list-notice .sub-section.type3 ul li a.list-tit {display:block; width:350px; font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.customer.main .list-notice .sub-section.type3 ul li span.date {display:block; margin-top:5px; padding-left:25px; font-family:'roboto', sans-serif; font-size:16px; color:#747474; background:url(../images/customer/bg_cus_main_date.png) 0 50% no-repeat;}

.customer.main .howto-area {width:100%; height:345px; margin-top:55px;}
.customer.main .howto-area:after {content:''; display:block; clear:both;}
.customer.main .howto-area .bx-greet {float:left; width:382px; height:100%; padding:40px 0 0 40px; background:url(../images/customer/bg_cus_main_greet.png) 0 0 no-repeat; box-sizing:border-box;}
.customer.main .howto-area .bx-greet strong.tit {position:relative; display:block; margin-bottom:30px; padding-bottom:25px; line-height:1.175em; letter-spacing:-0.025em; font-weight:100; font-size:40px; color:#fff;}
.customer.main .howto-area .bx-greet strong.tit:after {content:''; display:block; position:absolute; bottom:-6px; left:0; width:32px; height:4px; background:#fff;}
.customer.main .howto-area .bx-greet p.cont {display:block; line-height:1.5em; font-weight:100; font-size:16px; color:#fff;}
.customer.main .howto-area .bx-tabs {float:left; width:calc(100% - 382px); height:100%;}
.customer.main .howto-area .bx-tabs .tab {width:calc(100% - 1px); display:table; border-collapse:collapse; border-spacing:0; margin-bottom:0}
.customer.main .howto-area .bx-tabs .tab li:first-child {border-left:1px solid #ebe9ea;}
.customer.main .howto-area .bx-tabs .tab li.on:first-child {border-left:1px solid #f7f7f7;}
.customer.main .howto-area .bx-tabs .tab li {display:table-cell; width:33%; margin-left:0; border:1px solid #ebe9ea;  border-left:0; box-sizing:border-box}
.customer.main .howto-area .bx-tabs .tab li:nth-child(3) {width:34%}
.customer.main .howto-area .bx-tabs .tab li.on:nth-child(3) {border-right:1px solid #f7f7f7;}
.customer.main .howto-area .bx-tabs .tab li a {display:block; font-size:16px; color:#333; width:100%; font-weight:normal; text-align:center; height:48px; line-height:48px; padding:0;}
.customer.main .howto-area .bx-tabs .tab li.on {position:relative; background:#f7f7f7; border-bottom:1px solid #f7f7f7;}
.customer.main .howto-area .bx-tabs .tab li.on:before {content:''; width:100%; background:none; border-top:3px solid #ffd800; position:absolute; left:0; border-radius:0; margin:0; margin-top:-1px}
.customer.main .howto-area .bx-tabs ul.tab-contents {display:block; width:100%; height:295px; background:#f7f7f7}
.customer.main .howto-area .bx-tabs ul.tab-contents > li {display:none; width:100%; padding:20px 40px 0; box-sizing:border-box; background:#f7f7f7}
.customer.main .howto-area .bx-tabs ul.tab-contents > li.on  {display:block;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li .tab-tit {padding-bottom:30px; border-bottom:1px solid #ebe9ea;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li .tab-tit > strong {font-size:28px; letter-spacing:-0.025em;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li .tab-tit > p {margin-top:5px; line-height:1.56em; font-size:16px; color:#333;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 {margin-top:25px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ~ li {margin-top:5px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li strong {position:relative; display:inline-block; width:115px; padding-left:10px; font-weight:500; font-size:16px; color:#333;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li strong:after {content:''; display:block; position:absolute; top:50%; left:0; width:2px; height:2px; margin-top:-1px; border-radius:100%; background:#333;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ul {display:inline-block;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ul > li {position:relative; display:inline-block;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ul > li ~ li {margin-left:9px; padding-left:12px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ul > li ~ li:after {content:''; display:block; position:absolute; top:50%; left:0; width:1px; height:15px; margin-top:-7.5px; background:#ebe9ea }
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type1 > li ul > li a {font-size:16px; color:#666;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 {margin-top:45px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2:after {content:''; display:block; clear:both}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li {display:inline-block; height:82px; padding-left:95px;} 
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2.payment > li.li1 {background:url(../images/customer/bg_cus_main_ico_pay1.png) 0 center no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2.payment > li.li2 {background:url(../images/customer/bg_cus_main_ico_pay2.png) 0 center no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2.payment > li.li3 {background:url(../images/customer/bg_cus_main_ico_pay3.png) 0 center no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2.opinion > li.li1 {background:url(../images/customer/bg_cus_main_ico_opi1.png) 0 center no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2.opinion > li.li2 {background:url(../images/customer/bg_cus_main_ico_opi2.png) 0 center no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li ~ li {margin-left:65px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li > div {display:inline-block; vertical-align:middle;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li > div strong {display:inline-block; padding-right:13px; line-height:1.41em; font-size:17px; background:url(../images/customer/bg_cus_main_arr_go.png) center right no-repeat;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li > div span.btn-type4 {display:block; width:44px; height:28px; margin-top:13px;}
.customer.main .howto-area .bx-tabs ul.tab-contents > li ul.list-link.type2 > li > div span.btn-type4 a {min-width:46px; height:28px; line-height:26px}

.customer.main .banner-area {margin-top:60px;}
.customer.main .banner-area ul {clear:both; overflow:hidden;}
.customer.main .banner-area ul li {float:left; width:373px; height:150px; font-weight:font-size:30px; color:#fff; background:url(../images/customer/bg_cus_main_banner.png) center center no-repeat;}
.customer.main .banner-area ul li ~ li {margin-left:40px;}
.customer.main .banner-area ul li img {width:373px; height:150px;}



/* 통합지원센터 */
.customer .list-type2 {margin-bottom:27px;}
.customer .list-type2 li + li {margin-top:7px;}
.customer .list-type2 .btn-type4 {margin-left:20px;}
.customer .table-type1.list {margin-bottom:20px;}
.customer .table-type2.list thead th{padding:17px 10px;border-bottom:1px solid #ebe9ea; font-size:16px; background:#f7f7f7;}
.customer .table-type2.list tbody td{padding:17px 10px;font-size:16px;}
.customer .table-type2.list .noti{color:#4f5eaf;}
.customer .table-type2.list .noti a{color:#4f5eaf;}
.customer .table-type2.list .noti td:first-child:after{content:'';display:block;width:100%;height:18px;background:#fff url('../images/customer/img_noti.png') center center no-repeat;background-size:31px auto;}
.customer .table-type2.list .noti td:last-child{color:#333;}
.customer .top-search-box {border:0;padding:0;margin-top:0;}
.customer .top-search-box .search-section {position:relative;text-align:right;padding-bottom:20px;}
/*.customer .top-search-box .search-section .btn-type3 {padding:0 41px;margin-right:0;}*/
.customer .box-paginate {position:relative;}
.customer .box-paginate .inner-right {position:absolute;top:50%;right:0;margin-top:-4px;}
.customer .box-paginate .inner-right .btn-type1 {margin:0;}
.customer .inner-right {text-align:right;}
.customer .inner-left {position:absolute;left:0;z-index:1}
.customer .inner-left span + span {margin-left:10px;}
.customer .btn-type1 button, .customer .btn-type1 a, .customer .btn-type2 button, .customer .btn-type2 a, .customer .btn-type4 button, .customer .btn-type4 a{min-width:110px !important;}
.customer .tab-type2 + .top-search-box {margin-top:30px;}
.customer h1.title + .board-view{margin-top:36px;}
.customer .board-view {margin-bottom:20px; border-top:1px solid #ebe9ea;}
.customer .board-view .title {padding:25px 0; background:#fff; font-size:30px; font-weight:normal; color:#000;}
.customer .board-view .title .sub {padding-bottom:5px; display:block; font-size:16px; color:#333;}
.customer .board-view .user-data {padding:20px 0;}
.customer .board-view .user-data .data {font-size:16px; color:#999;}
.customer .board-view .user-data .tit {font-size:16px; color:#333;}
.customer .board-view .view-txt {min-height:auto; padding:40px 0;}
.customer .board-view .view-txt .view-img {margin-bottom:36px;}
.customer .board-view .view-txt .view-detail {font-size:18px; line-height:28px;}
.customer .board-view.event {margin-top:60px;border-top:0;}
.customer .board-view.event .event-title {clear:both;overflow:hidden; padding-bottom:38px;border-bottom:1px solid #ebe9ea;}
.customer .board-view.event .title-img {float:left;width:310px;height:200px;}
.customer .board-view.event .title-img img {width:100%;height:100%;}
.customer .board-view.event .title-detail {padding-left:350px;}
.customer .board-view.event .title {padding:0;font-size:38px;line-height:50px;}
.customer .board-view.event .title .sub {line-height:1.2;}
.customer .board-view.event .user-data {padding:30px 0 0; border-bottom:0;}
.customer .board-view.event .user-data + .user-data {padding-top:5px;}
.customer .board-view.event .user-data .tit {color:#4f5eaf;}
.customer .contain-list-event {padding-bottom:30px;border-bottom:1px solid #ebe9ea;}
.customer .contain-list-event .inner {clear:both; overflow:hidden;}
.customer .contain-list-event .inner + .inner {margin-top:30px;}
.customer .contain-list-event .box-event-detail {float:left;width:310px;}
.customer .contain-list-event .box-event-detail + .box-event-detail {margin-left:20px;}
.customer .contain-list-event .box-event-detail a{display:block;}
.customer .contain-list-event .evetn-img {width:310px;height:310px;margin-bottom:18px;}
.customer .contain-list-event .evetn-img img {width:100%;height:100%;}
.customer .contain-list-event .evetn-name {font-size:16px;line-height:22px;}
.customer .contain-list-event .evetn-name .partner {color:#4f5eaf;}
.customer .contain-list-event .evetn-name .space {display:inline-block; width:14px;height:15px;background:url(../images/customer/board_view_line.png) center center no-repeat;vertical-align:middle;}
.customer .contain-list-event .evetn-summary{font-size:16px;line-height:22px;word-break:break-word;}
.customer .contain-list-event .evetn-date {font-size:14px;color:#999;}
.customer .board-view.event.type2 {margin-top:45px;}
.customer .board-view.event.type2 .user-data {padding-top:55px;}
.customer .board-view.event.type2 .user-data > .btn-broadcast {margin-left:8px;}
.customer .board-view.event.type2 .user-data + .user-data {padding-top:8px;}
.customer .user-data-wrap{position:relative;padding-bottom:20px;border-bottom:1px solid #ebe9ea;}
.customer .user-data-wrap .inner-right{position:absolute;bottom:20px;right:0;}
.customer .inner-right span + span {margin-left:5px;}
.customer .title-wrap {margin-top:35px;border-bottom:1px solid #ebe9ea;}
.customer .title-wrap p {font-size:16px;}
.customer .title-wrap .space {width:21px;}
.customer .title-wrap .site{color:#4f5eaf;}
.customer .title-wrap .title {padding:0 0 45px 0;font-size:38px;color:#000;line-height:64px; font-weight:400}
.customer .title-wrap .title-sub {padding-bottom:8px;}
.customer .con-detail {padding-bottom:30px;font-size:16px;color:#999;line-height:28px; padding-top:20px;}
.customer .title-wrap .user-data {padding:0;border-bottom:0;}
.customer .title-wrap .user-data + .user-data {padding-top:2px;}
.customer .title-wrap .user-data .data + .tit {margin-left:6px;}
.customer .title-wrap .user-data .tit {font-size:18px;color:#4f5eaf;margin-right:6px;}
.customer .title-wrap .user-data .data {font-size:18px;}
.customer .title-wrap .user-data-wrap {padding-bottom:20px;border-bottom:0;}
.customer .con-tit {margin-bottom:18px;font-size:20px;font-weight:bold;color:#010101;}
.customer .box-bg-gray {padding:40px;background:#f7f7f7;}
.customer .seminar-detail {margin-bottom:20px;border-bottom:1px solid #ebe9ea;}
.customer .seminar-detail .cal {position:relative;padding-left:30px;margin-bottom:8px;font-size:18px;color:#4f5eaf;line-height:1;}
.customer .seminar-detail .cal:before {content:'';position:absolute;display:inline-block;left:0;width:30px;height:18px;background:url('../images/customer/img_calendar.png') 0 center no-repeat;}
.customer .seminar-detail .cal .date {margin-left:20px;color:#333;}
.customer .seminar-detail .lecturer {position:relative;padding-left:30px;font-size:18px;color:#4f5eaf;}
.customer .seminar-detail .lecturer:before {content:'';position:absolute;display:inline-block;left:0;width:30px;height:27px;background:url('../images/customer/img_lecturer.png') 0 center no-repeat;}


.customer .lecturer-detail {margin-top:20px;margin-bottom:35px;}
.customer .lecturer-detail ul {margin-left:-10px;}
.customer .lecturer-detail:after {display:block; content:""; clear:both;}
.customer .lecturer-detail li {display:inline-block !important; font-size:0; margin-left:10px; margin-bottom:10px; vertical-align:middle; width:210px;min-height:83px; padding:13px 35px; box-sizing:border-box;border:1px solid #ccc;text-align:center;background:#fff;}
.customer .lecturer-detail .ppl .name {padding-bottom:5px;font-size:16px;}
.customer .lecturer-detail .ppl .space {width:20px;vertical-align:baseline;}
.customer .lecturer-detail .ppl .link a {font-size:14px;color:#4f5eaf;}
.customer .lecturer-detail .ppl.nolink {/* display:table; */}
.customer .lecturer-detail .ppl.nolink .name {/* display:table-cell; */vertical-align:middle;line-height:50px;} 

/*
.customer .lecturer-detail {margin-top:20px;margin-bottom:35px;}
.customer .lecturer-detail .inner {clear:both;overflow:hidden;}
.customer .lecturer-detail .inner + .inner {margin-top:10px;}
.customer .lecturer-detail .ppl {float:left;width:215px;min-height:83px;padding:13px 35px;box-sizing:border-box;border:1px solid #ccc;text-align:center;background:#fff;}
.customer .lecturer-detail .ppl + .ppl {margin-left:10px;}
.customer .lecturer-detail .ppl .name {padding-bottom:5px;font-size:16px;}
.customer .lecturer-detail .ppl .space {width:20px;}
.customer .lecturer-detail .ppl .link a {font-size:14px;color:#4f5eaf;}
.customer .lecturer-detail .ppl.nolink {display:table;}
.customer .lecturer-detail .ppl.nolink .name {display:table-cell;vertical-align:middle;}

*/



.customer .seminar-view-txt {padding-bottom:35px;font-size:16px;color:#666;line-height:28px;}
.customer .map-view {width:100%;height:400px;}
.customer .map-address {position:relative;margin-top:16px;padding-left:26px;font-size:16px;color:#666;}
.customer .map-address:before {content:'';position:absolute;display:inlnie-block;left:0;width:26px;height:24px;background:url('../images/customer/img_map_location.png') 0 center no-repeat;}
.customer .box-map {padding-bottom:37px;border-bottom:1px solid #ebe9ea;}
.customer .box-map .map-view img {width:100%;height:100%;}
.customer .table-type1.list{margin-bottom:20px;}
/*.customer .table-type1.list th{padding-left:20px;}*/
.customer .table-type1.list th.vt{vertical-align:top;}
/*.customer .table-type1.list th span{color:#d62727;margin-left:5px;}*/
/*.customer .table-type1.list td{padding:9px 20px;height:60px;}*/
/*.customer .table-type1.list td select{width:270px;float:left;margin-right:10px;height:43px;padding-left:15px;}*/
/*.customer .table-type1.list td .writer-box{margin:0;height:250px;}*/
/*.customer .table-type1.list td input[type=text]{width:100%;box-sizing:border-box;margin:0;height:43px;}*/
/*.customer .table-type1.list td input[type=file]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}*/
/*.customer .table-type1.list td label{display:inline-block;margin:0;padding:0;width:110px;height:34px;background:#4f5eaf;border:1px solid #4f5eaf;border-radius:3px;text-align:center;line-height:34px;font-size:14px;color:#fff;cursor:pointer;}*/
/*.customer .table-type1.list td .writer-box textarea{height:250px;border-color:#ccc;padding:15px 15px;}*/
/*.customer .table-type1.list td p.red{color:#d62727;margin-top:10px;}*/
/*.customer .table-type1.list th{padding-left:20px;}*/
/*.customer .table-type1.list th.vt{vertical-align:top;}*/
.customer .table-type1.list th span{color:#d62727;}
/*.customer .table-type1.list td{padding:10px 20px;}*/
/*.customer .table-type1.list td .writer-box{margin:0;height:250px;}*/
/*.customer .table-type1.list td input[type=text]{width:100%;box-sizing:border-box;}*/
/*.customer .table-type1.list td .writer-box textarea{height:250px;}*/
.customer .board-view .name-program div{display:inline-block;margin-top:25px;font-size:16px;}
.customer .board-view .name-program div.current a{color:#4f5eaf;padding-bottom:5px;}
.customer .board-view .name-program div.current{border-bottom:1px solid #4f5eaf;margin-left:6px;}
.customer .board-view .title.pdt11{padding-top:11px;}
.customer .board-view .view-txt.pdt30{padding:27px 0;font-size:18px;border-bottom:0;}
.customer .board-view .view-txt.pdt30 br{line-height:28px;}
.customer .board-view .file-area{border-bottom:1px solid #ebe9ea; padding:12px 2px 29px; color:#333; }
.customer .board-view .file-area a{vertical-align:middle;font-size:14px;color:#999;}
.customer .board-view .file-area a + a {margin-left:20px;}
.customer .board-view .file-area .file.type2{display:inline-block; vertical-align:middle; margin-right:15px; width:34px; height:34px; background:url(../images/customer/img_icon_type2.png) no-repeat center 0;}
.customer .box-button .inner-right button{width:110px;min-width:0;height:34px;line-height:34px;}
.customer .box-button .inner-right span{height:34px;margin-left:7px;}
.customer .contain-reply .reply-body{height:auto;}
.customer .contain-reply .reply-body .sect-reply {padding:35px 0 0 0;}
.customer .contain-reply .reply-body .sect-reply .header-reply {margin:0 0 40px 0;}
.customer .contain-reply .reply-body .sect-reply .header-reply .login-notice{margin-bottom:25px; font-size:16px; color:#4f5eaf;}
.customer .contain-reply .reply-body .sect-reply .header-reply .box-write-reply {margin:0 0 15px 0;}
.customer .contain-reply .reply-body .sect-reply .header-reply .box-write-reply textarea {width:100%; border-right:1px solid #ccc !important;}
.customer .contain-reply .reply-body .sect-reply .header-reply .box-write-reply .type {bottom:13px; right:18px;}
.customer .contain-content.pdb130{padding-bottom:130px;}

.customer .accordion{margin:0;}
.customer .accordion .arrow{display:block; position:absolute; right:20px; top:16px; width:22px; height:22px; background:url(../images/customer/btn_faq_open.png) no-repeat 0 0;}
.customer .accordion li .faq.no_data{padding:15px 0;text-align:center;color:#333;}
.customer .accordion li a{display:inline-block;padding:15px 0;padding-left:48px;position:relative;}
.customer .accordion li.on .arrow{background:url(../images/customer/btn_faq_close.png) no-repeat 0 0;}
.customer .accordion li.on a{background:0;color:#333;}
.customer .accordion .faq_kinds{display:block;text-align:center;font-size:14px;color:#333;position:absolute;top:50%;left:-100px;margin-top:-10px;}
.customer .accordion .answer{padding:25px 50px 25px 175px !important;line-height:30px;background-color:#f7f7f7 !important;}
.customer .accordion .question{padding-right:50px;display:block;margin-left:150px;}
.customer .accordion .question .question_text{display:block;margin-left:25px;}
.customer .accordion .answer .txt{display:block;margin-left:25px;}
.customer .accordion .qa{color:#4f5eaf;padding-right:10px;float:left;}

/* .customer .top-search-box.faq{margin-bottom:30px;} */
.customer .box-button.calendar .inner-right .btn-type2{margin-bottom:20px;width:110px;height:34px;}
.customer .box-button.calendar .inner-right .btn-type2 button{font-size:14px;}
.customer .all-calendar{width:139px;height:40px;float:left;line-height:40px;font-size:14px;color:#fff;background-color:#4f5eaf;text-align:center;border-right:1px solid #727ebf;}
.customer .contain-news-calendar{display:inline-block;margin-bottom:66px;}
.customer .btn-position{display:block; position:relative;}
.customer .btn-position span {position:absolute; left:0; top:-55px;}
/* .customer .contain-news-calendar .prev{margin-left:13px;} */
.customer .contain-news-calendar .calendar-news-week{margin:0 79px}
.customer .contain-news-calendar .calendar-news-week li{margin:0;width:74px;position:relative;}
.customer .contain-news-calendar .calendar-news-week li .list-number{position:absolute;left:50%;font-size:14px;width:30px;height:30px;margin-top:10px;border-radius:15px;background-color:#ffd800;color:#4f5eaf;line-height:30px;text-align:center;margin-left:-13px;}
.customer .section-content .contain-list-seminar{overflow:hidden;}
.customer .section-content .contain-list-seminar .box-seminar-detail:nth-child(even) {margin-right:0;}
.customer .section-content .contain-list-seminar .box-seminar-detail{width:474px;border:1px solid #eaeaea;margin-bottom:20px; float:left; margin-right:18px;}
/*.customer .section-content .contain-list-seminar .box-seminar-detail.left{}*/
/*.customer .section-content .contain-list-seminar .box-seminar-detail.right{float:right;}*/
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap{margin-left:40px;width:250px; display:inline-block;margin-bottom:40px;}
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-people-img-wrap{float:right;margin-top:82px;margin-right:40px;}
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap .seminar-type-img-wrap{margin-top:40px;margin-bottom:7px;}
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap .title{font-size:18px;display:block;margin-bottom:29px;  height:80px;width:220px; display: block; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;  overflow: hidden; max-height: 80px; box-sizing:border-box; }

.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap dl{font-size:16px;}
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap dt{color:#4f5eaf;float:left;}
.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap dd{color:#666;margin-left:37px;margin-bottom:3px;}

.customer .section-content .contain-list-seminar .box-seminar-detail .seminar-info-wrap dd.address {display:block; height:72px; width:200px;-webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;  overflow: hidden; max-height: 72px; box-sizing:border-box; }
.customer .box-paginate.seminar{padding-top:10px;}

.customer .table-type1 .notice-txt.font-color03 {margin-top:10px;}

/* 171210 콘텐츠성 페이지 추가 > 모정훈 */
p.desc {line-height:24px; font-weight:400; font-size:16px; color:#666; word-wrap:break-word; word-break:keep-all}
p.desc.type2 {color:#333;}
p.desc.small {margin-top:-5px; line-height:22px; font-size:14px;}
.img-area img {display:block; width:100%;}
.img-area.type2 img {width:initial;}
.list-check-area ul li {display:block;}
.box-bd-grey {margin:0 0 0 0; padding:80px 0; text-align:center; font-size:0; border:1px solid #ebe9ea;}
.box-bd-grey > img {display:inline-block;}

/* 와우파 */
.contain-content.cus-wowfa .table-type1 td.text {padding:15px 30px;}
.contain-content.cus-wowfa .table-type1 td .tbl-btn a {padding:0 20px;}
/* 스마트원격지원 */
.contain-content.cus-smart-remote .box-button .btn-type1 a {width:260px;}
/* 환불취소안내 */
.contain-content.cus-cancel-guide .table-type1.list th.text {padding:15px 10px 15px 50px;}
.contain-content.cus-cancel-guide .box-button {padding-top:40px; border-top:1px solid #ebeaea;}
/* SKY LIFE 안내 */
.contain-content.cus-skylife-guide h2.title {margin-top:40px;}
.contain-content.cus-skylife-guide h2.title ~ h2.title {margin-top:90px;}
/* 신규회원 혜택 */
.contain-content.cus-wownet-benefit .box-grey.type2 {margin-bottom:40px;}
.contain-content.cus-wownet-benefit .cus-coupon-area {padding-bottom:40px; border-bottom:1px solid #ebeaea;}
/* P2P 금융 */
.contain-content.cus-wowstar-p2p .box-button {padding-top:40px;}

/* .box-button.type-top */
.box-button.type-top {margin-bottom:20px;}
.box-button.type-top .btn-view-more {height:auto; text-align:right;}
.box-button.type-top .btn-view-more .btn-type2 {height:32px;}
.box-button.type-top .btn-view-more .btn-type2 a {min-width:auto; height:32px; line-height:32px; padding:0 15px;}

/* list-step-img */
.list-step-img {padding:15px 20px; background:#f7f7f7; box-sizing:border-box;}
.list-step-img ul li:after {content:''; display:block; clear:both;}
.list-step-img ul li + li {margin-top:20px;}
.list-step-img ul li .img-area {float:left; display:inline-block;}
.list-step-img ul li .img-area img {display:block;}
.list-step-img ul li .step-area + .img-area {width:100%; margin-top:55px;}
.list-step-img ul li .step-area {float:left; display:inline-block; position:relative; width:auto; height:100%; }
.list-step-img ul li .step-area .step-cont {display:block; position:relative; margin-top:58px; padding-left:45px; line-height:32px; font-weight:400; font-size:16px; color:#666; box-sizing:border-box;}
.list-step-img ul li .step-area .step-cont span.tit {display:block; line-height:32px; font-size:20px; color:#333;}
.list-step-img ul li .step-area .step-cont span.emp {color:#f14e4f;}
.list-step-img ul li .step-area .step-cont span.num {display:block; position:absolute; top:0; left:0; width:30px; height:30px; line-height:31px; text-align:center; font-family:'roboto', sans-serif; font-weight:700; font-size:14px; color:#fff; border-radius:100%; background:#333;}
.list-step-img ul li .step-area .step-cont span.img-desc-ico {display:inline-block; width:26px; height:17px; vertical-align:middle; text-indent:-99999px; font-size:0;}
.list-step-img ul li .step-area .step-cont span.img-desc-ico.ico-set {background:url(../images/customer/img_ico_set.png) center -1px no-repeat;}
.list-step-img ul li .step-area .step-cont span.img-desc-ico.ico-check {background:url(../images/customer/img_ico_check.png) center 2px no-repeat;}
.list-step-img.set-stand ul li:first-child .step-cont {margin-top:39px;}
.list-step-img.set-stand ul li:first-child + li .step-cont:first-child {margin-top:90px;} 
.list-step-img.set-stand ul li:first-child + li .step-cont:first-child + .step-cont {margin-top:118px;} 
.list-step-img.set-tv-stand ul li:first-child .step-cont:first-child {margin-top:39px;} 
.list-step-img.set-tv-stand ul li:first-child .step-cont:first-child + .step-cont {margin-top:50px;} 

.list-step-img.type2 {padding:0; background:#fff;}
.list-step-img.type2.cash-simple ul li:first-child .step-cont:first-child {margin-top:132px;}
.list-step-img.type2.cash-simple ul li:first-child .step-cont:first-child + .step-cont {margin-top:150px;}
.list-step-img.type2.cash-simple ul li:first-child .step-cont:first-child + .step-cont + .step-cont {margin-top:108px;}
.list-step-img.type2.cash-simple ul li:first-child .step-cont:first-child + .step-cont + .step-cont + .step-cont {margin-top:56px;}
.list-step-img.type2.cash-simple ul li:first-child + li .step-cont:first-child {margin-top:170px;} 
.list-step-img.type2.cash-simple ul li:first-child + li .step-cont:first-child + .step-cont {margin-top:80px;} 
.list-step-img.type2.cash-ars ul li:first-child .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-ars ul li:first-child .step-cont:first-child + .step-cont {margin-top:110px;}
.list-step-img.type2.cash-ars ul li:first-child .step-cont:first-child + .step-cont + .step-cont {margin-top:30px;}
.list-step-img.type2.cash-ars ul li:first-child .step-cont:first-child + .step-cont + .step-cont + .step-cont {margin-top:162px;}
.list-step-img.type2.cash-bank ul li + li {margin-top:100px}
.list-step-img.type2.cash-bank ul li:first-child .step-cont:first-child {margin-top:144px;}
.list-step-img.type2.cash-bank ul li:first-child .step-cont:first-child + .step-cont {margin-top:130px;}
.list-step-img.type2.cash-bank ul li:first-child .step-cont:first-child + .step-cont + .step-cont {margin-top:138px;}
.list-step-img.type2.cash-bank ul li:first-child + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-bank ul li:first-child + li + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-bank ul li:first-child + li + li + li .step-cont:first-child {margin-top:136px;}
.list-step-img.type2.cash-credit ul li + li {margin-top:100px}
.list-step-img.type2.cash-credit ul li:first-child .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-credit ul li:first-child .step-cont:first-child + .step-cont {margin-top:134px;}
.list-step-img.type2.cash-credit ul li:first-child .step-cont:first-child + .step-cont + .step-cont {margin-top:206px;}
.list-step-img.type2.cash-credit ul li:first-child + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-credit ul li:first-child + li + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-transfer ul li + li {margin-top:100px}
.list-step-img.type2.cash-transfer ul li:first-child .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-transfer ul li:first-child .step-cont:first-child + .step-cont {margin-top:134px;}
.list-step-img.type2.cash-transfer ul li:first-child .step-cont:first-child + .step-cont + .step-cont {margin-top:183px;}
.list-step-img.type2.cash-transfer ul li:first-child + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-transfer ul li:first-child + li + li .step-cont:first-child {margin-top:130px;}
.list-step-img.type2.cash-transfer ul li:first-child + li + li + li .step-cont:first-child {margin-top:125px;}
.list-step-img.type2.cash-transfer ul li:first-child + li + li + li + li .step-cont:first-child {margin-top:213px;}

.list-step-img.type3 {padding:50px 0;}
.list-step-img.type3 ul li .img-area {padding:0 50px;}
.list-step-img.type3 ul li .step-area .step-cont {margin-top:20px; padding-left:35px;}
.list-step-img.type3 ul li .step-area .step-cont:first-child {margin-top:0;}
.list-step-img.type3 ul li .step-area .step-cont span.num {top:5px; width:24px; height:24px; line-height:25px; border-radius:0; background:#ff0000;}
.list-step-img.type3 ul li .step-area .step-cont span.tit {line-height:33px; font-size:16px;}
.list-step-img.type3 ul li .step-area .list-type1.small ul li {line-height:24px;}
.list-step-img.type3 ul li .step-area .list-type1.small ul li + li {margin-top:0;}
.list-step-img.type3 ul li .step-area a.moresee {display:block; margin:35px 0 0 20px;}

/* box-grey */
.box-grey {position:relative; width:100%; height:340px; text-align:center; background:#fafbff; box-sizing:border-box;}
.box-grey:before {content:''; display:inline-block; height:100%; margin-left:-4px; vertical-align:middle;}
.box-grey .list-type1 {text-align:left;}
.box-grey .list-type1 strong.tit {display:block; margin-bottom:10px; font-weight:400; font-size:20px; color:#333;}
.box-grey .list-type1 ul li {line-height:1.5em; text-align:left; background:url(../images/common/blt_list_type1.png) no-repeat left 10px;} 
.box-grey .list-type1 ul li + li {margin-top:5px;}
.box-grey > .list-type1 {position:absolute;}
.box-grey > img {position:absolute; display:block;}
.box-grey .inner {display:inline-block; vertical-align:middle;}
.box-grey .inner img {display:block;}
/* .box-grey .inner .list-type1 ul {display:inline-block; line-height:1em; vertical-align:middle;}
.box-grey .intro-area > strong.tit {position:relative; display:block; margin:0 0 30px 0; padding:0 0 30px 0; line-height:50px; font-weight:300; font-size:40px; color:#4f5eaf;}
.box-grey .intro-area > strong.tit:after {content:''; display:block; position:absolute; left:0; bottom:0; width:40px; height:5px; background:#4f5eaf;}
.box-grey .intro-area > p.cont {display:block; line-height:22px; font-weight:400; font-size:14px; color:#666;}
.box-grey .intro-area > .list-how-to {margin-top:50px;}
.box-grey .intro-area span.tit-desc {display:block; line-height:24px; font-weight:400; font-size:16px; color:#333;}
.box-grey .intro-area.type2 > strong.tit:after {content:''; top:auto; bottom:0; left:50%; margin-left:-20px;}
.box-grey .intro-area.type2 span.tit-desc {margin-top:10px;} */
.box-grey.cus-iptv {height:467px;}
.box-grey.cus-iptv strong.img-tit {display:inline-block; position:absolute; top:75px; left:50%; margin-left:-125px; line-height:26px; font-weight:300; font-size:44px; color:#4f5eaf;}
.box-grey.cus-iptv .inner {margin-left:-105px;}
.box-grey.cus-iptv > .list-type1.ab1 {top:120px; left:95px;}
.box-grey.cus-iptv > .list-type1.ab2 {top:75px; right:95px;}
.box-grey.cus-iptv > .list-type1.ab3 {top:290px; right:140px;}
.box-grey.cus-n-screen {height:507px;}
.box-grey.cus-ars2 {height:330px;}
.box-grey.cus-partner-join {height:93px;}
.box-grey.cus-p2p {height:800px;}

.box-grey.type2 {height:auto; padding:50px 0 0 0; font-size:0;}
.box-grey.type2:before {content:''; display:none;}
.box-grey.type2 > .img-area {display:inline-block;}
.box-grey.type2 > .img-area img {width:auto;}

/* tab-step-pay-area */
.tab-step-pay-area {margin-bottom:40px;}
.tab-step-pay-area ul:after {content:''; display:block; clear:both;}
.tab-step-pay-area ul li {float:left; position:relative; width:25%; height:220px; /* margin-left:-1px; */ text-align:center; border:1px solid #ccc; box-sizing:border-box;}
.tab-step-pay-area ul li + li {width:calc(25% + 1px); margin-left:-1px;}
.tab-step-pay-area ul li a {display:block; width:100%; height:100%;}
.tab-step-pay-area ul li span.pay-step {display:inline-block; position:absolute; top:0; left:0; width:88px; height:35px; line-height:32px; text-align:center; font-family:'roboto', sans-serif; font-weight:500; font-size:18px; color:#4f5eaf; background:#f7f7f7;}
.tab-step-pay-area ul li strong.tit {display:inline-block; padding-top:165px; line-height:20px; font-weight:400; font-size:20px; color:#333;}
.tab-step-pay-area ul li.list-step1 strong.tit {background:url('../images/customer/ico_cus_pay_step1.png') center 50px no-repeat;}
.tab-step-pay-area ul li.list-step2 strong.tit {background:url('../images/customer/ico_cus_pay_step2.png') center 65px no-repeat;}
.tab-step-pay-area ul li.list-step3 strong.tit {background:url('../images/customer/ico_cus_pay_step3.png') center 60px no-repeat;}
.tab-step-pay-area ul li.list-step4 strong.tit {background:url('../images/customer/ico_cus_pay_step4.png') center 58px no-repeat;}
.tab-step-pay-area ul li.on:after {content:''; display:block; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; z-index:3; border:2px solid #4f5eaf; /* box-sizing:border-box; */}
.tab-step-pay-area ul li.on span.pay-step {color:#fff; background:#4f5eaf;}
.tab-step-pay-area ul li.on strong.tit {font-weight:700;}

/* list-box-moresee */
.list-box-moresee ul:after {content:''; display:block; clear:both;}
.list-box-moresee ul li {float:left; position:relative; width:calc(50% - 10px); height:217px; padding:30px 0 0 30px; border:1px solid #ebe9ea; background:#f9fbfe; box-sizing:border-box;}
.list-box-moresee ul li + li {margin-left:20px;}
.list-box-moresee ul li:nth-child(2n-1) {margin-left:0;}
.list-box-moresee ul li:nth-child(n+3) {margin-top:20px;}
.list-box-moresee ul li strong.tit {display:block; margin-bottom:12px; line-height:18px; font-weight:700; font-size:18px; color:#121212;}
.list-box-moresee ul li p {line-height:26px; font-weight:400; font-size:14px; color:#666;}
.list-box-moresee ul li a.moresee {position:absolute; bottom:40px; left:55px;}
.list-box-moresee ul li .btn-type1 {position:absolute; bottom:30px; left:30px;}
.list-box-moresee ul li .btn-type1 + a.moresee {left:175px;}

/* box-service-guide */
.box-service-guide {position:relative; width:100%; height:514px; padding: 0 85px; text-align:center; border:1px solid #ebeaea; background:#fafbff; box-sizing:border-box;}
.box-service-guide:before {content:''; display:inline-block; height:100%; margin-left:-4px; vertical-align:middle;}
.box-service-guide .inner {display:inline-block; vertical-align:middle;}
.box-service-guide .guide-area {/* text-align:center; */}
.box-service-guide .guide-area + .guide-area {margin-top:40px; padding-top:60px; border-top:1px solid #cccccc;}
.box-service-guide .guide-area strong.tit {display:block; line-height:33px; font-weight:400; font-size:24px; color:#4f5eaf;}
.box-service-guide .guide-area p {margin-top:25px; padding:10px 0 10px 243px; text-align:left; line-height:26px; font-weight:400; font-size:16px; color:#333; background:url(../images/customer/img_cus_sky_family.png) left 50% no-repeat;}
.box-service-guide .guide-area .list-calc {margin-top:60px; text-align:center;}
.box-service-guide .guide-area .list-calc ul {display:inline-block;}
.box-service-guide .guide-area .list-calc ul:after {content:''; display:block; clear:both;}
.box-service-guide .guide-area .list-calc ul li {float:left; display:inline-block;}
.box-service-guide .guide-area .list-calc ul li + li {padding-left:95px;}
.box-service-guide .guide-area .list-calc ul li:first-child + li {background:url(../images/customer/img_cus_sky_plus.png) 30px 50% no-repeat;}
.box-service-guide .guide-area .list-calc ul li:first-child + li + li {background:url(../images/customer/img_cus_sky_equals.png) 30px 50% no-repeat;}
.box-service-guide .guide-area .list-calc ul li {line-height:30px; font-weight:400; font-size:18px; color:#666;}
.box-service-guide .guide-area .list-calc ul li strong {color:#000;}

/* list-step-join */
.list-step-join ul:after {content:''; display:block; clear:both;}
.list-step-join ul li {float:left; position:relative; line-height:22px; font-weight:400; font-size:16px; color:#333;}
.list-step-join ul li + li {margin-left:50px; padding-left:65px;}
.list-step-join ul li + li:after {content:''; display:block; position:absolute; top:50%; left:0; width:17px; height:36px; margin-top:-18px; background:url(../images/customer/bg_step_join_arr.png) 50% 50% no-repeat;}
.list-step-join ul li span.num {padding-left:5px; line-height:24px; font-family:'roboto', sans-serif; font-weight:500; font-size:18px;}

/* use-inquire-area */
.use-inquire-area {position:relative; color:#666;}
.use-inquire-area .list-type1.noti-type {margin-top:5px;}
.use-inquire-area .list-type1.noti-type ul li {line-height:26px; font-size:14px; background:url(../images/common/ico_notice2.png) no-repeat left 5px}
.use-inquire-area .btn-type2.view-more {position:absolute; bottom:5px; right:0;}

/* list-info-vertical */
.list-info-vertical > ul:after {content:''; display:block; clear:both;}
.list-info-vertical > ul > li {float:left; position:relative; box-sizing:border-box;}
.list-info-vertical > ul > li strong.tit-type1 {display:block; line-height:33px; font-weight:400; font-size:24px; color:#4f5eaf;}
.list-info-vertical > ul > li strong.tit-type2 {display:block; line-height:22px; font-weight:600; font-size:18px; color:#000;}
.list-info-vertical > ul > li strong.tit {position:relative; margin-bottom:15px; padding-bottom:19px;}
.list-info-vertical > ul > li strong.tit:after {content:''; display:block; position:absolute; bottom:0; left:50%; width:30px; height:4px; margin-left:-15px; background:#4f5eaf;}
.list-info-vertical > ul > li p.desc.small {margin-top:10px;}
.list-info-vertical > ul > li .list-type1.small {margin-top:15px; padding-top:16px; border-top:1px solid #ebeaea;}
.list-info-vertical > ul > li .list-type1.small ul li {background-position:left 9px;}
.list-info-vertical > ul > li .list-type1.small ul li + li {margin-top:5px;}
.list-info-vertical > ul > li .btn-type2.view-more {margin-top:30px;}
.list-info-vertical.box-type > ul > li {width:296px; padding:40px 20px; text-align:center; border:1px solid #ebeaea; background:#fff;} 
.list-info-vertical.box-type > ul > li + li {margin-left:40px;}
.list-info-vertical.grey-type {display:inline-block;}
.list-info-vertical.grey-type > ul > li {text-align:center; background:transparent;} 
.list-info-vertical.grey-type > ul > li img {margin-top:60px;}
.list-info-vertical.grey-type > ul > li + li:after {content:''; display:block; position:absolute; width:17px; height:36px; background:url(../images/customer/bg_step_join_arr.png) 50% 50% no-repeat;}
.list-info-vertical.grey-type.cus-benefit3  > ul > li {width:224px;} 
.list-info-vertical.grey-type.cus-benefit3 > ul > li + li {margin-left:70px;}
.list-info-vertical.grey-type.cus-benefit3 > ul > li + li:after {bottom:115px; left:-40px;}

.list-info-vertical.grey-type.cus-p2p > ul > li {width:330px;} 
.list-info-vertical.grey-type.cus-p2p > ul > li + li {width:383px; margin-left:95px;}
.list-info-vertical.grey-type.cus-p2p > ul > li + li:after {content:''; display:none;}

/* cus-coupon-are */
.cus-coupon-area:after {content:''; display:block; clear:both;}
.cus-coupon-area .coupon-info {float:left; width:528px;}
.cus-coupon-area .list-type1.small {float:left; margin-left:40px; height:246px; line-height:246px;} 
.cus-coupon-area .list-type1.small ul {display:inline-block; vertical-align:middle;}
.cus-coupon-area .list-type1.small ul li {line-height:19px; letter-spacing:-0.025em;}
.cus-coupon-area .list-type1.small ul li + li {margin-top:20px;}
.cus-coupon-area .list-type1.small ul li span.refer {display:block; margin-top:5px;}

/* //171210 콘텐츠성 페이지 추가 > 모정훈 */




/* subscribe-area */
.subscribe-area h2 {margin-top:40px; margin-bottom:40px;}
.subscribe-area ul li:first-child {margin-left:0;}
.subscribe-area ul:after {display:block; content:""; clear:both;}
.subscribe-area ul li {float:left; margin-left:35px; border:1px solid #ebeaea; width:300px; padding:50px 0 40px; height:270px; box-sizing:border-box; text-align:center;}
.subscribe-area ul li img {display:block;  margin:0 auto; margin-bottom:30px;}
.subscribe-area ul li .btn-type2 {display:block; width:110px; margin:40px auto;}




.list-check-area li { background:url(../images/customer/chk_bg.png) 0 center no-repeat; line-height:26px; padding-left:20px;}
