@charset "utf-8"; /* IR */


/* IR 메인 */
.ir.main {background:#fff;}
.ir.main .wrap {max-width:100%; /* max-width:1920px; */ max-height:1080px; padding:0; background:#fff;}
.ir.main .contain-ir.main {display:block; width:100%; min-width:1630px; height:100%; padding-top:0;}
.ir.main .contain-ir.main > .inner:after {content:''; display:block; clear:both;}
.ir.main .contain-ir.main .sub-section {float:left; display:block; height:100%;}
.ir.main .contain-ir.main .sub-section.slider {width:calc(100% - 755px); min-width:875px;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider {width:100%; overflow:hidden;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul {width:100%; height:1080px} 
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li {height:100%; text-align:center; background:#f6f6f6;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li.box-slider1 {background:url(../images/ir/bg_ir_main_slide1.png) 0 0 no-repeat; background-size:cover;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li > div {display:inline-block; position:relative; padding-bottom:70px; vertical-align:middle;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li > div strong.tit {font-weight:800; font-size:46px; color:#fff; letter-spacing:0.095em;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider ul li > div p.cont {margin-top:25px; line-height:1.4em; font-weight:400; font-size:20px; color:#fff;}
/* .ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-wrapper {max-width:100% !important;} */
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-wrapper .bx-pager {bottom:455px; text-align:center;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-wrapper .bx-pager.bx-default-pager a {width:18px; height:18px; margin:0 11px; border:2px solid #fff; border-radius:100%; background:#fff; box-sizing:border-box;}
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-pager.bx-default-pager a:hover, 
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-wrapper .bx-pager.bx-default-pager a.active, 
.ir.main .contain-ir.main .sub-section.slider .ir-main-slider .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#5a606f;}
.ir.main .contain-ir.main .sub-section.content {width:755px;}
.ir.main .contain-ir.main .sub-section.content > .inner {display:table; width:100%; height:100%;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr {display:table-row;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod {display:table-cell; width:50%; vertical-align:middle; text-align:center;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod:nth-child(odd) {border-right:1px solid #000000;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr ~ .tr .bx-mod {border-top:1px solid #000000;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr:first-child .bx-mod {height:376px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr:first-child + .tr .bx-mod {height:325px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr:first-child + .tr + .tr .bx-mod {height:377px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod > div {display:inline-block;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1 a {display:inline-block; width:266px; height:266px; text-align:center;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1 a:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1.recruit a {background:url(../images/ir/bg_ir_main_recruit.png) 0 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1.club a {background:url(../images/ir/bg_ir_main_club.png) 0 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1 a span {display:inline-block; position:relative; z-index:2; padding-top:20px; line-height:1.53em; vertical-align:middle; font-weight:500; font-size:40px; color:#fff;} 
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type1 a span:after {content:''; display:block; position:absolute; top:7px; left:50%; width:25px; height:3px; margin-left:-12.5px; background:#ffd800;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type2 {background:url(../images/ir/bg_ir_main_busi.png) 0 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type2 > div a {display:block; position:relative; padding-bottom:27px; font-weight:500; font-size:28px; color:#fff;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type2 > div a:after {content:''; display:block; position:absolute; left:50%; bottom:0; width:39px; height:13px; margin-left:-19.5px; background:url(../images/ir/bg_ir_main_arr.png) 0 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type2 > div a ~ a {margin-top:35px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div {width:calc(100% - 80px); text-align:left;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div strong.tit {display:block; position:relative; width:100%; margin-bottom:30px; font-size:18px; color:#000;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div strong.tit a.more {display:block; position:absolute; top:50%; right:0; width:11px; height:11px; margin-top:-5.5px; text-indent:-9999999px; font-size:0; background:url(../images/ir/bg_ir_main_more.png) 0 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div ul li ~ li {margin-top:10px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div ul li a.list-tit {display:block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:16px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type3 > div ul li span.date {font-family:'roboto', sans-serif; font-size:14px; color:#999;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div {width:calc(100% - 80px);} 
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-ico a {display:inline-block; padding-top:65px; font-weight:700; font-size:18px; color:#000;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-ico a ~ a {margin-left:65px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-ico a.adv {background:url(../images/ir/bg_ir_main_adv.png) 50% 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-ico a.dir {background:url(../images/ir/bg_ir_main_dir.png) 50% 0 no-repeat;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey {diplay:table; width:100%; margin-top:50px; padding:30px 0 30px 30px; text-align:left; background:#f7f7f7; box-sizing:border-box;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-tit {display:table-cell; width:110px; text-align:left; border-right:1px solid #ccc;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-tit strong.tit {display:block; font-weight:400; font-size:18px; color:#000}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-tit span.num {display:block; margin-top:5px; font-family:'roboto', sans-serif; font-size:16px; color:#666;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-detail {display:table-cell; padding-left:20px; vertical-align:middle; text-align:left; overflow:visible;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-detail dd {display:inline-block; font-size:18px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-detail dd:last-child {margin-left:10px;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-detail dd.stock-now {display:block; margin-bottom:10px; line-height:34px; vertical-align:top; padding:0; font-size:36px; font-weight:400;}
.ir.main .contain-ir.main .sub-section.content > .inner .tr .bx-mod.type4 > div .bx-grey .stock-detail dd span.data-up {font-family:'roboto', sans-serif;}


/* IR 사이트 */
.ir {min-height:100%; height:100%; background:url(../images/ir/body_pattern.png) repeat 0 0; }
.ir .img-box {margin-bottom:40px;}


/* IR 헤더 */
.ir .header {border-right:1px solid #eae8e9; width:269px; height:100%; min-height:100%; background:#fff; position:fixed; left:0; top:0;}
.ir .header h1 {position:absolute;left:0;top:0;z-index:1;width:100%; text-align:center; padding:40px 0 30px;background:#fff;}
.ir .header .gnb-area {position:relative;padding:111px 0 0 0;background:#4f5eaf; height:100%; width:269px;box-sizing:border-box;overflow:hidden;} 
.ir .header .gnb-area .depth1 > li > a {display:block; color:#fff; line-height:47px; padding:0 35px 0; font-size:16px;}
.ir .header .gnb-area .depth1 > li.on > a {background:#f7f7f7; color:#4f5eaf;}
.ir .header .gnb-area .depth2 {position:absolute; top:0; right:0;padding:111px 0 0 0; background:#f7f7f7; width:140px; height:100%;box-sizing:border-box;}
.ir .header .gnb-area .depth2 > li {padding:0 18px 0}
.ir .header .gnb-area .depth2 > li.on {background:#eef1f6;} 
.ir .header .gnb-area .depth2 > li.on .depth3 {display:block}
.ir .header .gnb-area .depth2 > li > a {font-size:14px; line-height:47px; letter-spacing:-1px;}
.ir .header .gnb-area .depth2 > li.on > a {color:#4f5eaf;}
.ir .header .gnb-area .depth2, 
.ir .header .gnb-area .depth3 {display:none}
.ir .header .gnb-area .depth2.active {display:block;}
.ir .header .gnb-area .depth2 .depth3 {display:none;}
.ir .header .gnb-area .depth2 > li:hover > a { display:block; color:#4f5eaf; }
.ir .header .gnb-area .depth2 > li:hover {background:#eef1f6;}

.ir .header .gnb-area .depth2 li:hover .depth3 {display:block;}
.ir .header .gnb-area .depth3 {border-top:1px solid #4f5eaf}
.ir .header .gnb-area .depth3 li {line-height:35px;line-height:35px;}
.ir .header .gnb-area .depth3 li a{display:block; font-size:14px;}
.ir .header .gnb-area .depth3 li.on a {color:#4f5eaf;}

.ir .header.main .gnb-area {background-color:#fff;}
.ir .header.main .gnb-area .depth1 > li > a {color:#333;padding-left:105px;}
.ir .header.main .gnb-area .depth1 > li > ul {right:-140px;}

/* IR Wrap*/
.ir .wrap {background:#fff; height:100%; margin-left:270px; width:auto; max-width:1400px;  min-height:1000px; box-sizing:border-box; padding-top:0; margin-top:0;}
.ir .wrap .min-wrap {padding:0 20px; background:#fff; padding-bottom:100px; width:auto; max-width:1400px;}


/* IR footer */
.ir .header .footer {background:#fff; width:269px; height:200px; padding:25px 30px; box-sizing:border-box; position:fixed; left:0; bottom:0; color:#999; font-size:14px} 
.ir .header .footer .individual-information {overflow:hidden; margin-bottom:15px;}
.ir .header .footer .individual-information li:first-child {padding:0; background:none;}
.ir .header .footer .individual-information li{float:left; margin-right:10px; padding-left:10px; background:url(../images/ir/individual_line_bg.png) no-repeat 0 center; }
.ir .header .footer .individual-information li a {color:#666}
.ir .header .footer .individual-information li a:hover {color:#4f5eaf;}
.ir .header .footer .customer-center {margin-top:15px; color:#666}
.ir .header .footer .customer-center strong {display:inline-block; margin-left:10px; color:#4f5eaf; }


/* IR family site */
.ir .header .family-area {position:absolute; left:0; bottom:0; width:100%; height:40px; line-height:40px; text-align:center;  border-top:1px solid #ebe9ea; }
.ir .header .family-area .title {border-top:1px solid #ebe9ea; }
.ir .header .family-area a {display:block; background:#fff url(../images/ir/foot_arrow_up.png) no-repeat right 0;}
.ir .header .footer ul.foot-select {display:none; width:100%; position:absolute; bottom:40px; border:1px solid #ebe9ea; }
.ir .header .footer ul.foot-select li a {background-image:none;}
.ir .contain-ir {width:870px; padding-top:60px; margin:0 auto} 
.ir .contain-ir .title-path {margin-bottom:50px;}
.ir .contain-ir .title-path.type2 {margin-bottom:20px;}
.ir .contain-ir .title-path {overflow:hidden;}
.ir .contain-ir .title-path h1,
.ir .contain-ir .title-path h2{float:left;}
.ir .contain-ir .title-path .location-page {position:inherit; float:right; margin-top:15px;}
.ir .contain-ir .title-path .table-top-txt {float:right; margin-top:15px;}
.ir .contain-ir h2.title {font-size:20px;}

/* IR history 연혁 */
.ir-history ul li:after{display:block; clear:both; content:""}
.ir-history ul li:first-child .title{border-top:2px solid #4f5eaf;}
.ir-history ul li:first-child .list{border-top:2px solid #ccc; width:580px; float:right;}
.ir-history ul li {font-size:0;}
.ir-history ul li .title {width:290px; display:inline-block; font-size:30px; color:#999; font-family:'roboto', sans-serif; font-weight:bold; color:#4f5eaf; padding-top:20px;}  
.ir-history ul li .list{width:580px; display:inline-block;}
.ir-history ul li .list li {border-bottom:1px solid #eee; padding:20px 0 20px;}
.ir-history ul li .list li strong {display:inline-block;font-family:'roboto', sans-serif; font-size:15px; width:155px; color:#333; vertical-align:top; padding:3px 0 0 20px; box-sizing:border-box}
.ir-history ul li .list li p {display:inline-block; font-size:16px; width:415px; color:#666 }


/* IR club member 클럽회원사 */
.club-member {margin-bottom:40px;}
.club-member > ul {margin-left:-25px}
.club-member li {font-size:0; display:inline-block; margin:0 0 30px 23px; }
.club-member li .box {border:1px solid #ebe9ea;  width:196px; height:98px;  background: url(../images/ir/club_member_bg.png) no-repeat  center;}
.club-member li .box img {width:196px; height:98px}
.club-member li .link-area {background:#f7f7f7;box-sizing:border-box }
.club-member li .link-area li:first-child {background:none;}
.club-member li .link-area li {padding:10px 0 10px; margin:0; display:inline-block; width:50%; text-align:center;  background: url(../images/ir/club_link_bg.png) no-repeat 0 center;}
.club-member li .link-area a {font-size:14px; background: url(../images/ir/club_link_arrow.png) no-repeat right center; padding-right:10px;}


/* writer */
.writer-box {margin:20px 0 20px; border:0;}
.writer-box textarea {resize:none; margin:0; width:100%; height:400px; font-size:16px; padding:20px 30px 20px; box-sizing:border-box; border:0; border:1px solid #ccc}


/* agreement 동의 */
.agreement {border:1px solid #ebe9ea; padding:30px; margin-bottom:30px;}
.agreement .tit{display:block;color:#333; margin-bottom:15px; font-weight:normal;}
.agreement ul.list-agree > li {display:block; padding-left:15px; font-weight:normal; color:#333; text-indent:-15px;}
.agreement ul.list-agree > li + li {margin-top:15px;}
.agreement ul.list-agree > li .table-type1 {margin:10px 0; text-indent:0;}
.agreement ul.list-agree > li .list-type1.small {position:relative; padding-left:20px;}
.agreement ul.list-agree > li .list-type1.small:after {content:"주)"; display:inline-block; position:absolute; top:0; left:0; font-size:14px; color:#666; text-indent:0;}
.agreement ul.list-agree > li .list-type1.small li {padding:0; font-size:14px; color:#666; text-indent:0; background:none;}
.agreement .agreement-check {border-top:1px solid #ebe9ea; margin-top:30px; padding:20px 0 0}
.agreement .agreement-check label {margin-right:30px;}

/* take-box 조회 박스 */
.take-box {border:1px solid #ebe9ea; padding:60px 0 100px; position:relative; font-size:16px; text-align:center;}
.take-box .btn-type1 {width:295px !important; margin:0 auto;}
.take-box .top-txt {padding-top:110px;}
.take-box .top-txt.pt0 {padding-top:0;}
.take-box .top-txt .name{font-size:24px; color:#4f5eaf;}
.take-box input[type='text']:first-child {margin-top:0;}
.take-box input[type='text'],
.take-box input[type='password'],
.take-box input[type='number'] {width:100%; height:45px; margin-top:10px; box-sizing:border-box; } 
.take-box input.btn-type1 {display:block; width:100%;height:60px;font-size:20px;text-align:center;color:#fff;background:#4f5eaf;border:none;border-radius:3px; margin-top:20px;}
.take-box .search-area {width:415px; margin:0 auto;}
.take-box .search-area .btn-type1{width:100% !important;}
.take-box .foot-box {position:absolute; left:0; bottom:0; right:0; width:100%; padding:17px 0 17px; height:50px; line-height:20px; box-sizing:border-box; color:#666; background:#f7f7f7;}
.take-box .bg-icon {display:block; position:absolute; top:63px; right:56px;width:78px; height:78px; background:url(../images/ir/img_icon_bg01.png) no-repeat 0 0; }
.take-box .bg-icon.type2 {top:50px; right:60px; width:90px; height:90px; background:url(../images/ir/img_icon_bg02.png) no-repeat 0 0; }
.take-box .bg-icon.type3 {top:50px; left:50%; margin-left:-45px; width:90px; height:90px; background:url(../images/ir/img_icon_bg02.png) no-repeat 0 0; }
.take-box.type2 {border-top:2px solid #4f5eaf; background:#f9fbfe; text-align:left; padding:60px 0 60px;}
.take-box.type2 .top-txt {padding-left:60px; font-size:20px; color:#333}
.take-box.type2 .top-txt .name{font-size:24px; color:#4f5eaf;}
.take-box.type2 .top-txt .box {font-size:16px; color:#333; margin-top:30px}
.take-box.type2 .top-txt .box .btn-type2 {background:none !important; height:50px;}
.take-box.type2 .top-txt .box .btn-type2 button {height:50px; font-size:16px; padding:0 55px 0 }
.take-box .search-area input[type='text'] + input[type='text'],
.take-box .search-area input[type='text'] + input[type='submit'],
.take-box .search-area input[type='text'] + input[type='password'] {margin-left:0;}
.cert-number-area {display:block; width:100%;}
.cert-number-area:after {content:''; display:block; clear:both;}
.cert-number-area input[type="number"] {float:left; width:calc(50% - 10px); box-sizing:border-box;}
.cert-number-area span.space {float:left; display:inline-block; width:20px; height:45px; line-height:45px; margin-top:10px;}
.cert-number-area input[type="password"] {float:left; width:calc(50% - 10px); box-sizing:border-box;}
.table-type1 .cert-number-area {margin:-8px 0; vertical-align:middle;}
.table-type1 .cert-number-area span.space {height:32px; line-height:32px; margin-top:0;}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* .take-box.type3 {height:50px; font-size:16px; padding:0 55px 0 }
.take-box.type3 .top-txt {font-size:20px; color:#333; padding-top:170px}
.take-box.type3 .top-txt .name{font-size:24px; color:#4f5eaf;}
.take-box.type3 .top-txt .box .btn-type2 button {height:50px; font-size:16px; padding:0 55px 0 }

 */


/* top search box */
.top-search-box:first-child {margin-top:0;}
.top-search-box {border:1px solid #ebe9ea; padding:22px 40px 18px 0; font-size:0; margin-bottom:20px; margin-top:60px}
.top-search-box label {display:inline-block; font-size:16px; vertical-align:middle; margin:0 15px 0 40px }
.top-search-box .selector label {margin:0; font-size:14px;}
.top-search-box .space {display:inline-block; width:25px; text-align:center; vertical-align:middle; color:#999}

.top-search-box .btn-type3,
.top-search-box select,
.top-search-box input[type='submit'],
.top-search-box input[type='text'] {vertical-align:top;}
.top-search-box .search-section:first-child{margin:0}
.top-search-box .search-section{margin-top:10px; font-size:16px;}

/* .search-bottom-box */
.search-bottom-box {text-align:center; margin:35px 0 35px;}
.search-bottom-box select,
.search-bottom-box input[type='submit'],
.search-bottom-box input[type='text'] {vertical-align:top;}
.search-bottom-box .search-section:first-child{margin:0;}
.search-bottom-box .search-section{margin-top:10px; font-size:16px;}

/* IR 채용정보 텍스트 리스트 */
.ir .txt-list li:first-child {margin:0;}
.ir .txt-list li {font-size:16px; color:#333; margin:15px 0 40px; padding-left:18px; text-indent:-17px;}
.ir .txt-list li span.color01 {color:#4f5eaf;}

/* 171204 서브페이지 모정훈 */
p.desc {line-height:24px; font-weight:400; font-size:16px; color:#666; word-wrap:break-word; word-break:keep-all}
p.desc > strong.tit {display:block; margin-bottom:10px;}
.table-type1.list.ir-busi th {text-align:center;}
.table-type1.list.ir-busi td {padding-left:30px; color:#999;}
.table-type1.list.ir-plat tbody th {text-align:center;} 
.table-type1.list.ir-plat tbody th.bg-w {background:#fff;} 
.table-type1.list.ir-plat tbody td.number {padding: 15px 10px; text-align:center; color:#666;}
.table-type1.list.ir-plat tbody th.img {padding:0;}


.box-intro-area:after {content:''; display:block; clear:both;}
.box-intro-area .left-area {float:left; width:calc(100% - 420px);}
.box-intro-area .right-area {float:right; width:420px;}

.box-intro-area.type2 .left-area {width:auto;}
.box-intro-area.type2 .right-area {float:left; width:auto; margin-left:30px;}
.box-intro-area.type2 strong.tit {display:block; margin-bottom:20px; line-height:1em; font-weight:600; font-size:16px;}


.box-grey {position:relative; width:100%; height:340px; text-align:center; background:#fafbff; box-sizing:border-box;}
.box-grey:before {content:''; display:inline-block; height:100%; margin-left:-4px; vertical-align:middle;}
.box-grey .list-type1 {text-align:left;}
.box-grey .list-type1 strong.tit {display:block; margin-bottom:10px; font-weight:400; font-size:20px; color:#333;}
.box-grey .list-type1 ul li {line-height:1.5em; text-align:left; background:url(../images/common/blt_list_type1.png) no-repeat left 10px;} 
.box-grey .list-type1 ul li + li {margin-top:5px;}
.box-grey > .list-type1 {position:absolute;}
.box-grey > img {position:absolute; display:block;}
.box-grey .inner {display:inline-block; vertical-align:middle;}
.box-grey .inner img {display:block;}
.box-grey .inner .list-type1 ul {display:inline-block; line-height:1em; vertical-align:middle;}
.box-grey .intro-area > strong.tit {position:relative; display:block; margin:0 0 30px 0; padding:0 0 30px 0; line-height:50px; font-weight:300; font-size:40px; color:#4f5eaf;}
.box-grey .intro-area > strong.tit:after {content:''; display:block; position:absolute; left:0; bottom:0; width:40px; height:5px; background:#4f5eaf;}
.box-grey .intro-area > p.cont {display:block; line-height:22px; font-weight:400; font-size:14px; color:#666;}
.box-grey .intro-area > .list-how-to {margin-top:50px;}
.box-grey .intro-area span.tit-desc {display:block; line-height:24px; font-weight:400; font-size:16px; color:#333;}
.box-grey .intro-area.type2 > strong.tit:after {content:''; top:auto; bottom:0; left:50%; margin-left:-20px;}
.box-grey .intro-area.type2 span.tit-desc {margin-top:10px;}

.box-grey.ir-cable,
.box-grey.ir-iptv {height:467px;}
.box-grey.ir-iptv strong.img-tit {display:inline-block; position:absolute; top:75px; left:50%; margin-left:-125px; line-height:26px; font-weight:300; font-size:44px; color:#4f5eaf;}
.box-grey.ir-iptv .inner {margin-left:-105px;}
.box-grey.ir-iptv > .list-type1.ab1 {top:120px; left:40px;}
.box-grey.ir-iptv > .list-type1.ab2 {top:75px; right:40px;}
.box-grey.ir-iptv > .list-type1.ab3 {top:290px; right:80px;}
.box-grey.ir-edu .inner img {float:left;}
.box-grey.ir-edu .inner .list-type1 {float:left; height:252px; line-height:252px; margin-left:20px;}
.box-grey.ir-wow {height:503px; padding-left:70px; text-align:left;}
.box-grey.ir-wow > img {top:90px; right:100px;}
.box-grey.ir-mobile-app {height:603px; margin-bottom:265px;}
.box-grey.ir-mobile-app .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-mobile-app img {top:317px; left:50%; margin-left:-268px;}
.box-grey.ir-mobile-app2 {height:246px; margin-top:20px; padding-left:40px; text-align:left;}
.box-grey.ir-stock-window {height:632px; margin-bottom:155px;}
.box-grey.ir-stock-window .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-stock-window img {top:307px; left:50%; margin-left:-333px;}
.box-grey.ir-google-tv-intro {height:875px;}
.box-grey.ir-google-tv-intro .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-google-tv-intro img {top:327px; left:50%; margin-left:-217px;}
.box-grey.ir-google-tv-noti {height:1540px;}
.box-grey.ir-google-tv-noti .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-google-tv-noti .inner strong.tit:after {content:''; display:none;}
.box-grey.ir-apple-tv-intro {height:1050px;}
.box-grey.ir-apple-tv-intro .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-apple-tv-intro img {top:287px; left:50%; margin-left:-307px;}
.box-grey.ir-apple-tv-noti {height:1950px;}
.box-grey.ir-apple-tv-noti .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-apple-tv-noti .inner strong.tit:after {content:''; display:none;}
.box-grey.ir-smart-howto {height:160px;}
.box-grey.ir-smart-howto-app2 {height:2410px;}
.box-grey.ir-smart-howto-app2 .list-type-dotted2 {position:absolute; top:20px; left:40px;}
.box-grey.ir-smart-howto-app2 .inner {padding-top:55px; vertical-align:top;}
.box-grey.ir-smart-howto-trade2 {height:940px; text-align:left; padding-left:60px;}
.box-grey.ir-smart-howto-trade2 .list-type-dotted2 {position:absolute; top:20px; left:40px;}
.box-grey.ir-smart-howto-trade2 .inner {padding-top:95px; vertical-align:top;}
.box-grey.ir-smart-howto-trade2 .inner:after {content:''; display:block; clear:both;}
.box-grey.ir-smart-howto-trade2 .inner .list-how-to.img-type.type2 {float:left; width:296px; text-align:center;}
.box-grey.ir-smart-howto-trade2 .inner .list-how-to.img-type.type2 ul li img {width:100%;}
.box-grey.ir-smart-howto-trade2 .inner > img {float:left; display:block; margin:40px 0 0 120px;}
.box-grey.ir-smart-intro {height:2180px;}
.box-grey.ir-smart-intro.sub2 {height:2235px;}
.box-grey.ir-smart-intro .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-smart-intro .inner strong.tit {margin:0;}
.box-grey.ir-smart-intro .inner strong.tit:after {content:''; display:none;}
.box-grey.ir-smart-intro .inner .intro-area img {display:block; margin:60px auto 5px;}
.box-grey.ir-smart-service {height:1100px;}
.box-grey.ir-smart-service .inner {padding-top:65px; vertical-align:top;}
.box-grey.ir-smart-service .inner .intro-area img {display:block; margin:0 auto 25px;}
.box-grey.ir-smart-service .inner .intro-area span.sub-tit {display:block; margin-bottom:10px; line-height:32px; font-weight:700; font-size:18px; color:#000;}
.box-grey.ir-smart-service .inner .intro-area .box-app-icon {position:relative; width:542px; margin:60px auto 0; padding:35px 0 35px 30px; text-align:left; background: #fff url(../images/ir/ir_smart_service_apps.png) 345px 50% no-repeat;  box-sizing:border-box;}
.box-grey.ir-smart-service .inner .intro-area .box-app-icon:after {content:''; display:block; position:absolute; bottom:-20px; left:50%; width:32px; height:20px; margin-left:-16px; background:url(../images/ir/ir_smart_service_apps_arr.png) 0 0 no-repeat;}
.box-grey.ir-smart-service .inner .intro-area .box-app-icon strong.font-color02 {display:block; margin-bottom:5px; font-size:16px;}
.box-grey.ir-smart-service .inner .intro-area .box-app-icon p {color:#666;}
.box-grey.ir-smart-service .inner .intro-area .tit-desc {margin-top:40px;}
.box-grey.ir-trade-dtv {height:1030px; padding-left:230px; text-align:left;}
.box-grey.ir-trade-service {height:260px; padding-left:40px; text-align:left;}
.box-grey.ir-trade-service .list-type-dotted2 ul li {padding-left:0;}
.box-grey.ir-trade-service .list-type-dotted2 ul li:before {content:''; display:none;}
.box-grey.ir-trade-service .list-type-dotted2 ul li strong.tit {width:118px;}
.box-grey.ir-trade-service2 {height:165px;}
.box-grey.ir-trade-service2 .inner {width:100%;}
.box-grey.ir-trade-service2 .list-type-dotted2 {width:100%; padding:0 40px; box-sizing:border-box;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul:after {content:''; display:block; clear:both;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul li {float:left; width:50%; margin-top:5px; padding-left:0;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul li:before {content:''; display:none;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul li strong.tit {width:97px; font-size:14px; color:#000;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul li span.cont {font-size:14px; color:#666;}
.box-grey.ir-trade-service2 .list-type-dotted2 ul li span.cont span.link {padding-left:10px;}
.box-grey.ir-connect-merit {height:222px; padding-left:40px; text-align:left;}
.box-grey.ir-connect-merit .inner strong.tit {display:block; margin-bottom:15px; line-height:16px; font-weight:600; font-size:16px;}
.box-grey.ir-connect-howto {height:200px; padding-left:40px; text-align:left;}
.box-grey.ir-connect-howto .list-type-dotted2 ul li {padding-left:0;}
.box-grey.ir-connect-howto .list-type-dotted2 ul li:before {content:''; display:none;}
.box-grey.ir-connect-howto .list-type-dotted2 ul li strong.tit {width:118px;}
.box-grey.ir-dmb {height:273px;}
.box-grey.ir-n-screen {height:507px;}

.box-bd-grey {padding:40px; border:1px solid #ebe9ea;}
.box-bd-grey + .box-bd-grey {margin-top:20px;}
.box-bd-grey strong.tit {position:relative; display:block; margin-bottom:40px; padding-left:8px; line-height:32px; font-weight:400; font-size:16px; color:#000;}
.box-bd-grey strong.tit:after {content:''; display:block; position:absolute; top:14px; left:0; width:3px; height:3px; border-radius:100%; background:#000;}
.box-bd-grey .list-img-area.type1 ul:after {content:''; display:block; clear:both;}
.box-bd-grey .list-img-area.type1 ul li {float:left;}
.box-bd-grey .list-img-area.type1 ul li + li {margin-left:20px;}
.box-bd-grey .list-how-to.img-type.type3 ul li {margin: 20px 0 0 40px; text-align:center;}
.box-bd-grey .list-how-to.img-type.type3 ul li:nth-child(2n+1) {margin:20px 0 0;}
.box-bd-grey .list-how-to.img-type.type3 ul li:first-child,
.box-bd-grey .list-how-to.img-type.type3 ul li:first-child + li {margin-top:0;}

.list-type-dotted ul li {position:relative; padding-left:15px;}
.list-type-dotted ul li + li {margin-top:25px;}
.list-type-dotted ul li:after {content:''; display:block; position:absolute; top:11px; left:0; width:5px; height:5px; border-radius:100%; background:#4c5cbd;}
.list-type-dotted ul li strong.tit {display:block; line-height:26px; font-weight:600; font-size:18px; color:#333;}
.list-type-dotted ul li p.cont {line-height:28px; font-weight:400; font-size:16px; color:#666;}

.list-type-dotted2 ul li {position:relative; padding-left:10px; font-size:0;}
.list-type-dotted2 ul li:before {content:''; display:block; position:absolute; top:11px; left:0; width:2px; height:2px; border-radius:100%; background:#a0a0a0;} 
.list-type-dotted2 ul li:after {content:''; display:block; clear:both;}
.list-type-dotted2 ul li + li {margin-top:7px;}
.list-type-dotted2 ul li strong.tit {float:left; display:inline-block; width:73px; text-align:left; font-size:16px; color:#4f5eaf; box-sizing:border-box;}
.list-type-dotted2 ul li span.cont {float:left; display:inline-block; text-align:left; font-size:16px; color:#333; box-sizing:border-box;}

.list-how-to strong.tit {display:block; margin-bottom:5px; line-height:32px; font-weight:600; font-size:18px; color:#000;}
.list-how-to ul li {position:relative; line-height:22px; font-weight:400; font-size:16px; color:#333; letter-spacing:-0.025em;}
.list-how-to ul li span.num {display:inline-block; width:23px; line-height:22px; font-family:'roboto', sans-serif; font-weight:600; font-size:16px; color:#4f5eaf; letter-spacing:-0.025em;}

.list-how-to.img-type strong.tit {margin-bottom:10px;}
.list-how-to.img-type ul li + li {margin-top:25px; padding-top:40px;}
.list-how-to.img-type ul li + li:after {content:''; display:block; position:absolute; top:0; left:50%; width:25px; height:13px; margin-left:-13px; background:url(../images/ir/bg_how_to_arr.png) 0 0 no-repeat;}
.list-how-to.img-type ul li img {display:block; margin:0 auto 20px;}
.list-how-to.img-type.type2 li + li {margin-top:0;}
.list-how-to.img-type.type2 li + li:after {content:''; display:none;}

.list-how-to.img-type.type3 {width:788px;}
.list-how-to.img-type.type3 ul:after {content:''; display:block; clear:both;}
.list-how-to.img-type.type3 ul li {float:left; width:calc(50% - 20px); height:310px; margin:35px 0 0 40px; padding:0;}
.list-how-to.img-type.type3 ul li:nth-child(2n+1) {margin:35px 0 0;}
.list-how-to.img-type.type3 ul li + li:after {content:''; display:none;}
.list-how-to.img-type.type3 ul li strong.tit {margin-bottom:15px;}
.list-how-to.img-type.type3 ul li strong.tit span.arr {display:inline-block; margin-left:10px; padding-left:17px; background:url(../images/ir/bg_how_to_arr2.png) left 50% no-repeat;}
.list-how-to.img-type.type3 ul li img {display:block; width:100%;}

.list-how-to.step-type {display:block; padding:0 15px; text-align:left; box-sizing:border-box;}
.list-how-to.step-type ul:after {content:''; display:block; clear:both;}
.list-how-to.step-type ul li {float:left; display:block; width:123px;}
.list-how-to.step-type ul li:after {content:''; display:inline-block; clear:both;}
.list-how-to.step-type ul li + li {text-align:center; padding:0 0 0 20px; background:url(../images/ir/bg_how_to_arr2.png) left 50% no-repeat;}
.list-how-to.step-type ul li:nth-child(n+7) {float:right; margin-top:30px; background:url(../images/ir/bg_how_to_arr3.png) left 50% no-repeat;}
.list-how-to.step-type ul li:nth-child(7) {text-align:center;}
.list-how-to.step-type ul li:nth-child(7):after {content:''; display:block; position:absolute; top:-20px; left:50%; width:15px; height:8px; margin-left:-7px; background:url(../images/ir/bg_how_to_arr4.png) 0 0 no-repeat; }
.list-how-to.step-type ul li:last-child {background:none;}

.list-info ul {display:table;}
.list-info ul li {display:table-row;}
.list-info ul li > * {padding-bottom:20px;}
.list-info ul li strong.tit {position:relative; display:table-cell; vertical-align:middle; width:100px; font-size:16px; color:#000;}
.list-info ul li strong.tit:after {content:''; display:block; position:absolute; top:12px; right:0; width:1px; height:12px; margin-top:-6px; background:#ebeaea;}
.list-info ul li span.cont {display:table-cell; vertical-align:middle; padding-left:24px;}
.list-info + .box-button {padding-top:40px; border-top:1px solid #ebe9ea;}

.down-file-area {font-size:0;}
.down-file-area a.down-file {display:inline-block; height:50px; line-height:48px; padding:0 20px 0 53px; font-size:14px; color:#666; border:1px solid #ccc; border-radius:2px; box-sizing:border-box;}
.down-file-area a.down-file + a.down-file {margin-left:20px;}
.down-file-area a.down-file.pdf {background:url(../images/ir/bg_down_file_pdf.png) 18px 50% no-repeat;}
.down-file-area a.down-file.excel {background:url(../images/ir/bg_down_file_excel.png) 18px 50% no-repeat;}
.down-file-area a.down-file span {position:relative; line-height:12px; padding-left:11px;}
.down-file-area a.down-file span:after {content:''; display:block; position:absolute; top:50%; left:0; width:1px; height:12px; margin-top:-6px; background:#ccc;}

.down-app-area .wrap-app + .wrap-app {margin-top:40px;}
.down-app-area .wrap-app:after {content:''; display:block; clear:both;}
.down-app-area .wrap-app a.btn-down-app {float:left; display:block; width:220px; height:78px; text-indent:-99999px; font-size:0; border-radius:10px;}
.down-app-area .wrap-app a.btn-down-app.google-play {background:#000 url(../images/ir/btn_down_app_google_play.jpg) 50% 50% no-repeat;}
.down-app-area .wrap-app a.btn-down-app.app-store {background:#000 url(../images/ir/btn_down_app_store.jpg) 50% 50% no-repeat;}
.down-app-area .wrap-app .send-letter-area {float:left; height:78px; line-height:78px; padding-left:30px;}
.down-app-area .wrap-app .send-letter-area .inner {display:inline-block; vertical-align:middle;}
.down-app-area .wrap-app .send-letter-area .inner p {margin-bottom:15px; line-height:16px; font-weight:400; font-size:16px; color:#666;}
.down-app-area .wrap-app .send-letter-area .inner .box-phone-form {line-height:normal; font-size:0;}
.down-app-area .wrap-app .send-letter-area .inner .box-phone-form span.hyphen {display:inline-block; position:relative; width:16px; height:34px; vertical-align:middle; text-indent:-99999px; font-size:0;}
.down-app-area .wrap-app .send-letter-area .inner .box-phone-form span.hyphen:after {content:''; display:block; position:absolute; top:50%; left:50%; width:6px; height:1px; margin-left:-3px; background:#ccc;}
.down-app-area .wrap-app .send-letter-area .inner .box-phone-form .selector {line-height:normal;}
.down-app-area .wrap-app .send-letter-area .inner .box-phone-form .btn-type3 {margin-top:1px; margin-left:10px;}

.logo-call-area {display:block; height:20px; line-height:20px; margin-top:35px; font-size:0;}
.logo-call-area strong.tit-logo {display:inline-block; vertical-align:middle; width:193px; height:21px; margin-right:20px; text-indent:-9999999px; font-size:0; background:url(../images/ir/ir_logo_call.jpg) 0 0 no-repeat;}
.logo-call-area span.call-num{display:inline-block; vertical-align:middle; font-family:'roboto', sans-serif; font-weight:400; font-size:24px; color:#0a286e;}

/* //171204 서브페이지 모정훈 */




