@charset "utf-8"; 

/** 부동산 메인 **/
.section-land:first-child {margin-top:30px;}
.section-land ~ .section-land {margin-top:50px;}
.section-land:after {content:''; display:block; clear:both;}
.section-land h2 {position:relative; width:100%; margin-bottom:20px; line-height:1em; font-size:28px;}
.section-land h2 a.more {display:block; position:absolute; top:50%; right:0; width:19px; height:19px; margin-top:-9.5px; text-indent:-9999em; font-size:0; background:url(../images/common/bg_h2_more.png) 0 0 no-repeat;}
.section-land .left-box {float:left; width:779px;  overflow:hidden;} 
.section-land .right-box {float:right; width:360px;} 
.section-land .left-box.col2:after {content:''; display:block; clear:both;}
.section-land .left-box .left-sub {float:left; width:360px;}
.section-land .left-box .right-sub {float:right; width:360px;}
/* 지도 API 뉴스 */
.land-map {position:relative; width:100%; height:438px; border:1px solid #ccc; box-sizing:border-box;}
.land-map .map-location-area {height:30px; line-height:30px; padding-left:15px; font-size:0;}
.land-map .map-location-area span.path {display:inline-block; font-size:0;}
.land-map .map-location-area span.path:first-child {padding-left:21px; background:url(../images/common/bg_map_location.png) no-repeat 0 9px;}
.land-map .map-location-area span.path ~ span.path {padding-left:13px; background:url(../images/common/bg_map_selectbox_arr.png) no-repeat 0 10px;}
.land-map .map-location-area span.path select {height:30px; line-height:30px; padding: 0 18px 0 0px; font-size:12px; color:#000; border:none; background:#fff url(../images/common/bg_map_selectbox.png) no-repeat 90% 50%;}
.land-map .map-location-area .btn-type4 {width:50px; height:20px; margin-left:15px;}
.land-map .map-location-area .btn-type4 a {width:50px; height:20px; padding:0; text-align:center; line-height:20px; font-size:12px; box-sizing:border-box;}
.land-map .map-area {position:relative; z-index:2; display:block; width:100%; height:406px; overflow:hidden;}
.land-map .map-area:before{display:block; content:""; position:absolute; left:0; top:0; width:100%; height:100%;background: url(../images/common/dim_bg01.png) repeat-x 100% 100% ; z-index:1}
.land-map .map-area img {display:block; width:100%; height:100%;}
.land-map .icon-play {z-index:2;}
.land-map .map-cont {display:block; position:absolute; left:0; bottom:0; z-index:2; width:100%; /*background:url(../images/land/temp_map_dim.png) 0 0 repeat; opacity:0.7;*/ box-sizing:border-box;}
.land-map .map-cont:after {content:''; display:block; position:absolute; top:30px; left:30px; width:44px; height:4px; background:#ffd800;}
.land-map .map-cont a {display:block; width:100%; height:100%; padding:30px; box-sizing:border-box;}
.land-map .map-cont strong.tit {display:block; width:630px; line-height:1.75em; font-weight:500; font-size:24px; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.land-map .map-cont span.cont {display:block; width:580px; line-height:1.5em; font-weight:400; font-size:16px;; color:#fff; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:48px; overflow:hidden; word-wrap:break-word; word-break:keep-all;}
/* 분양 핫이슈 / 부동산 일반 / 분양뉴스 &amp; 분석전략 */
.list-land {width:100%;}
.list-land .img-area {position:relative; width:100%;}
.list-land.issue .img-area {height:203px;}
.list-land.issue .img-area img {height:203px;}
.list-land.common .img-area {height:203px;}
.list-land.video .img-area {height:203px;}
.list-land .img-area a {display:block; width:100%; height:202px;}
.list-land .img-area a:before {display:block; content:""; position:absolute; left:0; top:0; width:100%; height:100%;background: url(../images/common/dim_bg01.png) repeat-x 100% ;}
.list-land .img-area .box-icon {position:absolute; bottom:65px; left:20px; z-index:3;}
.list-land .img-area img {width:100%; height:100%;}
.list-land .img-area span.tit {position:absolute; bottom:15px; left:20px; z-index:3; width:calc(100% - 45px); line-height:24px; font-weight:400; font-size:18px; color:#fff; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:48px; overflow:hidden; word-wrap:break-word; word-break:keep-all;}
.list-land ul {margin-top:10px;}
.list-land ul li {display:block; width:100%; line-height:32px;}
.list-land ul li span.box-icon {margin-top:-4px; margin-bottom:0; vertical-align:middle;}
.list-land ul li span.tit {display:inline-block; width:100%; line-height:30px; vertical-align:middle; font-weight:400; font-size:18px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.list-land ul li span.box-icon + span.tit {width:calc(100% - 45px);}
/* 부동산 클로즈업 */
.thumb-land {width:100%; height:312px;}
.thumb-land:after {content:""; display:block; clear:both;}
.thumb-land .left-box {float:left; width:233px; height:308px;}
.thumb-land .left-box .img-area {position:relative; width:100%; height:100%; overflow: hidden;}
.thumb-land .left-box .img-area img {width:300px; height:400px; margin-left:-32px; margin-top:-47px}
.thumb-land .right-box {float:right; width:calc(100% - 233px); height:154px}
.thumb-land .right-box:after {content:""; display:block; clear:both;}
.thumb-land .right-box .img-area {float:left; position:relative; width:50%; height:154px}
.thumb-land .img-area a {display:block; width:100%; height:100%;}
.thumb-land .img-area a:before {display:block; content:""; position:absolute; left:0; top:0; width:100%; height:100%;background: url(../images/common/dim_bg01.png) repeat-x 100% 100% ;}
.thumb-land .right-box .img-area a:before {background: url(../images/common/dim_bg01.png) repeat-x 100% ;}
.thumb-land .img-area .box-icon {position:absolute; bottom:65px; left:20px; z-index:3;}
.thumb-land .img-area img {width:100%; height:100%; }
.thumb-land .img-area span.tit {position:absolute; bottom:15px; left:20px; z-index:3; width:calc(100% - 60px); line-height:22px; font-weight:400; font-size:16px; color:#fff; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; max-height:44px; overflow:hidden; word-wrap:break-word; word-break:keep-all;}
/* 부동산 배너박스 */
.land-banner {display:block; width:360px; height:360px; padding:30px; background:#f7f7f7; box-sizing:border-box;}
.land-banner a {display:block; width:100%; height:100%;}
.land-banner img {width:300px; height:300px;}
/* 부동산 영상 */
.list-video ul li {padding:10px 0;}
.list-video ul li:first-child {padding-top:0;}
.list-video ul li:after {content:""; display:block; clear:both;} 
.list-video ul li span.img-area {float:left; position:relative; width:165px; height:93px;}
.list-video ul li span.img-area:before {content:''; display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background:#000; opacity:0.4;}
/* .list-video ul li span.img-area:after {content:''; display:block; position:absolute; bottom:10px; right:10px; z-index:2; width:31px; height:31px; background:url(../images/land/ico_video.png) center center no-repeat; opacity:0.4;} */
.list-video ul li span.img-area img {width:100%; height:100%;}
.list-video ul li span.cont {float:left; width:calc(100% - 165px); padding-left:14px; line-height:22px; font-weight:400; font-size:18px; color:#000; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; max-height:66px; overflow:hidden; word-wrap:break-word; word-break:keep-all; box-sizing:border-box;}

/* 부동산 지도 */
.land-map-area{margin-top:10px;border:1px solid #dcdcdc}
.land-map-area .map-view{height:46px;padding-left:18px}
.land-map-area .map-view .obj{position:relative;float:left;font-size:15px;line-height:46px;padding-right:45px;color:#000;cursor:pointer}
.land-map-area .map-view .obj:after{content:'';display:block;position:absolute;top:10px;right:0;width:37px;height:30px;background:url('../images/land/btn_openClose.png') 0 -30px no-repeat}
.land-map-area .map-view .obj.on:after{background:url('../images/land/btn_openClose.png') 0 0 no-repeat}
.land-map-area .map-view .obj-select{float:right;}
.land-map-area .map-view .obj-select span{display:inline-block;padding:6px 8px 0 0;height:46px;box-sizing:border-box;background:url('../images/land/bg_land_map.png') right 0 no-repeat;}
.land-map-area .map-view .obj-select span:last-child{padding-right:0;background:none;}
.land-map-area .map-view .obj-select select{background-color:transparent;border:none}
.land-map-area .map-location{border-top:1px solid #dcdcdc}


/* 메인 배너*/
.main-banner:after {display:block; content:""; clear:both;}
.main-banner {margin:60px 0 50px}
.main-banner div:first-child {margin-left:0;}
.main-banner div {width:360px; height:160px; background:#dcdcdc; float:left; margin-left:60px; text-align: center; line-height:160px;}






.map-area .map-view:after{
	content:'';
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
}













