@charset "utf-8"; 

/* 운영정책 */
.section-area:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.policy-gnb-area{border-top:1px solid #ebe9ea;border-bottom:1px solid #ebe9ea;}
.policy-gnb-area ul{width:1200px;margin:0 auto;}
.policy-gnb-area ul:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.policy-gnb-area ul li{float:left;}
.policy-gnb-area ul li.on a{color:#4f5eaf}
.policy-gnb-area ul li a{display:block;height:60px;line-height:60px;font-size:20px;padding-right:36px;}

.box-type-grawn{margin-bottom:30px;padding:20px 40px;line-height:30px;background:#f7f7f7}

.img-mark-area{float:left;margin:20px 0;}
.img-mark-area img{display:block;}
.img-mark-area + .list-type-num{float:left;margin:0 0 0 20px;padding-top:100px}

.title-area:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.title-area .fl{float:left;display:inline-block;width:calc(100% - 150px);}
.title-area .day{display:inline-block;margin-top:20px;}

.box-policy-area{padding-bottom:30px;margin-bottom:30px;}
.box-policy-area p{font-size:15px}

.obj-cont p{font-size:15px;}
.obj-cont + .obj-cont{margin-top:35px}

.box-type-policy{width:calc(50% - 20px);float:left;margin-right:20px;}
.box-type-policy:nth-child(2n + 1){margin-right:0}
.box-type-policy dt{min-height:78px;padding:27px 5px 9px;font-size:18px;text-align:center;background:#f7f7f7;box-sizing:border-box}
.box-type-policy dt strong,
.box-type-policy dt span{display:inline-block;vertical-align:middle;}
.box-type-policy dd{min-height:58px;margin-bottom:20px;padding:17px 5px 9px;text-align:center;box-sizing:border-box;border-left:1px solid #ebe9ea;border-bottom:1px solid #ebe9ea;border-right:1px solid #ebe9ea;}
.box-type-policy dd p{display:inline-block;vertical-align:middle;padding:0 10px}
.box-type-policy dd.txt-l{padding:15px}
.box-type-policy dd.txt-l p{min-width:135px;}
.box-type-policy dd a{font-weight:700}
.box-type-policy.type01{float:none;width:100%;}
.box-type-policy.type01 dt{text-align:left;padding:27px 30px 9px;}
.box-type-policy.type01 dd{text-align:left;padding:17px 30px 9px;line-height:28px;}
.box-type-policy.type01 dd p{margin-right:30px}
.box-type-policy.type01 dd strong{display:inline-block;margin-right:10px}

.box-type-inner{text-align:left;}
.box-type-inner p{display:inline-block;padding:0 5px;}
 
.list-type-num > li{padding:3px 0;font-size:15px}
.list-type-num > li:after,
.list-type-num > li strong:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.list-type-num > li strong.txt-block{display:block;}
.list-type-num a{text-decoration:underline;}
.list-type-num .list-type-num01{margin:5px 0 5px 35px}
.list-type-num .list-type-num02{margin:5px 0 5px 15px}

.list-type-num01 > li{list-style-type:decimal;padding:1px 0}

.list-type-num02 > li{padding:1px 0;text-align:left;}
.list-type-num02 > li:before{content:"-";display:inline-block;margin-right:3px}

.list-type-num03 a{text-decoration:underline;}
.list-type-num03 > li{text-indent:-7px;margin-left:7px;padding:3px 0;font-size:15px;line-height:24px}
.list-type-num03 > li:before{content:"";display:inline-block;vertical-align:middle;width:2px;height:2px;margin-right:5px;border-radius:2px;background:#707070}
.list-type-num03 .list-type-num01{}
.list-type-num03 .list-type-num01{margin:5px 0 0 15px}
.list-type-num03 .list-type-num01 li{text-indent:0px;margin:0;}

.list-type-num04 > li{text-indent:-17px;margin-left:17px;padding:3px 0;font-size:15px;}
.list-type-num04 .list-type-num{text-indent:0;}


/* table */
.table-type1 .list-type-num02{margin:0 10px}
.table-type1 .list-type-num02 li{color:#666;text-indent:-4px;padding-left:4px}


/* title */
.tit-p{font-size:22px;}


/* btn */
.btn-area a span.ico-arrow{padding-right:15px;background-image:url('../images/policy/btn_arrow.png');background-position:right center;background-repeat:no-repeat;}


/* border */
.bdb-col01{border-bottom:1px solid #ebe9ea}