@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    string DomainUrlFront = AppState["DomainUrlFront"].ToString();
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/GetHotSearchList.js"></script>
}

<h1 class="title">인기검색종목</h1>

<div class="list-type1">
    <ul>
        <li>인기검색종목은 고객님들께서 검색한 종목을 금일기준의 자동으로 집계된 순위입니다.</li>
        <li>종목의 뉴스 공지, 상담, 종목토론으로 바로 이동하시려면 아래의 표의 버튼을 클릭해 주시기 바랍니다.</li>
    </ul>
</div>

<hr class="division3 no-border">

<div class="box-top-type1">
    <div class="inner-left">
        <!-- Search box Local -->
        <div class="search-local date">
            <input type="text" class="form-control" id="searchDate"/>
            <span class="btn-calendar"><button>달력</button></span>
        </div>
        <input type="button" value="검색" class="btn-type3" id="btnsearch">
        <!-- //Search box Local -->
    </div>
</div>

<div id="dataArea"></div>