

@{
    ViewBag.Title = "Rank";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string WowTvStyle = AppState["WowTvStyle"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/Rank.js"></script>
    <script>
        var menuSeq = @Request["menuSeq"];
    </script>
}
<h1 class="title">랭킹100</h1>

<h2 class="title">오늘의 종목랭킹 100</h2>

<div class="contain-group-rank100">
    <div class="list-type1">
        <ul class="col5" id="time">
            <li><a href="javascript:Rank.GetList('LAST','');">전일종가랭킹</a></li>
            <li><a href="javascript:Rank.GetList('0930','');">오전 09:30</a></li>
            <li><a href="javascript:Rank.GetList('1000','');">오전 10:00</a></li>
            <li><a href="javascript:Rank.GetList('1030','');">오전 10:30</a></li>
            <li><a href="javascript:Rank.GetList('1100','');">오전 11:00</a></li>
            <li><a href="javascript:Rank.GetList('1130','');">오전 11:30</a></li>
            <li><a href="javascript:Rank.GetList('1200','');">오후 12:00</a></li>
            <li><a href="javascript:Rank.GetList('1230','');">오후 12:30</a></li>
            <li><a href="javascript:Rank.GetList('1300','');">오후 01:00</a></li>
            <li><a href="javascript:Rank.GetList('1330','');">오후 01:30</a></li>
            <li><a href="javascript:Rank.GetList('1400','');">오후 02:00</a></li>
            <li><a href="javascript:Rank.GetList('1430','');">오후 02:30</a></li>
            <li><a href="javascript:Rank.GetList('1500','');">당일종가랭킹</a></li>
        </ul>
    </div>
</div>

<div class="contain-infor-deal">
    <div class="graph">
        <img src="@WowTvStyle/images/finance/img_process_deal.png" alt="">
    </div>
    <ul class="col3">
        <li><span class="icon-deal buying">매수</span> 단기 매수신호</li>
        <li><span class="icon-deal possesion">보유</span> 단기 매수신호 후 보유</li>
        <li><span class="icon-deal jump">급등</span> 금증주 표시, 고위험 고수익 패턴</li>
        <li><span class="icon-deal sell">매도</span> 단기 매도신호</li>
        <li><span class="icon-deal progress">진행</span> 단기 매수신호 후 진행</li>
    </ul>
</div>

<hr class="division6">

<div class="tab-type1">
    <ul class="col3" id="rankTab">
        <li class="on"><a href="javascript:Rank.GetList('','0');">전체</a></li>
        <li><a href="javascript:Rank.GetList('','1');">코스피</a></li>
        <li><a href="javascript:Rank.GetList('','2');">코스닥</a></li>
    </ul>
</div>

<div class="table-type1" id="dataArea">

</div>



<form id="rankfrm">
    <input type="hidden" name="TrId" value="5001" />
    <input type="hidden" name="RnkTime" />
    <input type="hidden" name="Sect" />
    <input type="hidden" name="Count" value="100" />
</form>

