@{
    string wowTvScript = AppState["WowTvScript"].ToString();
    //string DomainUrlFront = AppState["DomainUrlFront"].ToString();
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/GetHotSearchList.js"></script>
}

<section class="container">
   
    <!-- title area -->
    <div class="section-area">
        <h2>인기검색종목</h2>
        <div class="list-dotted mt0">
            <ul>
                <li>인기검색종목은 고객님들께서 검색한 종목을 금일기준의 자동으로 집계된 순위입니다.</li>
                <li>종목의 뉴스 공지, 상담, 종목토론으로 바로 이동하시려면 아래의 표의 버튼을 Tab해 주시기 바랍니다.</li>
            </ul>
        </div>
    </div>
    <!-- // title area -->
    <!-- search start -->
    <div class="section-area">
        <fieldset>
            <legend>달력검색</legend>
            <div class="calendar-form">
                <label for="canSear" class="blind">달력검색</label>
                @*<input type="text" class="datepicker hasDatepicker" id="canSear" name="canSear" readonly="readonly" style="width:100%;">*@
                <input type="text" class="datepicker" id="searchDate" name="searchDate" readonly="readonly" style="width:100%;">
            </div>

        </fieldset>
    </div>
    <!--// search start -->
    <div id="dataArea"></div>
</section>

