
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Opinion/Index.js"></script>

    <script>
        var searchClass = "@Request["Class"]"
    </script>
}

<form id="frmSearch">
    <input type="hidden" name="Class" id="searchClass"/>
    <input type="hidden" name="Text" id="searchText"/>
    <input type="hidden" name="seq" id="searchSeq" />
    <input type="hidden" id="currentIndex" name="CurrentIndex" />
    <input type="hidden" id="CurrentMenuSeq" name="CurrentMenuSeq" value="@Request["menuSeq"]" />
    <input type="hidden" id="totalDataCount" name="TotalDataCount" />
    <input type="hidden" name="PageSize" id="PageSize" value="3" />
    <input type="hidden" name="Page" id="Page" value="1" />
</form>

<!-- tab start -->
<div class="tab-area tab-btn">
    <ul>
        <li><a href="javascript:void(0)" id="S" onclick="return OpinionIndex.ChangeColumnData('S')">연재칼럼</a></li>
        <li><a href="javascript:void(0)" id="P" onclick="return OpinionIndex.ChangeColumnData('P')">기획취재</a></li>
    </ul>
</div>
<!--// tab end -->
<div id="divContents"></div>
