@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<USP_WOWNET_USA_DETAIL_Result>
@{
    ViewBag.Title = "USAADRDetailList";
    Layout = null;
}

<p class="title-accordion">종목 리스트</p>
<table>
    <tr>
        <th>종목명</th>
        <th>현재가($)</th>
        <th>전일대비</th>
        <th>등락률(%)</th>
    </tr>
    @foreach(var item in Model.ListData)
    {

        <tr>
            <td>@item.PART_NAME</td>
            <td class="number">@Html.PublishPriceFormat(item.U_CHG_GUBUN, item.U_PRICE)</td>
            <td class="number">@Html.PublishChgPriceFormat(item.U_CHG_GUBUN, item.U_NET_CHG)</td>
            <td class="number">@Html.PublishChgRateFormat(item.U_CHG_GUBUN, item.U_NET_CHGP)</td>
        </tr>
    }
</table>



