
@{
    ViewBag.Title = "Index";

    string rootUrl = AppState["RootUrl"].ToString();
}


@section scripts{
    <script src="@rootUrl/Scripts/jquery.lazyload.js"></script>

    <script>
        $(document).ready(function () {
            
            $("img.lazy").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
}

<h2>http://appelsiini.net/projects/lazyload/</h2>

<div>
    <img data-original="@rootUrl/Content/Images/Temp/1.jpg" class="lazy" width="640" height="480" />
</div>
<div>
    <img data-original="@rootUrl/Content/Images/Temp/2.jpg" class="lazy" width="640" height="480" />
</div>
<div>
    <img data-original="@rootUrl/Content/Images/Temp/3.jpg" class="lazy" width="640" height="480" />
</div>
<div>
    <img data-original="@rootUrl/Content/Images/Temp/4.jpg" class="lazy" width="640" height="480"  />
</div>
<div>
    <img data-original="@rootUrl/Content/Images/Temp/5.jpg" class="lazy" width="640" height="480" />
</div>


