<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--<add key="WowTvStyle" value="http://img.wowtv.co.kr/MobileStyle"/>
    <add key="WowTvScript" value="http://img.wowtv.co.kr/MobileScript"/>-->
    
    <add key="WowTvStyle" value="/WowTvStyle"/>
    <add key="WowTvScript" value="/WowTvScript"/>
    
    <add key="UploadPath" value="/Front"/>
    <add key="UploadWebPath" value="http://img.wowtv.co.kr/Front"/>

    <add key="UploadPathRoot" value="/" />
    <add key="UploadWebPathRoot" value="http://img.wowtv.co.kr" />
    <add key="UploadPlanArticlePath" value="/Admin/News/PlanArticle/" />

    <add key="KakaoJavascriptKey" value="ea562ec06e466bdd5c8be1bf5f7754af" />
    <add key="FacebookAppId" value="1934458713480006" />
    <add key="FacebookToken" value="801b6afb2d4202fcefe19d86c235f704" />
    <add key="FacebookUserToken" value="EAAFy00gTZB3MBAJLZB965lB3BB2HhXveZAIOtQmaZBOTJln2bJk3JWCNfIJmU1GcU5GlXvwX9VpntT42qayI0ZCo2vYAfDnpr0mzfyNo5LzyZBsDThuSBhZCkLZBbH8yj52rdZA5n4BPZCKWPln6kgrIl5GsDlvVQDrWzIeTKSyKz7RgZDZD" />
    <add key="FacebookAPIVer" value="v2.11" />
    <add key="NaverClientId" value="phTMUWqsdmOXtrq0Ko95" />
    <add key="NaverServiceUrl" value="http://localhost:9080" />
    <add key="NaverLoginCallbackUrl" value="http://localhost:8080/Component/SnsLogin/NaverLoginCallback" />

    <add key="UserLoginUrl" value="http://localhost:9080/Login/LoginTest"/>
    <add key="UserLogoutUrl" value="http://localhost:9080/Login/Logout"/>

    <add key="DomainUrlFront" value="http://localhost:9080" />
    <add key="DomainUrlMember" value="http://localhost:9090" />
    <add key="DomainUrlHelp" value="http://localhost:9091" />
    <add key="DomainUrlCompany" value="http://localhost:9092" />
    <add key="DomainUrlProvision" value="http://localhost:9093" />
    <add key="DomainUrlMyPage" value="http://172.19.0.22:9094" />
    <add key="DomainUrlBilling" value="https://billing.wownet.co.kr" />

    <add key="Cdn_UserId" value="wowtv@kinxcdn.com" />
    <add key="Cdn_Pwd" value="wowtv6676" />
    <add key="Cdn_Stoid" value="wowtvimg" />
    <add key="Cdn_Stopwd" value="Uploadwowtv123@!" />
    
    <add key="TvPlayUrlHlsLiveTv" value="http://cdnmlive.wowtv.co.kr/wowmo/livestream/playlist.m3u8" />
    <add key="TvPlayUrlHlsLiveAudio" value="http://cdnmlive.wowtv.co.kr/wowmo/livestream/playlist.m3u8" />
    <add key="TvPlayADTerm" value="600000" />


    <add key="Domain_MobileWowtv" value="http://m.wowtv.co.kr" />
    <add key="Domain_PcWowtv" value="http://www.wowtv.co.kr" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>

    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="/Error/Error404" />-->
    </customErrors>
    <sessionState mode="InProc" timeout="360" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMenuService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBroadWatchService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBroadLiveService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsProgramService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramCmsAuthService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramGroupService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramTemplateService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBoardService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IProgramIntroService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ICastService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ICommconCodeService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IIntegratedBoardService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IBannerService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ILoginService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IMemberInfoService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsCenterService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IReporterService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ILandService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsMainService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ITradingService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IChinaService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IMyActiveService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IFinanceService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ICharacterStockService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IOpinionService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ITvPlayerService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IMemberCrmService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IJoinService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ITextAndLinkService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsCmtManageService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsProgram89Service" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_INewsAdService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IHubBusinessService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ITravelService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_IMainManageService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
        <binding name="BasicHttpBinding_ILectureService" maxBufferPoolSize="524288"
          maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/Menu/MenuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService"
        contract="MenuService.IMenuService" name="BasicHttpBinding_IMenuService" />
      <endpoint address="http://localhost:8088/MyProgram/BroadWatchService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadWatchService"
        contract="BroadWatchService.IBroadWatchService" name="BasicHttpBinding_IBroadWatchService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadLiveService"
        contract="BroadService.IBroadLiveService" name="BasicHttpBinding_IBroadLiveService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgramService"
        contract="BroadService.INewsProgramService" name="BasicHttpBinding_INewsProgramService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramCmsAuthService"
        contract="BroadService.IProgramCmsAuthService" name="BasicHttpBinding_IProgramCmsAuthService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramGroupService"
        contract="BroadService.IProgramGroupService" name="BasicHttpBinding_IProgramGroupService" />
      <endpoint address="http://localhost:8088/Broad/BroadService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramTemplateService"
        contract="BroadService.IProgramTemplateService" name="BasicHttpBinding_IProgramTemplateService" />
      <endpoint address="http://localhost:8088/Board/BoardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoardService"
        contract="BoardService.IBoardService" name="BasicHttpBinding_IBoardService" />
      <endpoint address="http://localhost:8088/MyProgram/ProgramIntroService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramIntroService"
        contract="ProgramIntroService.IProgramIntroService" name="BasicHttpBinding_IProgramIntroService" />
      <endpoint address="http://localhost:8088/MyProgram/CastService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastService"
        contract="CastService.ICastService" name="BasicHttpBinding_ICastService" />
      <endpoint address="http://localhost:8088/CommonCode/CommconCodeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommconCodeService"
        contract="CommconCodeService.ICommconCodeService" name="BasicHttpBinding_ICommconCodeService" />
      <endpoint address="http://localhost:8088/Admin/IntegratedBoardService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegratedBoardService"
        contract="IntegratedBoardService.IIntegratedBoardService" name="BasicHttpBinding_IIntegratedBoardService" />
      <endpoint address="http://localhost:8088/MyProgram/BannerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerService"
        contract="BannerService.IBannerService" name="BasicHttpBinding_IBannerService" />
      <endpoint address="http://localhost:8088/Member/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
        contract="MemberLoginService.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost:8088/Member/MemberInfoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService"
        contract="MemberInfoService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsCenterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCenterService"
        contract="NewsCenterService.INewsCenterService" name="BasicHttpBinding_INewsCenterService" />
      <endpoint address="http://localhost:8088/Reporter/ReporterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporterService"
        contract="ReporterService.IReporterService" name="BasicHttpBinding_IReporterService" />
      <endpoint address="http://localhost:8088/NewsCenter/LandService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILandService"
        contract="LandService.ILandService" name="BasicHttpBinding_ILandService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsMainService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsMainService"
        contract="NewsMainService.INewsMainService" name="BasicHttpBinding_INewsMainService" />
      <endpoint address="http://localhost:8088/Finance/TradingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingService"
        contract="TradingService.ITradingService" name="BasicHttpBinding_ITradingService" />
      <endpoint address="http://localhost:8088/Finance/ChinaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChinaService"
        contract="ChinaService.IChinaService" name="BasicHttpBinding_IChinaService" />
      <endpoint address="http://localhost:8088/MyPage/MyActiveService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyActiveService"
        contract="MyActiveService.IMyActiveService" name="BasicHttpBinding_IMyActiveService" />
      <endpoint address="http://localhost:8088/Finance/CharacterStockService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacterStockService"
        contract="CharacterStockService.ICharacterStockService" name="BasicHttpBinding_ICharacterStockService" />
      <endpoint address="http://localhost:8088/Opinion/OpinionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpinionService"
        contract="OpinionService.IOpinionService" name="BasicHttpBinding_IOpinionService" />
      <endpoint address="http://localhost:8088/Broad/TvPlayerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITvPlayerService"
        contract="TvPlayerService.ITvPlayerService" name="BasicHttpBinding_ITvPlayerService" />
      <endpoint address="http://localhost:8088/Member/MemberCrmService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberCrmService"
        contract="MemberCrmService.IMemberCrmService" name="BasicHttpBinding_IMemberCrmService" />
      <endpoint address="http://localhost:8088/Member/JoinService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoinService"
        contract="MemberJoinService.IJoinService" name="BasicHttpBinding_IJoinService" />
      <endpoint address="http://localhost:8088/NewsCenter/TextAndLinkService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextAndLinkService"
        contract="TextAndLinkService.ITextAndLinkService" name="BasicHttpBinding_ITextAndLinkService" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsCmtManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCmtManageService"
        contract="NewsCmtManageService.INewsCmtManageService" name="BasicHttpBinding_INewsCmtManageService" />
      <endpoint address="http://localhost:8088/Broad/NewsProgram89Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgram89Service"
        contract="NewsProgram89Service.INewsProgram89Service" name="BasicHttpBinding_INewsProgram89Service" />
      <endpoint address="http://localhost:8088/NewsCenter/NewsAdService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsAdService"
        contract="NewsAdService.INewsAdService" name="BasicHttpBinding_INewsAdService" />
      <endpoint address="http://localhost:8088/NewsCenter/HubBusinessService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubBusinessService"
        contract="HubBusinessService.IHubBusinessService" name="BasicHttpBinding_IHubBusinessService" />
      <endpoint address="http://localhost:8088/NewsCenter/TravelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelService"
        contract="NewsTravelService.ITravelService" name="BasicHttpBinding_ITravelService" />
      <endpoint address="http://localhost:8088/MainManage/MainManageService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainManageService"
        contract="MainManageService.IMainManageService" name="BasicHttpBinding_IMainManageService" />
      <endpoint address="http://localhost:8088/Finance/FinanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinanceService"
        contract="FinanceService.IFinanceService" name="BasicHttpBinding_IFinanceService" />
      <endpoint address="http://localhost:8088/ProductManage/LectureService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILectureService"
        contract="LectureService.ILectureService" name="BasicHttpBinding_ILectureService" />
    </client>
  </system.serviceModel>
</configuration>
