<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WowTvStyle" value="http://img.wowtv.co.kr/MobileStyle" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvScript" value="http://img.wowtv.co.kr/MobileScript" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvWebSiteUrl" value="http://www.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserLoginUrl" value="https://mmember.wowtv.co.kr/Login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserLogoutUrl" value="https://mmember.wowtv.co.kr/Login/Logout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserJoinUrl" value="https://mmember.wowtv.co.kr/Join/RegistMain" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlFront" value="http://m.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlMember" value="https://mmember.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlHelp" value="https://mhelp.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlCompany" value="http://mcompany.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlProvision" value="http://mprovision.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DomainUrlMyPage" value="https://mmypage.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="UserLoginUrl" value="https://mmember.wowtv.co.kr/Login/Login" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserLoginProcUrl" value="https://mmember.wowtv.co.kr/Login/LoginProc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UserEasyLoginProcUrl" value="https://mmember.wowtv.co.kr/Login/EasyLoginProc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="KakaoJavascriptKey" value="ea562ec06e466bdd5c8be1bf5f7754af" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookAppId" value="1934458713480006" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookToken" value="801b6afb2d4202fcefe19d86c235f704" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookUserToken" value="EAAFy00gTZB3MBAJLZB965lB3BB2HhXveZAIOtQmaZBOTJln2bJk3JWCNfIJmU1GcU5GlXvwX9VpntT42qayI0ZCo2vYAfDnpr0mzfyNo5LzyZBsDThuSBhZCkLZBbH8yj52rdZA5n4BPZCKWPln6kgrIl5GsDlvVQDrWzIeTKSyKz7RgZDZD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookAPIVer" value="v2.11" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NaverClientId" value="KrrX6ScGHRHjjVhiXvt4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NaverServiceUrl" value="http://www.wowtv.co.kr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NaverLoginCallbackUrl" value="http://m.wowtv.co.kr/Component/SnsLogin/NaverLoginCallback" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="TvPlayADTerm" value="600000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Cdn_UserId" value="wowtv@kinxcdn.com" xdt:Locator="Match(key)" />
    <add key="Cdn_Pwd" value="wowtv6676" xdt:Locator="Match(key)" />
    <add key="Cdn_Stoid" value="wowtvupload" xdt:Locator="Match(key)" />
    <add key="Cdn_Stopwd" value="Uploadwowtv123@!" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      아래 예에서 "Replace" 변환은 Web.config 파일의
      <customErrors> 섹션 전체를 바꿉니다.
      <system.web> 노드 아래에는 customErrors 섹션이 하나만 있기 때 문에
      "xdt:Locator" 특성을 사용할 필요가 없습니다.
      
    <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>

    -->
    <customErrors mode="Off" xdt:Transform="Replace">
      <!--<error statusCode="404" redirect="/Error/Error404" />-->
    </customErrors>
  
  </system.web>  

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPilotService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ITest" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IIRService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IMenuService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ICommconCodeService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IFinanceService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ILectureService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_INewsCenterService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IChinaService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IReporterService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ILoginService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ITradingService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IBroadWatchService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IBroadLiveService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_INewsProgramService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IProgramCmsAuthService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IProgramGroupService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IProgramTemplateService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IJoinService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IMyActiveService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IProgramIntroService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ICastService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ICharacterStockService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IIntegratedBoardService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IOpinionService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IMainManageService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_INewsMainService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ILandService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IMemberInfoService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_INewsCmtManageService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IBoardService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_ITextAndLinkService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IHubBusinessService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IBannerService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_ITvPlayerService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_IMemberCrmService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsProgram89Service" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsAdService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <binding name="BasicHttpBinding_INewsAdService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsCenterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCenterService" contract="NewsCenterService.INewsCenterService" name="BasicHttpBinding_INewsCenterService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/CommonCode/CommconCodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommconCodeService" contract="CommconCodeService.ICommconCodeService" name="BasicHttpBinding_ICommconCodeService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Finance/FinanceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinanceService" contract="FinanceService.IFinanceService" name="BasicHttpBinding_IFinanceService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/IR/IRService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIRService" contract="IRService.IIRService" name="BasicHttpBinding_IIRService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/ProductManage/LectureService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILectureService" contract="LectureService.ILectureService" name="BasicHttpBinding_ILectureService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Menu/MenuService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService" contract="MenuService.IMenuService" name="BasicHttpBinding_IMenuService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Pilot/PilotService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPilotService" contract="PilotService.IPilotService" name="BasicHttpBinding_IPilotService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Pilot/Test.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITest" contract="TestService.ITest" name="BasicHttpBinding_ITest" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Finance/ChinaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChinaService" contract="ChinaService.IChinaService" name="BasicHttpBinding_IChinaService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Reporter/ReporterService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporterService" contract="ReporterService.IReporterService" name="BasicHttpBinding_IReporterService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/LoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService" contract="MemberLoginService.ILoginService" name="BasicHttpBinding_ILoginService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Finance/TradingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITradingService" contract="TradingService.ITradingService" name="BasicHttpBinding_ITradingService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/BroadWatchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadWatchService" contract="BroadWatchService.IBroadWatchService" name="BasicHttpBinding_IBroadWatchService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBroadLiveService" contract="BroadService.IBroadLiveService" name="BasicHttpBinding_IBroadLiveService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgramService" contract="BroadService.INewsProgramService" name="BasicHttpBinding_INewsProgramService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramCmsAuthService" contract="BroadService.IProgramCmsAuthService" name="BasicHttpBinding_IProgramCmsAuthService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramGroupService" contract="BroadService.IProgramGroupService" name="BasicHttpBinding_IProgramGroupService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/BroadService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramTemplateService" contract="BroadService.IProgramTemplateService" name="BasicHttpBinding_IProgramTemplateService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/JoinService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJoinService" contract="MemberJoinService.IJoinService" name="BasicHttpBinding_IJoinService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkprimid.wowtv.co.kr/MyPage/MyActiveService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyActiveService" contract="MyActiveService.IMyActiveService" name="BasicHttpBinding_IMyActiveService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/ProgramIntroService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProgramIntroService" contract="ProgramIntroService.IProgramIntroService" name="BasicHttpBinding_IProgramIntroService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/CastService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICastService" contract="CastService.ICastService" name="BasicHttpBinding_ICastService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Finance/CharacterStockService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacterStockService" contract="CharacterStockService.ICharacterStockService" name="BasicHttpBinding_ICharacterStockService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkprimid.wowtv.co.kr/Admin/IntegratedBoardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegratedBoardService" contract="IntegratedBoardService.IIntegratedBoardService" name="BasicHttpBinding_IIntegratedBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Opinion/OpinionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpinionService" contract="OpinionService.IOpinionService" name="BasicHttpBinding_IOpinionService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MainManage/MainManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMainManageService" contract="MainManageService.IMainManageService" name="BasicHttpBinding_IMainManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsMainService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsMainService" contract="NewsMainService.INewsMainService" name="BasicHttpBinding_INewsMainService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/LandService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILandService" contract="LandService.ILandService" name="BasicHttpBinding_ILandService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/MemberInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService" contract="MemberInfoService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsCmtManageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsCmtManageService" contract="NewsCmtManageService.INewsCmtManageService" name="BasicHttpBinding_INewsCmtManageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/Board/BoardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBoardService" contract="BoardService.IBoardService" name="BasicHttpBinding_IBoardService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/TextAndLinkService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextAndLinkService" contract="TextAndLinkService.ITextAndLinkService" name="BasicHttpBinding_ITextAndLinkService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/HubBusinessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHubBusinessService" contract="HubBusinessService.IHubBusinessService" name="BasicHttpBinding_IHubBusinessService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://devhkmid.wowtv.co.kr/MyProgram/BannerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerService" contract="BannerService.IBannerService" name="BasicHttpBinding_IBannerService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/Broad/TvPlayerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITvPlayerService" contract="TvPlayerService.ITvPlayerService" name="BasicHttpBinding_ITvPlayerService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Member/MemberCrmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberCrmService" contract="MemberCrmService.IMemberCrmService" name="BasicHttpBinding_IMemberCrmService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkprimid.wowtv.co.kr/Broad/NewsProgram89Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsProgram89Service" contract="NewsProgram89Service.INewsProgram89Service" name="BasicHttpBinding_INewsProgram89Service" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/NewsAdService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsAdService" contract="NewsAdService.INewsAdService" name="BasicHttpBinding_INewsAdService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="http://devhkmid.wowtv.co.kr/NewsCenter/TravelService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITravelService" contract="NewsTravelService.ITravelService" name="BasicHttpBinding_ITravelService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>
