@charset "utf-8";
/* search */

.search .wrap{position:relative;}
.search img{width:100%;display:block;}


.search .stock-index .table-type1.type01 tbody td.txt-l,
.search .stock-index .table-type1.type01 tbody td.txt-r{height:25px;line-height:18px!important;padding:5px 10px!important;}

.search-header .title-area {height:54px;}
.search-header .title-area.on .dimmed {background:#fff;}
.search-header .title-area.on {background:#000; background: rgba(0,0,0,0.5); z-index:1; position:absolute; left:0; top:0; width:100%; height:100%;  display:block; z-index:10}


.search-header .title-area h1 {height:55px; font-size:20px; font-weight:500; line-height:59px;background:#fff; padding:0 15px;box-sizing:border-box; border-bottom:1px solid #eaeaea;}
.search-header .title-area h1 .logo {display:inline-block; width:63px; height:11px; margin-right:5px;}
.search-header .title-area h1 img {width:100%; height:100%;}
.search-header .title-area.on h1 .arrow {background-position: -215px -112px; }
.search-header .title-area h1 .arrow:before {display:inline-block; content:""; width:55px; height:55px; margin-top:-24px; margin-left:-25px}
.search-header .title-area h1 .arrow {display:inline-block; width:16px; height:9px; background: url(../images/common/ico_sp01.png) no-repeat -215px -133px; background-size:400px 400px; position:absolute; top:23px; right:15px;}

.search-header .top-dropbox {width:100%; padding:15px; position: absolute; top:55px; background:#fff;}
.search-header .top-dropbox .title {font-size:12px; color:#666666; margin-bottom:15px;}
.search-header .top-dropbox .title strong {display:block; color:#4f5eaf; font-size:13px;}

.search-header .title-area.on .top-dropbox {display:block}
.search-header .title-area .top-dropbox  {display:none;}
.search-header .top-dropbox ul {display:table; width:100%;}
.search-header .top-dropbox ul li {display:table-cell; width:25%; text-align:center;}
.search-header .top-dropbox ul li span {display:block; margin:0 auto; width:47px; height:47px; border-radius:3px; background: url(../images/common/family_icon_search.png) no-repeat -182px -0; background-size:290px 47px; overflow:hidden; margin-bottom:10px; }
.search-header .top-dropbox ul li:nth-child(2) span {background-position: -0px -0; border:1px solid #cccccc; }
.search-header .top-dropbox ul li:nth-child(3) span {background-position: -61px -0; border:1px solid #cccccc;;}
.search-header .top-dropbox ul li:nth-child(4) span {background-position: -121px -0 }

/* 검색 영역 */
.search-header .search-area {border-bottom:1px solid #4f5eaf; padding:15px; background:#eef1f6;}
.search-header .search-area .input-area {position:relative; }
.search-header .search-area .input-area input[type="search"] {border:2px solid #4f5eaf; height:40px;width:100%; padding-right:40px; padding-left:10px; box-sizing:border-box; }
.search-header .search-area .input-area .search-btn {display:block; width:40px; height:40px;  position:absolute; top:0; right:0; background: url(../images/search/search_btn.png) no-repeat center; background-size:20px 20px;}


/* 자동 완성 */
.auto-search {display:none;border:1px solid #eaeaea; border-bottom:0; background:#fff; position:absolute; top:48px; left:0; width:100%; z-index:9999;}
.auto-search.on {display:block}
.auto-search ul li {position: relative}
.auto-search ul li:first-child a{padding-top:15px}
.auto-search ul li:last-child a{padding-bottom:15px}
.auto-search ul li a {display:block; padding:4px 15px 4px;}

.auto-search ul li a span {color:#4f5eaf;}
.auto-search ul li .hits {display:block; color:#999999; position:absolute; top:4px; right:15px;}
.auto-search ul li:first-child .hits {top:15px; right:15px;}

.auto-search p.title {color:#666666; padding:15px; background:#fafbff; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; position:relative;}
.auto-search p.title .switch-btn {position:absolute; top:10px; right:0px;}




/* 인기 검색 */
.search-header .best-list {width:100%; }
.search-header .best-list .keyword:after {content:""; clear:both; display:block;}
.search-header .best-list .keyword {width:100%; margin-top:5px}
.search-header .best-list .keyword .title {display:block; width:55px; float:left; color:#4f5eaf;font-weight:500;}
.search-header .best-list .keyword ul {display:block;  float:left; width: calc(100% - 55px); text-align:left; }
.search-header .best-list .keyword li:after {display:inline-block; content:""; width:1px; height:9px; background:#cccccc; margin:0 10px 0}
.search-header .best-list .keyword li:last-child:after {display:none}
.search-header .best-list .keyword li {display:inline-block;}
.search-header .best-list .keyword li a {color:#666666;}
.search-header .best-list .keyword.type02 li:last-child {margin-right:0;}
.search-header .best-list .keyword.type02 li {margin-right:10px; }
.search-header .best-list .keyword.type02 li a:before {display:inline-block; content:"#";}
.search-header .best-list .keyword.type02 li:after {display: none;}

/* */
.selection-area {position:relative; border-bottom:1px solid #ebe9ea; padding:15px; box-sizing:border-box; color:#666666; font-size:12px;}
.selection-area .switch-btn {position:absolute; top:12px; right:0;}
.selection-area .title {display:inline-block;}


.choice-list {background:#f5f5f5;border-bottom:1px solid #ebe9ea;}
.choice-list > ul > li:after {content:""; clear:both; display:block;}

.choice-list > ul.on > li {display:block;}
.choice-list > ul > li:first-child {display:block; border-top:0;}
.choice-list > ul > li {border-top:1px solid #ebe9ea; padding:15px 15px 12px; position:relative; display:none;}
.choice-list > ul > li > .search-btn {display:block; width:40px; height:40px;  position:absolute; top:0; right:0; background: url(../images/search/search_btn.png) no-repeat center; background-size:20px 20px;}

.choice-list > ul.on > li > .arrow {background-position: -215px -112px; }
.choice-list > ul > li > .arrow:before {display:inline-block; content:""; width:48px; height:48px; margin-top:-24px; margin-left:-20px}
.choice-list > ul > li > .arrow {display:inline-block; width:16px; height:9px; background: url(../images/common/ico_sp01.png) no-repeat -215px -133px; background-size:400px 400px; position:absolute; top:23px; right:15px;}


.choice-list > ul > li > .title {display:block; float:left; width:80px;font-weight:500;}
.choice-list > ul > li > ul:after {display:block; content:""; clear:both}
.choice-list > ul > li > ul  {float:left; width: calc(100% - 80px); } 
.choice-list > ul > li > ul > li:first-child {margin-left:0;}
.choice-list > ul > li > ul > li  {display:inline-block; margin-right:15px;} 



.choice-list ul li a {color:#999999;}
.choice-list ul li.on a {color:#4f5eaf;}
.choice-list ul li a:before {display:inline-block; content:""; width:4px; height:4px; margin-right:5px; background:#999999; border-radius:50%; vertical-align:top; margin-top:7px;}
.choice-list ul li.on a:before {background:#4f5eaf;}


/* */
.selection-area {position:relative; border-bottom:1px solid #ebe9ea; padding:15px; box-sizing:border-box; color:#666666; font-size:12px;}
.selection-area .switch-btn {position:absolute; top:12px; right:0;}
.selection-area .title {display:inline-block;}


.choice-list .calendar-form {padding:15px; display:none}
.choice-list .calendar-form.on {display:block; padding-top:0}

.choice-list {background:#f5f5f5;border-bottom:1px solid #ebe9ea;}

.choice-list > ul > li:after {content:""; clear:both; display:block;}

.choice-list > ul.on > li {display:block;}
.choice-list > ul > li:first-child {display:block; border-top:0;}
.choice-list > ul > li {border-top:1px solid #ebe9ea; padding:15px 15px 12px; position:relative; display:none;}
.choice-list > ul > li > .search-btn {display:block; width:40px; height:40px;  position:absolute; top:0; right:0; background: url(../images/search/search_btn.png) no-repeat center; background-size:20px 20px;}

.choice-list > ul.on > li > .arrow {background-position: -215px -112px; }
.choice-list > ul > li > .arrow:before {display:inline-block; content:""; width:48px; height:48px; margin-top:-24px; margin-left:-20px}
.choice-list > ul > li > .arrow {display:inline-block; width:16px; height:9px; background: url(../images/common/ico_sp01.png) no-repeat -215px -133px; background-size:400px 400px; position:absolute; top:23px; right:15px;}


.choice-list > ul > li > .title {display:block; float:left; width:80px}
.choice-list > ul > li > ul:after {display:block; content:""; clear:both}
.choice-list > ul > li > ul  {float:left; width: calc(100% - 80px); padding-top:2px;} 
.choice-list > ul > li > ul > li:first-child {margin-left:0;}
.choice-list > ul > li > ul > li  {display:inline-block; margin-right:15px;} 



.choice-list ul li a {color:#999999;}
.choice-list ul li.on a {color:#4f5eaf;}
.choice-list ul li a:before {display:inline-block; content:""; width:4px; height:4px; margin-right:5px; background:#999999; border-radius:50%; vertical-align:top; margin-top:7px;}
.choice-list ul li.on a:before {background:#4f5eaf;}


.choice-list .calendar-form {padding:15px; display:none}
.choice-list .calendar-form.on {display:block; padding-top:0}







/* 동영상 */

.list-media > ul > li .cont-area {height: 67px; padding-top: 5px;}
.list-media > ul > li .cont-area p.tit {height:30px; min-height:30px; max-height:30px;}
.list-media > ul > li:after {background:none}




/* 포토 */
body.search .photos {font-size:0; width:100%; background:#fff; padding:15px 0 15px 10px; border-bottom:1px solid #ebe9ea;}
body.search .photos a {font-size:0; margin:0; padding:0}
body.search .photos a img {display:block; height:100%; width:100%;}


body.search .icon-box .icon-list {font-size:0;}
body.search .icon-box .icon-list li {margin:0 !important;}



/* 카페 검색 */
.cafe-area {background:#fff;}
.cafe-area li {border-bottom:1px solid #ebe9ea; padding:15px;}
.cafe-area li .title {display:block; color:#000000; font-size:20px; margin-bottom:10px;font-weight:500;}
.cafe-area li a {display:block; color:#666666}
.cafe-area li a .color {color:#4f5eaf; font-weight:500}
.cafe-area li a .text {overflow:hidden;display:block; color:#666666; margin-bottom:10px;max-height:67px;line-height:24px}
.cafe-area li .data {display:block; font-size:13px;color:#999999;font-family:'roboto', sans-serif;font-weight:300}
.cafe-area li .data span { color:#999999;font-size:13px; position:relative; padding-left:7px; margin-left:5px;}
.cafe-area li .data span:before {width:1px; height:10px; display:inline-block; content:""; position:absolute; left:0; top:50%; margin-top:-5px; background:#999999; }











/* 스위치 버튼 */
.switch-btn { position: relative; display:inline-block; vertical-align:middle;  width: 46px; height: 20px; padding: 3px; margin: 0 10px 10px 0; border-radius: 18px; cursor: pointer;  }
.switch-input { position: absolute; top: 0; left: 0; opacity: 0; }
.switch-label { position: relative; display: block; height: inherit; font-size: 10px; text-transform: uppercase; background: #999999; border-radius: inherit;}
.switch-label:before, .switch-label:after { position: absolute; top: 50%; margin-top: -.4em; font-weight:500;line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.switch-label:before {content: attr(data-off); right: 7px; color: #ffffff;}
.switch-label:after { content: attr(data-on); left: 7px; color: #ffffff; opacity: 0;}
.switch-input:checked ~ .switch-label { background: #4f5eaf; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2); }
.switch-input:checked ~ .switch-label:before {opacity: 0;}
.switch-input:checked ~ .switch-label:after {opacity: 1;}
.switch-handle {position: absolute; top: 3px; left: 3px; width: 20px; height: 20px; background: #fff; border:1px solid #999999;  border-radius: 100%; }/* 볼 컨트롤 */
.switch-input:checked ~ .switch-handle { left: 29px;background: #fff; border:1px solid #4f5eaf; }/* 볼 컨트롤 */

.box-tit-switch:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-tit-switch h3{float:left;}
.box-tit-switch .selection-area{float:right;padding:11px 15px;border-bottom:0}
.box-tit-switch .selection-area .title{padding-right:55px;padding-top:2px;line-height:20px}
.box-tit-switch .selection-area .switch-btn{top:9px}




.box-tit-btn{padding:0 15px 10px;}
.box-tit-btn:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-tit-btn h3{float:left;padding-top:10px}
.box-tit-btn .btn-area{float:right;margin-top:9px;}

.box-type-sear01{padding:0 15px}
.box-type-sear01 .box-con{height:48px;line-height:48px;border-bottom:1px solid #ebe9ea}
.box-type-sear01 .box-con:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-type-sear01 .box-con span.txt{position:relative;float:left;display:block;width:23%;text-align:center;font-weight:500;}
.box-type-sear01 .box-con span.txt:nth-child(3){width:31%!important}
.box-type-sear01 .box-con span.txt + span.txt:before{content:"";display:block;position:absolute;top:50%;left:0;margin-top:-5px;width:1px;height:10px;background:#ccc;}

.box-type-sear01 .box-hot{height:45px}
.box-type-sear01 .box-hot h3{float:left;width:100px;line-height:45px;}
.box-type-sear01 .box-hot-area{line-height:45px;padding-right:10px;}
.box-type-sear01 .box-hot-area .num-hot{font-size:15px;color:#4f5eaf;font-style:italic;padding:0 5px 0 10px;font-weight:500;}
.box-type-sear01 .box-hot-area .swiper-slide:nth-child(1) .num-hot,
.box-type-sear01 .box-hot-area .swiper-slide:nth-child(2) .num-hot{color:#ff6666}

.box-type-appear .swiper-slide{width:38.28125%!important;}

.box-type-person{border-top:1px solid #ebe9ea;}
.box-type-person > div.box-cont{padding:15px;border-bottom:1px solid #ebe9ea;}
.box-type-person > div.box-cont:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-type-person > div.box-cont .img-area{float:left;width:20.75%;margin-right:15px;}
.box-type-person > div.box-cont .txt-area{float:left;width:calc(79.25% - 15px);margin-bottom:5px;}
.box-type-person > div.box-cont .txt-area strong{display:inline-block;font-size:18px;padding-right:5px;font-weight:500;}
.box-type-person > div.box-cont .txt-area .txt-expr{display:inline-block;color:#666;padding-left:5px}
.box-type-person > div.box-cont .txt-area .aside-area{overflow:hidden;max-height:46px;line-height:22px;color:#666;padding-top:6px}
.box-type-person > div.box-cont .txt-area .list-type-square{margin-top:8px}
.box-type-person > div.box-cont .icon-box:before{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-type-person > div.box-cont .text-icon{margin-top:-4px}

.no-data{text-align:center;padding:40px 0 50px;min-height:160px;box-sizing:border-box;}
.no-data strong{font-size:18px;color:#4f5eaf;font-weight:500;}
.no-data p.txt{margin-top:10px;color:#666;line-height:24px}



/* btn */
.btn01{display:block;text-align:center;height:28px;line-height:26px;font-size:14px;margin:5px 0;border-radius:3px;box-sizing:border-box;}
.btn01.w-auto{display:inline-block;vertical-align:middle;padding:2px 13px 0 12px;margin:5px 3px;}
.btn01.i-type{display:inline-block;vertical-align:middle;padding:0 7px;margin:5px 3px;border:1px solid #ccc}

.btn01.type01{color:#fff;background:#8c92a0}
.btn01.type02{color:#8c92a0;border:1px solid #ccc}
.btn01.type03{color:#fff;background:#4f5eaf}
.btn01.type04{color:#4f5eaf;border:1px solid #ccc}



/* margin */
.mlr15{margin-left:15px!important;margin-right:15px!important;}

/* padding */
.plr15{padding-left:15px!important;padding-right:15px!important;}


/* background */
.bg-col01{background:#f5f5f5}
.bg-col02{background:#fff}


/* border */
.bdt-none{border-top:none!important;}
.bdb-none{border-bottom:none!important;}
.bdb-col01{border-bottom:1px solid #ebe9ea!important;}


@media all and (min-width:768px){
	
	.box-type-appear .swiper-slide{width:21.28125%!important;}
	
}

@media all and (min-width:1024px){
	
	.box-type-appear .swiper-slide{width:11.28125%!important;}
	
}




