@charset "utf-8"; 

/* 이곳에 코딩하시오 */

/* -------------------- popup --------------------------------- */
.tv-popup{}
.wrap-popup{padding:20px 30px;width:843px;box-sizing:border-box;}
.wrap-popup .tab-area{position:relative;margin-bottom:22px;}
.wrap-popup .tab-area ul.tabs{border-bottom:1px solid #999;}
.wrap-popup .tab-area ul.tabs li{position:relative;float:left;height:39px;text-align:center;}
.wrap-popup .tab-area ul.tabs li a{display:block;width:154px;height:39px;line-height:39px;color:#000;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;box-sizing:border-box;}
.wrap-popup .tab-area ul.tabs li + li a{border-left:0;width:150px;}
.wrap-popup .tab-area ul.tabs li.on a{height:40px;border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #fff;border-right:1px solid #999;background:#fff;}
.wrap-popup .tab-area ul.tabs li + li.on a{margin-left:-1px;width:151px;}
.wrap-popup .tab-area .aside-area{position:absolute;bottom:5px;right:0;}

.wrap-popup .aside-area ul li{float:left;}
.wrap-popup .aside-area ul li a{position:relative;color:#747474;margin-left:9px;padding-left:10px;}
.wrap-popup .aside-area ul li + li a:after{content:'';display:block;position:absolute;top:5px;left:0;width:1px;height:13px;background:#ccc;}

.wrap-popup .ci-area .bg-ci{float:left;}
.wrap-popup .ci-area .aside-area{float:right;}
.wrap-popup .bg-ci{position:relative;width:135px;height:34px;text-indent:-9999999em;background:url('../images/common/img_logo_small.png') 0 0 no-repeat;}
.wrap-popup .bg-ci:after{content:'';display:block;position:absolute;top:2px;left:138px;width:44px;height:20px;background:url('../images/popup/arrow_hd.png') 0 0 no-repeat;}

.wrap-popup .aside-tit .tit-area{position:relative;float:left;padding-left:19px;margin-top:4px;}
.wrap-popup .aside-tit .tit-area .title02{float;left;margin-bottom:1px;}
.wrap-popup .aside-tit .tit-area:after{content:'';display:block;position:absolute;top:7px;left:0;width:4px;height:41px;background:#ffd800;}
.wrap-popup .aside-tit .tit-area > div strong{display:inline-block;}
.wrap-popup .aside-tit .tit-area > div span + strong{margin-left:15px;}
.wrap-popup .aside-tit .obj-area{float:right;text-align:right;}

.wrap-popup .movie-area.big{height:405px;}
.wrap-popup .movie-area.big .seco-movie{width:783px;height:405px;}
.wrap-popup .movie-area.big .seco-movie img{width:783px;height:405px;}
.wrap-popup .movie-area{overflow:hidden;width:783px;height:267px;margin-top:9px;}
.wrap-popup .movie-area .seco-movie{float:left;overflow:hidden;width:513px;height:267px;}
.wrap-popup .movie-area .seco-movie img{width:513px;height:267px;}
.wrap-popup .movie-area .advert-area{float:right;width:246px;height:267px;padding:29px 18px 28px;box-sizing:border-box;background:#f4f4f4;}

.wrap-popup .movie-slider{margin-top:21px;}
.wrap-popup .movie-slider ul li{float:left;width:136px;margin-right:25px;line-height:16px;font-size:12px;}
.wrap-popup .movie-slider ul li:nth-child(5n){margin-right:0;}
.wrap-popup .movie-slider ul li p{padding-top:5px;}
.wrap-popup .movie-slider .bx-wrapper .bx-controls-direction a{width:30px;height:30px;margin-top:-30px;}
.wrap-popup .movie-slider .bx-wrapper .bx-prev{left:-30px;background:url('../images/popup/btn_p_prevNext.png') 0 0 no-repeat;}
.wrap-popup .movie-slider .bx-wrapper .bx-next{right:-30px;background:url('../images/popup/btn_p_prevNext.png') -30px 0 no-repeat;}


.wrap-popup .adv-v-slider{margin-top:20px;}
.wrap-popup .adv-v-slider .bx-wrapper .bx-controls-direction a{width:31px;margin-top:0;}
.wrap-popup .adv-v-slider .bx-wrapper .bx-prev{top:0;left:auto;right:-31px;height:46px;background:url('../images/popup/btn_p_prevNext01.png') 0 0 no-repeat;}
.wrap-popup .adv-v-slider .bx-wrapper .bx-next{top:46px;right:-31px;height:47px;background:url('../images/popup/btn_p_prevNext01.png') 0 -46px no-repeat;}


/* btn */
.wrap-popup .btn-p{display:inline-block;margin-bottom:8px;height:28px;line-height:26px;padding:0 10px 0 25px;color:#666;font-size:12px;border:1px solid #ccc;border-radius:3px;box-sizing:border-box;}
.wrap-popup .btn-p + .btn-p{margin-left:9px;}
.wrap-popup .btn-p.icon01{background:url('../images/popup/icon_p_01_off.png') 10px center no-repeat;}
.wrap-popup .btn-p.icon02{background:url('../images/popup/icon_p_02_off.png') 10px center no-repeat;}
.wrap-popup .btn-p.icon03{background:url('../images/popup/icon_p_03_off.png') 10px center no-repeat;}
.wrap-popup .btn-p.on{color:#4f5eaf;border:1px solid #4f5eaf;}
.wrap-popup .btn-p.on.icon01{background:url('../images/popup/icon_p_01_on.png') 10px center no-repeat;}
.wrap-popup .btn-p.on.icon02{background:url('../images/popup/icon_p_02_on.png') 10px center no-repeat;}
.wrap-popup .btn-p.on.icon03{background:url('../images/popup/icon_p_03_on.png') 10px center no-repeat;}
.wrap-popup .btn-txt{display:block;width:100%;text-decoration:underline;font-size:12px;}

.wrap-popup .ci-area:after,
.wrap-popup .tab-area ul:after,
.wrap-popup .aside-area ul:after,
.wrap-popup .aside-tit:after,
.wrap-popup .movie-area:after,
.wrap-popup .movie-slider ul:after{
	content:'';
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
}




/* ------------------------------------- page -------------------------------------- */
/* margin */
.mgt_20{margin-top:20px!important;}

/* title */
.title05{position:relative;font-size:26px;color:#000;margin-bottom:15px;font-weight:600;}

/* 연합형 */
.box-program-name{margin-top:20px;padding:40px;background:#f7f7f7;}
.box-program-name .pro-img{float:left;overflow:hidden;width:558px;height:293px;}
.box-program-name .aside-title{float:right;overflow:hidden;padding-top:2px;width:524px;height:167px;border-bottom:1px solid #ccc;box-sizing:border-box;}
.box-program-name .aside-title .title05{margin-bottom:8px;}
.box-program-name .aside-title .obj .txt{font-size:16px;line-height:22px;}
.box-program-name .aside-title .obj .broad-time{font-size:16px;color:#666;margin-top:10px;line-height:22px;}
.box-program-name .aside-title .obj .broad-time li span{position:relative;display:inline-block;margin-left:9px;padding-left:10px;}
.box-program-name .aside-title .obj .broad-time li > span + span:after{content:'';display:block;position:absolute;top:0;left:0;width:1px;height:13px;background:#ccc;}






.box-program-name:after{
	content:'';
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
}



























