
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNone.cshtml";

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "member";
}


@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/login.css">
}

@section scripts{
    <script src="@wowTvScript/Zip/Index.js?date=20171018170000"></script>
}

<!-- 우편번호 찾기  도로명 주소로 찾기-->
<div class="popup-type1 layer-zipcode" style="display:block;">
    <div class="inner">
        <div class="box-title">
            <h1 class="title">우편번호 찾기</h1>
        </div>
        <div class="contain-content">

            
            <form id="frmSearch">
                <div class="box-tap-type2 col2">
                    <ul>
                        @*<li class="on"><span>도로명 주소로 찾기</span></li>
                        <li><a href="#">지번 주소로 찾기</a></li>*@
                        <li class="on" style="cursor:pointer;" onclick="return ZipIndex.ChangeTab(this, 'Road');"><span>도로명 주소로 찾기</span></li>
                        <li style="cursor:pointer;" onclick="return ZipIndex.ChangeTab(this, 'Dong');"><span>지번 주소로 찾기</span></li>
                    </ul>
                </div>

                <div class="box-cont2 devRoad">
                    <p style="font-size:17px;">도로명 주소를 모르실 경우, <a href="http://www.juso.go.kr/" target="_blank" class="text-link-type1">http://www.juso.go.kr/</a>에서 정확한 주소를 확인하세요.</p>
                </div>
                <div class="box-cont2 devDong" style="display:none;">
                    <p style="font-size:17px;">지번주소를 입력해 주세요.</p>
                </div>


                <div class="box-findaddress-form devRoad">
                    <input type="text" id="txtRoad" name="roadName" placeholder="도로명 주소를 입력하세요.">
                    <input type="submit" id="btnSearchRoad" class="btn-type1" value="검색">
                </div>
                <div class="box-findaddress-form devDong" style="display:none;">
                    <input type="text" id="txtDong" name="dongName" placeholder="지번 주소를 입력하세요.">
                    <input type="submit" id="btnSearchDong" class="btn-type1" value="검색">
                </div>

                <p class="title">검색방법</p>

                <div class="list-type1 devRoad">
                    <ol>
                        <li>도로명으로 검색하세요. <span class="text-color-type1">예) 버드나루로84 (O)</span></li>
                        <li>
                            도로명 + 건물번호로 검색하세요.<br>
                            주소가 “서울시 송파구 잠실로 51-33”인 경우. <span class="text-color-type1">예)잠실로 51-33</span><br>
                            ※ 지번주소, 동/리명만으로는 검색되지 않습니다. <span class="text-color-type1">예) 영등포동7가 (X)</span>
                        </li>
                    </ol>
                </div>
                <p class="text-type1 devDong" style="display:none;">주소가 "서울 송파구 잠실동"인 경우 <span class="text-color-type1">예) 잠실동</span></p>

                <hr class="division4">
                <div id="divList">
                </div>
            </form>
        </div>
        <span class="btn-close-popup" id="btnClose"><button>팝업 닫기</button></span>
    </div>
</div>
<!-- //우편번호 찾기  도로명 주소로 찾기-->

