
@model List<AddressSearchResult>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

}



<div class="table-type1">
    <table>
        <colgroup>
            <col width="128">
            <col>
        </colgroup>
        <tr>
            <th>우편번호</th>
            <th>주소</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ZipCode</td>
                <td class="text-left">
                    <a href="#" onclick="return ZipIndex.SelectItem('@item.ZipCode', '@item.Address1');">
                        @item.Address1
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

