@using Wow
@using Wow.Tv.Middle.Model.Db49.Article

@model List<NUP_NEWS_MAIN_SECTION_SELECT_Result>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
}

@if (Model != null && Model.Count > 0)
{
    <div class="top-slider ">
        <ul>
            @foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                {
                    <li>
                        <a href="javascript:NewsCommon.GoNewsDetailView('photo','','','@item.ARTICLEID')">
                            <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" alt="" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'">
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.top-slider ul').bxSlider({
                minSlides: 8,
                maxSlides: 8,
                slideWidth: 1200,
                moveSlides: 1,
                pager: false,
                control: true,
                touchEnabled: false,
                auto: true // 이미지 회전이 자동으로 됨
            });
        });
    </script>
}
