@using Wow
@using Wow.Tv.Middle.Model.Db49.Article

@model List<NUP_NEWS_MAIN_SECTION_SELECT_Result>

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<ul>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li>
                <a href="javascript:NewsCommon.GoNewsDetailView('photo','','','@item.ARTICLEID')">
                    @if (!string.IsNullOrEmpty(item.IMAGE_FILE))
                    {
                        <img src="@WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE.Value)" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="">
                    }
                    <div class="body-text">@item.TITLE</div>
                </a>
            </li>
        }
    }
    else
    {
        <li>등록된 내용이 없습니다.</li>
    }
</ul>

@* Ajax & bxSlider *@
@*<script src="@wowTvScript/design.js"></script>*@
<script type="text/javascript">
    $('.contain-like-news ul').bxSlider({
        minSlides: 4,
        maxSlides: 4,
        pager: false,
        slideWidth: 196,
        slideMargin: 31,
        touchEnabled: false
    });
</script>