@using Wow
@using Wow.Tv.Middle.Model.Db49.Article

@model List<NUP_NEWS_THIS_MANY_SEE_SELECT_Result>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
}

<ul>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLEID')">
                <img src="@WowExtensionMethod.NewsThumbnailPath("16M", item.THUMBNAIL_FILENM, null, item.IMAGE_DIR, item.IMAGE_FILE, new DateTime())" onerror="this.src='@WowExtensionMethod.NewsThumbnailOnError("16M")'" alt="">
                <div class="body-text">@item.TITLE</div>
            </a>
        </li>
    }
}
else
{
    <li>등록된 내용이 없습니다.</li>
}
</ul>
<script>

    $(document).ready(function () {

        $("[name='readManySeeNewsImage']").error(function () {
            $(this).attr("src", "@wowTvStyle/images/common/no_image.png");
        })
    });
</script>

