@using Wow
@using Wow.Tv.Middle.Model.Db49.Article

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<h2 class="title">당신에게 맞는 추천 뉴스</h2>
<!-- 태그 선택 -->
<div class="box-select-tags">

</div>
<!-- //태그 선택 -->
<div class="contain-news-type2">
    <ul id="ulNewsReadKeyWordNewsList">

    </ul>
</div>

