
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li>
            <a href="javascript:TravelRead.GoTravelView('@item.ArticleID')">
                <em></em>
                @item.Title
            </a>
        </li>
    }
}
else
{
    <li>
        등록된 내용이 없습니다.
    </li>
}