
@{
    ViewBag.Title = "CharacterStock";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}

@section scripts{

    <script src="@wowTvScript/Finance/CharacterStock/CharacterStock.js"></script>
}

<section class="container">

    <div class="section-title-area">
        <h2>특징주뉴스</h2>
    </div>

    <!-- title area -->
    <div class="section-area pd0">
        <form id="frmSearch" name="frmSearch" method="post" onsubmit="return false;"> 
            <input type="hidden" name="SearchSection" id="SearchSection" value="STOCKITEM" />
            <input type="hidden" name="SearchComp" id="SearchComp" value="" />
            <input type="hidden" name="currentIndex" id="currentIndex" value="1" />
            <input type="hidden" name="Page" id="Page" value="1" />
            <input type="hidden" name="PageSize" id="PageSize" value="10" />
            <input type="hidden" name="totalDataCount" id="totalDataCount" value="0" />
        </form>
    </div>
    <!-- // title area -->
    <div id="divNewsList">

    </div>

    <!-- Paginate -->
    <div class="box-paginate" id="divPaging"></div>
    <!-- //Paginate -->


</section>