
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        var FaceBook = {
            init: function (d, s, id) {
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '111061502867769',
                        xfbml: true,
                        version: 'v2.9'
                    });
                    // FB.Event.subscribe : 이벤트 변화 체크
                    // 댓글 등록 시 발생되는 이벤트 처리
                    FB.Event.subscribe('comment.create', function (response) {
                        window.location.reload();
                    });
                    // 댓글 삭제시 발생되는 이벤트 처리
                    FB.Event.subscribe('comment.remove', function (response) {
                        window.location.reload();
                    });
                };

                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ko_KR/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        };

        window.onload = function () {
            // 댓글 불러올 URL을 현재 페이지로 설정
            var url = location.href;
            $('.fb-comments').attr('data-href', url);

            //SDK 호출 (페이스북 연결)
            FaceBook.init(document, 'script', 'facebook-jssdk');
        };

        
    </script>
}

<h4>페이스북 댓글 예제</h4>


<!--
    data-href : 게시된 댓글과 연결될 URL
    data-width : width
    data-num-posts : 한번에 보여줄 댓글의 갯수
    data-order-by : 댓글 순서(social(인기순), reverse_time(최신순), time(날짜 오름차순)). 기본값 : time
-->
<div class="fb-comments" data-href="" data-width="800" data-num-posts="5" 	
    data-order-by="reverse_time"></div>
