@using Wow.Tv.FrontWebMobile.Areas.Component.Models
@{
    ViewBag.Title = "TvPlayerTest";
    string scriptUrl = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"];

    TvPlayerModel tvPlayerParameter = new TvPlayerModel();
    tvPlayerParameter.PlayType = TvPlayTypeModel.ByScript;
    tvPlayerParameter.AutoSize = true;
}
<script type="text/javascript" src="@scriptUrl/jquery-1.10.2.js"></script>
<script type="text/javascript" src="@scriptUrl/jquery.blockUI.js"></script>
<script type="text/javascript" src="@scriptUrl/Common.js"></script>

<h2>TvPlayerTest</h2>

<script type="text/javascript">
    function ByScriptLiveTv() {
        TvPlayer.PlayLiveTv();
        return false;
    }
    function ByScriptLiveAudio() {
        TvPlayer.PlayLiveAudio();
        return false;
    }
    function ByScriptTvReplay() {
        TvPlayer.PlayTvReplay($("#tvReplayNum").val());
        return false;
    }
    function ByScriptVod() {
        TvPlayer.PlayVod($("#vodNum").val());
        return false;
    }
    function ByScriptFullScreen() {
        TvPlayer.FullScreen();
    }
    function ByScriptResize() {
        TvPlayer.Resize($("#sizeWidth").val(), $("#sizeHeight").val());
    }
</script>
<h1>스크립트제어</h1><br /><br />
<a onclick="ByScriptLiveTv(); return false;">실시간 TV</a><br />
<a onclick="ByScriptLiveAudio(); return false;">실시간 AUDIO</a><br />
<a onclick="ByScriptTvReplay(); return false;">TV 다시보기</a>, NUM: <input type="text" id="tvReplayNum" value="104267" /><br />
<a onclick="ByScriptVod(); return false;">VOD</a>, NUM: <input type="text" id="vodNum" value="273228" /><br />

<a onclick="ByScriptResize();">사이즈조절</a>, Width: <input type="text" id="sizeWidth" value="700" />, Height: <input type="text" id="sizeHeight" value="700" />

@Html.Partial("TvPlayer", tvPlayerParameter)

<br /><br /><br />
<a onclick="ByScriptFullScreen();">풀스크린</a><br />


<!--
http://cdnvod.wowtv.co.kr:8080/Program/4revolution/4revolution020170626.mp4
-->