
@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string currentMenuSeq = Request["menuSeq"];
}


@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/tv.css">
}


@section scripts{
    <script src="@wowTvScript/Broad/Ing/Index.js?date=20171018170000"></script>
}


<!-- 소개부분 -->
<div class="section-area intro-tit">
    <h2>경제방송</h2>
</div>
<!-- //소개부분 -->
<!-- 탭 영역 -->
<div class="tab-area">
    <ul>
        <li class="on"><a href="#" onclick="return IngIndex.ChangeTab(this, 'Y');">방영 프로그램</a></li>
        <li><a href="#" onclick="return IngIndex.ChangeTab(this, 'N');">종영 프로그램</a></li>
    </ul>
</div>
<!-- //탭 영역 -->
<!-- 검색영역 -->
<form id="frmSearch">
    <div class="search-area">
        <div class="search-basic">
            <input type="text" name="programName" placeholder="검색어를 입력하세요." />
            <div class="btn-area">
                <a href="#" id="btnSearch" class="btn type03 full">검색하기</a>
            </div>
        </div>
    </div>


    <input type="hidden" name="broadSectionCode" value="Insurance" />
    <input type="hidden" id="hidIngYn" name="IngYn" />
    <input type="hidden" name="currentIndex" value="0" />
    <input type="hidden" name="pageSize" value="14" />
</form>
<!-- //검색영역 -->

<div id="divList"></div>




