@using Wow.Tv.FrontWebMobile.MenuService

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "land sub";

    MenuServiceClient menuServiceClient = new MenuServiceClient();
    string currentMenuSeq = Request["menuSeq"];

    var menuName = menuServiceClient.GetAt(Int32.Parse(currentMenuSeq));
}

@section scripts{
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/NewsCenter/Land/List.js"></script>
}

<form id="frmSearch">
    <input type="hidden" name="SearchSection" id="SearchSection" value="@Request["subMenu"]"/>
    <input type="hidden" name="SearchWowCode" id="SearchWowCode" value="@Request["wowCode"]"/>
    <input type="hidden" name="SearchText" id="SearchText" />

    <input type="hidden" name="totalDataCount" id="totalDataCount"/>
    <input type="hidden" name="currentIndex" id="currentIndex"/>
    <input type="hidden" name="Page" id="Page" value="1" />
    <input type="hidden" name="PageSize" id="PageSize" value="20" />

    <input type="hidden" name="IsAppend" id="IsAppend" />
</form>

<!--// location end -->
<!-- title area -->
<div class="section-title-area">
    <h2 class="mb0">
        @menuName.MENU_NAME
    </h2>
</div>
<!-- // title area -->
<!-- form start -->
<div class="section-area pt0 pb15">
    <fieldset class="form-sel-two">
        <legend>지역선택</legend>
        <label for="sido" class="blind">시/도 선택</label>
        <select id="sido"></select>

        <label for="gugun" class="blind">시/군/구 선택</label>
        <select id="gugun"></select>
    </fieldset>
</div>
<!--// form end -->
<!-- list start -->
<div class="news-list-box type02" id="divContents"></div>
