
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="swiper-slide">
            <!-- 썸네일 이미지 박스 -->
            <div class="box-thumb-area">
                <a href="javascript:NewsCommon.GoNewsDetailView('photo', '', '', '@item.ARTICLEID')">
                    <img src="@Wow.WowExtensionMethod.NewsThumbnailPath("34M", item.THUMBNAIL_FILENM, item.VOD_NUM, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("34M")'" alt="">
                    <span class="cont-area">
                        <strong class="tit">@item.TITLE</strong>
                    </span>
                </a>
            </div>
            <!-- //썸네일 이미지 박스 -->
        </div>
    }
}
else
{
    <div>등록된 내용이 없습니다.</div>
}

