@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}


<script>


    $(document).ready(function () {
        $('.box-webDrama-slider ul').bxSlider({
            minSlides: 1,
            maxSlides: 3,
            slideWidth: 490,
            slideMargin: 0,
            pager: false,
            autoControls: true,
            controls: true,
            auto: true, // 이미지 회전이 자동으로 됨
        });
    });

</script>




<div class="above-news pdt_0">
    <div class="mgt_0">
        <a href="javscript:void(0)">
            @*<img src="@wowTvStyle/images/temp/temp_tv_12.png" alt="" width="285" height="160">*@
            <iframe src='http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=67F88BAC4F1EAE2323BAC2262953FCCA04AD&outKey=V12120ef685314baaea8b675b389fa5c322ed3ad780e7c118279a675b389fa5c322ed&controlBarMovable=true&jsCallable=true&isAutoPlay=true&skinName=tvcast_white' frameborder='no' scrolling='no' marginwidth='0' marginheight='0' WIDTH='285' HEIGHT='160' allowfullscreen></iframe>

            @*<p class="icon-play medium"></p>*@
            @*<span>
                옐런·드라기·삼성 촉각...<br>
                증시 숨고르기 이후
            </span>*@
        </a>
    </div>
    <div>
        <h2 class="title01">웹드라마</h2>
        <p class="txt">한국경제TV가 기획/제작하는 웹드라마를 소개합니다. 다양한 소재와 출연진들로 구성되는드라마를 감상해 보세요. </p>
    </div>
</div>
<div class="box-webDrama-slider">
    <ul>
        <li><a href="http://tv.naver.com/kimtv" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_8.jpg" alt="웹드라마 이미지8"></a></li>
        <li><a href="http://tv.naver.com/mbn.someday" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_7.jpg" alt="웹드라마 이미지7"></a></li>
        <li><a href="http://tv.naver.com/1takedrama" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_6.jpg" alt="웹드라마 이미지6"></a></li>
        <li><a href="http://tv.naver.com/tomorrowboy" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_5.png" alt="웹드라마 이미지5"></a></li>
        <li><a href="http://tv.naver.com/azira" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_4.jpg" alt="웹드라마 이미지4"></a></li>
        <li><a href="http://tv.naver.com/bottle" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_3.jpg" alt="웹드라마 이미지3"></a></li>
        <li><a href="http://tv.naver.com/sansonam" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_2.jpg" alt="웹드라마 이미지2"></a></li>
        <li><a href="http://tv.naver.com/orangelight" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_1.jpg" alt="웹드라마 이미지1"></a></li>

        @*<li><a href="javascript:void(0);"><img src="@wowTvStyle/images/temp/temp_tv_13.png" alt="웹드라마 이미지" width="490" height="160"></a></li>
        <li><a href="javascript:void(0);"><img src="@wowTvStyle/images/temp/temp_tv_13.png" alt="웹드라마 이미지" width="490" height="160"></a></li>
        <li><a href="javascript:void(0);"><img src="@wowTvStyle/images/temp/temp_tv_13.png" alt="웹드라마 이미지" width="490" height="160"></a></li>
        <li><a href="javascript:void(0);"><img src="@wowTvStyle/images/temp/temp_tv_13.png" alt="웹드라마 이미지" width="490" height="160"></a></li>*@
    </ul>
</div>


