@{ 
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<!-- webdrama-area swipe -->

<div class="top-visual-area swiper-container ui-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/orangelight" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_1.jpg" alt="오렌지라이트"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/sansonam" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_2.jpg" alt="썸남이 되기 위한 진호의 진호의 고군분투 로맨스 산소같은 남자"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/bottle" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_3.jpg" alt="판타지로맨틱코미디 틴탑엘조 강성아 김도균주연 요술병"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/azira" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_4.jpg" alt="판타지오락코미디 아이돌 지구를 지켜라"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/tomorrowboy" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_5.png" alt="식지않는 우리들의 마음속 이야기 투모로우보이"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/1takedrama" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_6.jpg" alt="한여자를 사랑하고 싶은 한 남자의 정착로맨스 원테이크드라마 들리신나요?"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://http://tv.naver.com/mbn.someday" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_7.jpg" alt="어느날 갑자기"></a>
        </div>
        <div class="swiper-slide content-box">
            <a href="http://tv.naver.com/kimtv" target="_blank"><img src="@wowTvStyle/images/common/img_webdrama_8.jpg" alt="로맨틱 감성 웹뮤직드라마 썸라이트"></a>
        </div>
    </div>
    <!-- btn -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>



<!-- // webdrama-area swipe -->


