@charset "utf-8";

.form-sel-two:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.form-sel-two select{float:left;width:calc(50% - 5px);}
.form-sel-two select + label + select{margin-left:10px;}


/* banner img */
.bann-img{padding:15px;}
.bann-img a{display:block;border:1px solid #ebe9ea;box-sizing:border-box;}
.bann-img a + a{margin-top:10px}



/* background */
.bg-col01{background:#f5f5f5!important}


/* padding */
.plr15{padding-left:15px!important;padding-right:15px!important;}



/*****************************  main **************************/
/* common 시작 */
.land.main .container{overflow:hidden;border-top:1px solid #c3c6d5;background:#f5f5f5}
.land.main .section-area {margin-bottom:10px;padding:0 15px 15px;border-top:1px solid #ebe9ea;border-bottom:1px solid #ebe9ea; overflow:visible;}
.land.main .section-area.type2 {padding:0; border:none;} 
.land.main h3.tit-view {width:calc(100% + 30px); margin-left:-15px; padding:0 15px;}
.land.main h3.tit-view.bd-b {margin-bottom:15px; border-bottom:1px solid #ebe9ea;}
.land.main h3.tit-view a {position:relative; display:block;font-size:18px;font-weight:500} 
.land.main h3.tit-view a span.icon.ico-more {display:block; position:absolute; top:14px; right:0; width:15px; height:15px; background-position:-25px -333px;}
.land.main h3.tit-view a span.icon.ico-tit-arr {display:block; position:absolute; top:15px; right:0; width:6px; height:10px; background-position:-10px -54px;}
.land.main h3.tit-view span.tit-desc {display:block; margin:-6px 0 15px; line-height:12px; font-weight:300; font-size:12px; color:#333;}
.land.main .list-type03 ul {border-top:none;}
.land.main .list-type03 ul li:last-child {border-bottom:none;}
.land.main .tab-area.wide {width:calc(100% + 30px); margin-left:-15px; margin-top:-1px; margin-bottom:5px;}
/* //common 끝 */

/* 썸네일 area 및 list */
.land.main .box-thumb-area {display:block; width:100%;}
.land.main .box-thumb-area.wide {width:calc(100% + 30px); margin-left:-15px;}
.land.main .box-thumb-area a {position:relative; display:block; width:100%; height:100%;}
.land.main .box-thumb-area a:before {content:"";display:block; width:100%; height:100%; position:absolute; top:0; left:0;opacity:0.6;background-size:100% 100%; background-image:url('../images/common/bg_gradient.png');background-position:0 0;background-repeat:repeat-x; z-index:1}
.land.main .box-thumb-area a:after {content:""; display:block; position:absolute; bottom:15px; right:15px; z-index:2; width:30px; height:30px; background:url(../images/common/ico_video.png) center center no-repeat; background-size:100% 100%; opacity:0.6;}
.land.main .box-thumb-area a.no-media:after {content:''; display:none;} 
.land.main .box-thumb-area a img {display:block; width:100%;}
.land.main .box-thumb-area a span.cont-area {display:block; position:absolute; left:15px; bottom:15px; z-index:2;}
.land.main .box-thumb-area a span.cont-area span.text-icon {margin-bottom:7px;}
.land.main .box-thumb-area a span.cont-area p.tit {max-height:51px; padding-right:50px; font-size:20px; color:#fff; overflow:hidden;}

/* 지자체 뉴스(전국N) swipe */
.land.main .local-reg-area {width:calc(100% + 30px); margin-left:-15px; background:#292929; overflow:hidden;}
.land.main .local-reg-area .swiper-container {height:100%;}
.land.main .local-reg-area .swiper-slide {box-sizing:border-box; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.land.main .local-reg-area .swiper-slide a {height:63px; line-height:60px; margin:0 15px; border-bottom:3px solid #292929; box-sizing:border-box;}
.land.main .local-reg-area .swiper-slide.on a {border-bottom:3px solid #4f5eaf;}
.land.main .local-reg-area .swiper-slide a strong.tit {display:inline-block; vertical-align:middle; width:100%; height:40px; max-height:40px; margin-top:-5px;line-height:22px; font-weight:300; font-size:16px; color:#fff; overflow:hidden;}

/* 카드뉴스 list */
.land.main .list-media.card-type > ul > li {width:calc(50% - 1px); margin-left:1px;}
.land.main .list-media.card-type > ul > li:after {content:''; display:none;}

/* 이슈갤러리 swipe */
.land.main .issue-gallery-area {width:calc(100% + 15px); background:#fff; overflow:hidden;}
.land.main .issue-gallery-area .swiper-container {height:100%;}
.land.main .issue-gallery-area .swiper-slide {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.land.main .issue-gallery-area .swiper-slide .box-thumb-area a:after {content:''; display:none;} 
.land.main .issue-gallery-area .swiper-slide .box-thumb-area a span.cont-area {left:10px; bottom:10px;}
.land.main .issue-gallery-area .swiper-slide .box-thumb-area a span.cont-area strong.tit {display:block; max-height:34px; padding-right:10px; line-height:17px; font-weight:300; font-size:12px; overflow:hidden; color:#fff;}

/* 부동산 배너 area4 */
.land.main .banner-area.type4 {display:block; margin-bottom:10px; padding:0;}
.land.main .banner-area.type4 .banner-type4 {border-top:none; border-bottom:none;}
.land.main .banner-area.type4 .banner-type4 + .banner-type4 {margin-top:10px;background:#fff;padding:0 0 35px 0}
.land.main .banner-area.type4 .banner-type4 img {display:block; width:100%;}
.land.main .banner-area.type4 .banner-type4 .content-box {height:auto;}
.land.main .banner-area.type4 .banner-type4 .swiper-container{overflow:visible}
.land.main .banner-area.type4 .banner-type4 .swiper-container-horizontal > .swiper-pagination-bullets {padding-right:11px;}
.land.main .banner-area.type4 .banner-type4 .swiper-pagination-bullet-active {background:#007aff;}
.land.main .banner-area.type4 .banner-type4 .swiper-container-horizontal>.swiper-pagination-bullets, 
.land.main .banner-area.type4 .banner-type4 .swiper-pagination-custom, .swiper-pagination-fraction{bottom:-25px}

/* 부동산 배너 area5 */
.land.main .banner-area.type5 {display:block; margin-bottom:10px; padding:0 38px;}
.land.main .banner-area.type5 img {display:block; width:100%;}

/* 웹툰 swipe */
.land.main .webtoon-area img {display:block; width:100%;}
.land.main .webtoon-area .top-visual-area {padding-top:35px; padding-bottom:0; border-top:none; border-bottom:none; background:#fff;}
.land.main .webtoon-area .top-visual-area .content-box {height:auto;}
.land.main .webtoon-area .swiper-container-horizontal > .swiper-pagination-bullets {top:10px; text-align:right;}
.land.main .webtoon-area .swiper-pagination-bullet {background:#d2d4d7; opacity:1;}
.land.main .webtoon-area .swiper-pagination-bullet-active {background:#4f5eaf;}


@media all and (min-width:768px){
	
	/* common 시작 */
	.land.main .container{padding:15px}
	.land.main .container .left-area{float:left;width:calc(50% - 5px);}
	.land.main .container .right-area{float:right;width:calc(50% - 5px);}
	.land.main .section-area{border:1px solid #ebe9ea;}
	.land.main .box-thumb-area.wide {width:calc(100% + 32px); margin-left:-16px;}
	.land.main .tab-area.wide {width:calc(100% + 32px); margin-left:-16px; margin-top:-1px; border:1px solid #ccc;}
	/* //common 끝 */
	
	
}
 






