@charset "utf-8";

.main.main .header .header-top h1{font-size:20px;padding-top:11px}
.main.main .gnb-container{height:50px;}
.main.main .news-gnb.swiper-container,
.main.main .tv-gnb.swiper-container{height:50px;line-height:50px!important}
.main.main .news-gnb .swiper-slide span,
.main.main .tv-gnb .swiper-slide span{height:49px;font-size:18px;line-height:50px!important}
.tv-gnb .swiper-slide span
.main.main .box-cont-box .box-join-message .cont .txt{font-size:16px;}
.main.main .btn-area .btn.w-auto{font-size:14px;height:32px;line-height:28px;}
.main.main h3{font-size:18px;line-height:50px}
.main.main .list-type-onair a p{max-height:41px;font-size:15px;}
.main.main .list-type-onair a span.time{font-size:15px;}
.main.main .list-type-onair a span, .list-type-onair a p{font-size:14px}
.main.main .list-type-onair a.on p{width:calc(100% - 141px)}
.main.main .icon-onair{height:18px;line-height:18px;}

.main.main .sub-gnb01 .swiper-slide span{font-size:16px;line-height:45px}
.main.main .news-img-cont > .txt-area .txt{font-size:15px;max-height:40px;line-height:22px}
.main.main .news-img-cont > .txt-area{height:62px}
.main.main .news-img-cont .img-area .text-icon{font-size:14px;}
.main.main .text-icon{min-width:50px;height:20px;line-height:20px;}
.main.main .box-img-01 .txt{font-size:15px;max-height:33px}
.main.main .list-type-new02 .obj-cont .txt{font-size:16px;max-height:41px;line-height:22px}
.main.main .list-type-new02 .obj-cont .obj-txt{font-size:14px;max-height:14px;margin-top:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.main.main .list-type-new02 .obj-cont .img-area{width:26.75%;}
.main.main .list-type-new02 .img-area{padding-top:26.75%}
.main.main .list-type-new02 .obj-cont .aside-area span{font-size:14px;margin-top:8px}
.main.main .box-infor-keyword .hash-area .hash-tag{font-size:15px;min-height:30px;height:auto;line-height:20px;margin:5px;padding:8px 20px}
.main.main .tab-area li a{font-size:16px}
.main.main .box-img-02 > a .txt{font-size:15px;max-height:41px}
.main.main .box-img-02 > a .img-area{padding-top: 16.90625%; width: 30.8125%;}
.main.main .btn-area .btn.type06 span{font-size:14px}
.main.main .img-cont > .txt, .img-cont > .txt-area .txt{font-size:15px;max-height:33px;line-height:17px;}

.main.main .bitcoin-area .bitcoin-box ul.bit-list li{font-size:14px;letter-spacing:-0.5px;}
.main.main .bitcoin-area .bitcoin-box ul.bit-list li strong.tit{color:#888!important}
.main.main .bitcoin-area .bitcoin-box ul.bit-list li p.text span{font-size:14px;font-weight:400;font-family:'roboto', sans-serif;}