@charset "utf-8";


/*****************************  main **************************/
.main.main .box-main-bann {
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

    .main.main .box-main-bann > img {
        height: 100%
    }

.main.main .new-som-view.sub-gnb01.swiper-container {
    margin-bottom: 15px;
    border-top: 1px solid #ebe9ea;
}

    .main.main .new-som-view.sub-gnb01.swiper-container.pdr20 {
        padding-right: 20px;
    }
/* 20180226 추가한 클래스(pdr20)에 padding-right:20px 추가 */
.main.main .section-area {
    border-top: 1px solid #ebe9ea;
    border-bottom: 1px solid #ebe9ea
}

.box-movie-slider {
    padding: 10px 5px;
    background: #2f3036
}

    .box-movie-slider .movie-slider .swiper-slide {
        width: 25.625%;
    }

    .box-movie-slider .img-area {
        cursor: pointer
    }

        .box-movie-slider .img-area img {
            width: 100%;
        }

.box-cont-box {
    position: relative;
    overflow: hidden;
}

    .box-cont-box .box-join-message {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #000;
        z-index: 10
    }

        .box-cont-box .box-join-message:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-left: -3px
        }

        .box-cont-box .box-join-message .cont {
            display: inline-block;
            vertical-align: middle;
        }

            .box-cont-box .box-join-message .cont .txt {
                color: #fff;
                margin-bottom: 5%
            }

    .box-cont-box .box-wowPort-cont {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .box-cont-box .box-wowPort-cont > img {
            height: 100%;
        }

        .box-cont-box .box-wowPort-cont .box-slider-cont {
        }

            .box-cont-box .box-wowPort-cont .box-slider-cont .cont {
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                padding: 8% 0 0 15px;
                width: 62.5%;
                height: 100%;
                box-sizing: border-box;
                z-index: 2;
            }

                .box-cont-box .box-wowPort-cont .box-slider-cont .cont .text-icon {
                    margin-bottom: 2%
                }

                .box-cont-box .box-wowPort-cont .box-slider-cont .cont .aside {
                    color: #fff;
                }

                .box-cont-box .box-wowPort-cont .box-slider-cont .cont .tit-name {
                    position: relative;
                    display: block;
                    font-size: 20px;
                    font-weight: 300;
                    margin-top: 8%
                }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .cont .tit-name:before {
                        content: "";
                        display: block;
                        postition: absolute;
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 2px;
                        background: #ffd800
                    }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .cont .tit-name span {
                        display: inline-block;
                        padding-right: 3px;
                        color: #fff;
                    }

                .box-cont-box .box-wowPort-cont .box-slider-cont .cont .txt {
                    display: block;
                    color: #fff;
                    margin-top: 3%
                }

            .box-cont-box .box-wowPort-cont .box-slider-cont .img-obj {
                position: absolute;
                top: 0;
                right: 0;
                width: 37.5%;
                height: 100%;
                text-align: center;
                z-index: 2;
            }

                .box-cont-box .box-wowPort-cont .box-slider-cont .img-obj:before {
                    content: "";
                    display: inline-block;
                    vertical-align: bottom;
                    height: 100%
                }

                .box-cont-box .box-wowPort-cont .box-slider-cont .img-obj img {
                    display: inline-block;
                    vertical-align: bottom;
                    width: 78.3333333333333%
                }

            .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm {
                position: absolute;
                bottom: 0;
                left: 0;
                height:;
                padding-left: 15px;
                width: 100%;
                z-index: 3;
            }

                .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm .btn {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 20px 1%;
                    color: #fff;
                    line-height: 24px;
                    background-repeat: no-repeat;
                }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm .btn.ico-img01 {
                        background-size: 13px 10px;
                        background-position: 0 7px;
                        background-image: url('../images/main/ico-main-01.png');
                    }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm .btn.ico-img02 {
                        background-size: 13px 12px;
                        background-position: 0 7px;
                        background-image: url('../images/main/ico-main-02.png');
                    }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm .btn.ico-img03 {
                        background-size: 15px 12px;
                        background-position: 0 7px;
                        background-image: url('../images/main/ico-main-03.png');
                    }

                    .box-cont-box .box-wowPort-cont .box-slider-cont .btn-bm .btn.ico-img04 {
                        background-size: 13px 12px;
                        background-position: 0 7px;
                        background-image: url('../images/main/ico-main-04.png');
                    }

            .box-cont-box .box-wowPort-cont .box-slider-cont.type01 .tit-name {
                margin-top: 15%
            }

.main-slider.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

    .main-slider.swiper-container .swiper-button-next,
    .main-slider.swiper-container .swiper-button-prev {
        width: 33px;
        height: 33px;
        margin-top: -16.5px;
        background-size: auto 33px;
        background-image: url('../images/main/btn_main_prevNext.png')
    }

    .main-slider.swiper-container .swiper-button-next,
    .main-slider.swiper-container .swiper-container-rtl .swiper-button-prev {
        background-position: -33px 0;
    }

    .main-slider.swiper-container .swiper-button-prev,
    .main-slider.swiper-container .swiper-container-rtl .swiper-button-next {
        background-position: 0 0;
    }

/* 방송 스케줄 */
.list-type-onair:after {
}

.list-type-onair li {
    min-height: 51px;
    border-top: 1px solid #ebe9ea;
}

.list-type-onair a {
    display: block;
}

    .list-type-onair a span,
    .list-type-onair a p {
        display: inline-block;
        vertical-align: middle;
    }

        .list-type-onair a span.time {
            width: 59px;
            min-height: 51px;
            padding-top: 19px;
            text-align: center;
            font-family: 'roboto', sans-serif;
            box-sizing: border-box;
        }

            .list-type-onair a span.time:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

    .list-type-onair a p {
        overflow: hidden;
        max-height: 42px;
        margin: 10px 10px 10px 0;
        width: calc(100% - 73px);
        box-sizing: border-box;
    }

    .list-type-onair a.on {
        background: #ffd800
    }

        .list-type-onair a.on p {
            width: calc(100% - 142px);
        }

        .list-type-onair a.on span.time {
            color: #4f5eaf
        }



/* banner img */
.bann-img {
    padding: 15px;
}

    .bann-img img {
        width: 100%
    }

    .bann-img a {
        display: block;
    }

        .bann-img a + a {
            margin-top: 10px
        }



/* border */
.bdt-none {
    border-top: 0 !important;
}

.bdb-none {
    border-bottom: 0 !important;
}



/* padding */
.plr15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}








/* 스위치 버튼 */
.switch-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 20px;
    padding: 3px;
    margin: 0 10px 10px 0;
    border-radius: 18px;
    cursor: pointer;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #999999;
    border-radius: inherit;
}

    .switch-label:before, .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }

    .switch-label:before {
        content: attr(data-off);
        right: 7px;
        color: #ffffff;
    }

    .switch-label:after {
        content: attr(data-on);
        left: 7px;
        color: #ffffff;
        opacity: 0;
    }

.switch-input:checked ~ .switch-label {
    background: #4f5eaf;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

    .switch-input:checked ~ .switch-label:before {
        opacity: 0;
    }

    .switch-input:checked ~ .switch-label:after {
        opacity: 1;
    }

.switch-handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #999999;
    border-radius: 100%;
}
/* 볼 컨트롤 */
.switch-input:checked ~ .switch-handle {
    left: 29px;
    background: #fff;
    border: 1px solid #4f5eaf;
}
/* 볼 컨트롤 */









@media all and (min-width:768px) {
    .main.main .section-area {
        border: 1px solid #ebe9ea;
    }

    .main.main .box-infor-keyword {
        margin: 0 0 10px;
    }

    .main.main .box-img-slider.box-slider .swiper-slide {
        width: 38.28125% !important
    }
}

@media all and (min-width:1024px) {
    .main.main .box-img-slider.box-slider .swiper-slide {
        width: 21.28125% !important;
    }
}




/* 특징주뉴스 */
.stock-business.type01 {
    padding: 0;
    border-top: 0
}

    .stock-business.type01 .stock-area {
        margin-left: 0;
        padding-left: 15px;
    }

.stock-aside {
    padding:0px 0px 5px;
}

    .stock-aside li {
        position: relative;
        padding: 8px 15px;
        border-top: 1px solid #ebe9ea;
        font-size: 12px;
    }

        .stock-aside li + li {
            padding-top: 8px
        }

    .stock-aside .tit {
        display: block;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .stock-aside .txt-info-stock {
        width: calc(100% - 110px)
    }

        .stock-aside .txt-info-stock strong {
            display: inline-block;
            color: #999;
            font-size: 12px;
        }

        .stock-aside span {
            font-size: 12px;
        }

        .stock-aside .txt-info-stock strong span {
            color: #000;
            font-weight: 500
        }

        .stock-aside .txt-info-stock span {
            display: inline-block; /* color:#999; */
        }

    .stock-aside .txt-info-company {
        position: absolute;
        bottom: 8px;
        right: 15px;
        color: #666
    }