@charset "utf-8";

.tv .list-type03 ul li{line-height:35px;}

.section-area.intro-tit {border-top: 1px solid #c3c6d5;}
.location + .section-area.intro-tit {border-top:none;}
h4 {position:relative;}
h4 span.date {position:absolute; top:0; right:0; color:#887}


/* TV 상단 비주얼 영역 */
.sub-visual-area {position:relative; width:100%;}
.sub-visual-area .thumb-area {position:relative;overflow:hidden;padding-top:53.28125%;/*  width:100%; height:100%; */}
.sub-visual-area .thumb-area:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; /* background:rgba(0,0,0,0.7); */ background: url(../images/common/bg_grad_dim.png) center center no-repeat; background-size:100% 100%;}
.sub-visual-area .thumb-area img {position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;height:100%; width:100%;}/* 20180227 margin:0 auto 삭제, width:100% 추가 */

.sub-visual-lnb {position:absolute; top:0; left:0; width:100%; padding:0 35px; overflow:hidden;z-index:2}
.sub-visual-lnb .swiper-container.tv-sub-visual {width:100%; height:40px; line-height:36px!important; background:transparent; box-sizing:border-box;}
.sub-visual-lnb .swiper-slide {text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.sub-visual-lnb .swiper-slide.w-auto{width:auto!important}
.sub-visual-lnb .swiper-slide span{display:inline-block;height:32px;padding:0 5px;font-weight:500;font-size:16px;line-height:30px!important;color:#fff;cursor:pointer;box-sizing:border-box;}
.sub-visual-lnb .swiper-slide.on span{border-bottom:1px solid #fff;}
.sub-visual-lnb .swiper-container-rtl{position:relative;width:100%;}
.sub-visual-lnb .swiper-container-rtl .swiper-button-prev,
.sub-visual-lnb .swiper-container-rtl .swiper-button-next {width:30px; height:30px; top:-15px;}
.sub-visual-lnb .swiper-container-rtl .swiper-button-prev {left:-34px; background:url(../images/common/bg_sub_swipe_prev.png)50% 50% no-repeat; background-size:4px 7px;}
.sub-visual-lnb .swiper-container-rtl .swiper-button-next {left:auto!important;right:-34px; background:url(../images/common/bg_sub_swipe_next.png)50% 50% no-repeat; background-size:4px 7px;}

.sub-visual-lnb01 {position:relative;width:100%; padding:0 35px; overflow:hidden;background:linear-gradient(45deg, #583ca9, #f84b70);}
.sub-visual-lnb01 .swiper-container.tv-sub-visual {width:100%; height:40px; line-height:36px!important; background:transparent; box-sizing:border-box;}
.sub-visual-lnb01 .swiper-slide {text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.sub-visual-lnb01 .swiper-slide.w-auto{padding-left:5px;width:auto!important}
.sub-visual-lnb01 .swiper-slide span{display:inline-block;height:40px;line-height:44px;padding:0 5px;color:#fff;cursor:pointer;box-sizing:border-box;}
.sub-visual-lnb01 .swiper-slide.on span{border-bottom:4px solid #ff5252;}
.sub-visual-lnb01 .swiper-container-rtl01{position:relative;width:100%;}
.sub-visual-lnb01 .swiper-container-rtl01 .swiper-button-prev,
.sub-visual-lnb01 .swiper-container-rtl01 .swiper-button-next {overflow:hidden;width:30px; height:30px; top:-13px;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}
.sub-visual-lnb01 .swiper-container-rtl01 .swiper-button-prev {left:-34px; background-position:-99px -25px;}
.sub-visual-lnb01 .swiper-container-rtl01 .swiper-button-next {left:auto!important;right:-34px; background-position:-129px -25px;}

.sub-visual-lnb02 {position:relative;width:100%; padding:0 35px; overflow:hidden;background:#dce0f4;}
.sub-visual-lnb02 .swiper-container.tv-sub-visual {width:100%; height:40px; line-height:36px!important; background:transparent; box-sizing:border-box;}
.sub-visual-lnb02 .swiper-slide {text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.sub-visual-lnb02 .swiper-slide.w-auto{padding-left:30px;width:auto!important}
.sub-visual-lnb02 .swiper-slide span{display:inline-block;height:40px;line-height:40px;padding:0 5px;font-size:16px;font-weight:500;color:#3b4ba2;cursor:pointer;box-sizing:border-box;}
.sub-visual-lnb02 .swiper-slide.on span{border-bottom:4px solid #ff5252;}
.sub-visual-lnb02 .swiper-container-rtl01{position:relative;width:100%;}
.sub-visual-lnb02 .swiper-container-rtl01 .swiper-button-prev,
.sub-visual-lnb02 .swiper-container-rtl01 .swiper-button-next {overflow:hidden;width:30px; height:30px; top:-13px;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}
.sub-visual-lnb02 .swiper-container-rtl01 .swiper-button-prev {left:-34px; background-position:-0px -370px;}
.sub-visual-lnb02 .swiper-container-rtl01 .swiper-button-next {left:auto!important;right:-34px; background-position:-28px -370px;}

.sub-visual-lnb03 {position:relative;width:100%; padding:0 35px; overflow:hidden; border-bottom:1px solid #ebeaea; background:#fff;}
.sub-visual-lnb03 .swiper-container.tv-sub-visual {width:100%; height:40px; line-height:36px!important; background:transparent; box-sizing:border-box;}
.sub-visual-lnb03 .swiper-slide {text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.sub-visual-lnb03 .swiper-slide.w-auto{padding-left:30px;width:auto!important}
.sub-visual-lnb03 .swiper-slide span{display:inline-block;height:40px;line-height:40px;padding:2px 5px 0;color:#666;cursor:pointer;box-sizing:border-box;} 
.sub-visual-lnb03 .swiper-slide.on span{color:#5b69b4;}
.sub-visual-lnb03 .swiper-container-rtl01{position:relative;width:100%;}
.sub-visual-lnb03 .swiper-container-rtl01 .swiper-button-prev,
.sub-visual-lnb03 .swiper-container-rtl01 .swiper-button-next {overflow:hidden;width:30px; height:30px; top:-13px;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}
.sub-visual-lnb03 .swiper-container-rtl01 .swiper-button-prev {left:-34px; background-position:-54px -370px;}
.sub-visual-lnb03 .swiper-container-rtl01 .swiper-button-next {left:auto!important;right:-34px; background-position:-84px -370px;}
.sub-visual-lnb03.type2 {width:calc(100% + 30px); margin-left:-15px; border-top:1px solid #ebeaea;}

/* 날짜별 스케줄 SWIPE */
.date-swipe-area01 {height:75px; background:transparent; overflow:hidden;}
.date-swipe-area01 .date-swiper{height:42px;background:#8c92a0;padding:0 20px;}
.date-swipe-area01 .date-swiper .swiper-container{overflow:visible;}
.date-swipe-area01 .date-swiper .swiper-slide{position:relative;text-align: center;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.date-swipe-area01 .date-swiper .swiper-slide a{position:relative; display:block; padding:0 10px;height:42px;line-height:42px;font-family:'roboto', sans-serif; font-weight:500; font-size:18px; color:#fff;box-sizing:border-box;}
.date-swipe-area01 .date-swiper .swiper-slide.on a{position:relative; color:#4e5dae;background:#ffd801;}
.date-swipe-area01 .date-swiper .swiper-slide.on a:after {content:''; display:inline-block; position:absolute; left:50%; bottom:-10px; width:14px; height:10px; margin-left:-7px; background:url(../images/common/bg_date_swipe_on_arr.png) 0 0 no-repeat; background-size:100% 100%;}
.date-swipe-area01 .date-swiper .swiper-button-next, .date-swiper .swiper-button-prev{margin-top:-42px;height:42px;width:30px;background-color:#8c92a0;background-repeat:no-repeat;top:0;background-size:7px 13px;}
.date-swipe-area01 .date-swiper .swiper-button-next, .date-swiper .swiper-container-rtl .swiper-button-prev{right:-20px;background-image:url('../images/common/bg_date_arr_next.png');}
.date-swipe-area01 .date-swiper .swiper-button-prev, .date-swiper .swiper-container-rtl .swiper-button-next{left:-20px;background-image:url('../images/common/bg_date_arr_prev.png');}
.date-swipe-area01 .date-swiper .swiper-slide span{position:absolute;bottom:-32px;left:50%;display:block; width:24px; height:24px; margin-left:-12px; line-height:26px; text-align:center; font-family:'roboto', sans-serif; font-weight:500; font-size:14px; color:#4f5eaf; border-radius:100%; background:#ffd801;}


/* 방송 정보 영역 */
.prog-info-area {position:absolute; bottom:60px; left:0; width:100%; padding:0 15px; background:transparent; background-size:100% 100%;z-index:2}
.prog-info-area .text-icon-area {display:block;}
.prog-info-area strong.tit {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:20px; font-weight:500; font-size:16px; color:#fff;height:20px;}
.prog-info-area span.info-detail {display:inline-block; line-height:12px; font-weight:300; font-size:13px; color:#fff;}
.prog-info-area span.info-detail .num {font-family:'roboto', sans-serif; font-weight:300; font-size:14px; color:#fff;}


/* icon */
.is-ico-tv{display:inline-block;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}
.is-ico-tv.ico-tv{width:9px;height:10px;background-position:-122px -2px;}
.is-ico-tv.ico-youtube{width:13px;height:9px;background-position:-136px -2px;}

.box-aside{position:absolute; bottom:35px;padding:0 15px;z-index:2}
.box-aside a{display:inline-block;color:#fff;padding:5px 5px 5px 0;font-size:14px;}
.box-aside a:after{content:"";display:inline-block;vertical-align:middle;margin-left:3px;width:4px;height:7px;background-position:-154px -3px;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}

.box-etc-menu-area{position:absolute;bottom:0;height:36px;padding:0 10px;width:100%;box-sizing:border-box;border-top:1px solid rgba(255,255,255,0.2);z-index:2}
.box-etc-menu-area:after{content:"";clear:both;display:block;overflow:hidden;visibility:hidden;}
.box-etc-menu-area a{position:relative;float:left; display:block;color:#fff; width:25%; text-align:center;line-height:36px;font-size:14px;box-sizing:border-box;}
.box-etc-menu-area a + a:before{content:"";display:block;position:absolute;top:50%;left:0;margin-top:-4px;width:1px;height:9px;background:rgba(255,255,255,0.5)}

.box-util-links{padding:15px}
.box-util-links .box-btn-area .btn-area.news-util a{letter-spacing:-1px;}
.box-util-links .box-btn-area .btn-area.news-util > a{position:relative;float:left;width:65px}
.box-util-links .box-btn-area .btn-area.news-util > a:after{content:"";display:block;position:absolute;top:2px;right:-5px;width:1px;height:26px;background:#ccc;}
.box-util-links .box-btn-area .btn-area.news-util .btn-list.col2{padding-left:75px}
.box-util-links .box-btn-area .btn-area.news-util .btn-list li{margin-bottom:0;}
.box-util-links .box-btn-area .btn-area.news-util .btn-list li:first-child{width:calc(54% - 3px)}
.box-util-links .box-btn-area .btn-area.news-util .btn-list li:last-child{width:calc(46% - 3px)}


/* icon */
.is-ico-tv{display:inline-block;background-size:400px auto;background-image:url('../images/common/ico_sp01.png');background-repeat:no-repeat;}
.is-ico-tv.ico-tv{width:9px;height:10px;background-position:-122px -2px;}
.is-ico-tv.ico-youtube{width:13px;height:9px;background-position:-136px -2px;}


/* 목록 간략정보 */
.list-info-area {margin:15px 0 10px;}
.list-info-area:after {content:''; display:block; clear:both;}
.list-info-area .inner-left {float:left;}
.list-info-area .inner-right {float:right;}
.list-info-area p.total {color:#999;}
.list-info-area p.total strong {font-weight:300; color:#000;}


/* 연합형 profile slide */
.profile-swipe-area00 {padding:10px 40px; background:#f7f7f7; overflow:hidden;}
.profile-swipe-area00 .swiper-container {height:100%; overflow:visible;}
.profile-swipe-area00 .swiper-slide {text-align:center; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.profile-swipe-area00 .swiper-slide a {display:inline-block;width:100%;}
.profile-swipe-area00 .swiper-slide a span.photo-area {display:inline-block;position:relative;overflow:hidden;padding-top:65%; width:65%; border-radius:100%; overflow:hidden;}
.profile-swipe-area00 .swiper-slide a span.photo-area img {position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;height:100%}
.profile-swipe-area00 .swiper-slide a strong.tit {display:block; margin:0 auto; line-height:15px; font-weight:500;}
.profile-swipe-area00 .swiper-slide a span.day {display:inline-block; line-height:15px; font-size:14px; color:#666;}

.profile-swipe-area00 .swiper-container .swiper-button-prev, 
.profile-swipe-area00 .swiper-container .swiper-button-next {width:40px; height:100%; top:22px;} 
.profile-swipe-area00 .swiper-container .swiper-button-prev {left:-40px; background:#f7f7f7 url('../images/common/bg_prof_arr_prev.png') 15px 33px no-repeat; background-size:18px auto;}
.profile-swipe-area00 .swiper-container .swiper-button-next {right:-40px; background:#f7f7f7 url('../images/common/bg_prof_arr_next.png') 7px 33px no-repeat; background-size:18px auto;}


/* 검색결과 없을 시 */
.nodata {display:block; width:100%; height:88px;padding:20px 0 0; margin-left:0; text-align:center;}
.nodata:before {content:""; display:inline-block; height:100%; vertical-align:middle}
.nodata p {display:inline-block; vertical-align:middle; text-align:center;}
.nodata p strong.tit {display:block; line-height:16px; font-weight:500; font-size:16px; color:#666;}
.nodata p span.cont {display:block; line-height:20px; color:#999;}
.nodata p strong.tit + span.cont {margin-top:15px;}


/* 자음 항목 검색 영역 */ 
.list-word-item {margin:13px 0 0;}
.list-word-item:after {content:''; display:block; clear:both;}
.list-word-item .btn-word {float:left; display:inline-block;font-weight:100; width:30px; height:30px; margin:8px 8px 3px 0; line-height:30px; vertical-align:middle; text-align:center; border:1px solid #ccc; border-radius:2px; box-sizing:border-box;}
.list-word-item .btn-word.on {color:#fff; border:1px solid #4f5eaf; background:#4f5eaf;}


/* 전체프로그램 목록 */
.list-all-media ul:after {content:''; display:block; clear:both;}
.list-all-media ul li {float:left; width:50%; height:55px;padding-bottom:3px; border-bottom:1px solid #e6e6e6; box-sizing:border-box;}
.list-all-media ul li:nth-child(2n+2) {padding-left:10px;}
.list-all-media ul li:before {content:''; display:inline-block; height:100%; vertical-align:middle;}
.list-all-media ul li a {display:inline-block; position:relative; max-height:36px; padding-left:7px; vertical-align:middle; word-wrap:break-word; word-break:keep-all; font-size:14px; color:#333; overflow:hidden;}
.list-all-media ul li a:after {content:''; display:block; position:absolute; top:6px; left:0; width:2px; height:2px; border-radius:100%; background:#999;}


/* 온에어 */
.air-visual-area {width:100%; border-bottom:1px solid #dbdce0;}
.air-visual-area .air-info-area {padding:15px; background:url(../images/tv/bg_air_info_area.jpg) 0 0 no-repeat; background-size:100% 100%;}
.air-visual-area .air-info-area .text-icon-area {display:block; margin-bottom:5px;}
.air-visual-area .air-info-area strong.tit {display:block; margin-bottom:10px; line-height:20px; font-weight:500; font-size:16px; color:#fff;}
.air-visual-area .air-info-area span.info-detail {display:block; line-height:14px; font-weight:300; color:#fff;}
.air-visual-area .air-info-area span.info-detail + span.info-detail {margin-top:5px;} 
.air-visual-area .air-info-area span.info-detail .num {font-family:'roboto', sans-serif; font-weight:300; color:#fff;}
.air-visual-area .air-media-area {width:100%;}
.air-visual-area .air-media-area img {display:block; width:100%;}

.bann-auto-slider img{width:100%;display:block;}


 /* 프로필 리스트 */
.list-profile ul li {width:100%; height:auto; padding:15px; border-top:1px solid #ebe9ea; border-left:1px solid #ebe9ea; border-right:1px solid #ebe9ea; box-sizing:border-box;}
.list-profile ul li:last-child {border-bottom:1px solid #ebe9ea;}
.list-profile ul li .profile-area:after {content:''; display:block; clear:both;}
.list-profile ul li .profile-area .photo-area {float:left; position:relative;overflow:hidden;padding-top:34.6875%;width:34.6875%;/*  width:111px; height:111px; */}
.list-profile ul li .profile-area .photo-area img {display:block; position:absolute;top:0;left:0;right:0;bottom:0;max-width:100%;height:100%;}
.list-profile ul li .profile-area .photo-area span.rank {display:block; position:absolute; top:0; left:0; width:23px; height:23px; line-height:23px; text-align:center; font-family:'roboto', sans-serif; font-style:italic; font-weight:500; font-size:13px; color:#fff; background:#6e7abb;}
.list-profile ul li .profile-area .info-area {float:left; position:relative; width:calc(100% - 34.6875%); height:111px; padding-left:10px;}
.list-profile ul li .profile-area .info-area strong.tit {display:block; margin-bottom:7px; line-height:15px; font-weight:500; font-size:18px; color:#000;}
.list-profile ul li .profile-area .info-area .txt-exer {margin-top:0;}
.list-profile ul li .profile-area .info-area p.cont {margin-top:3px;line-height:20px; color:#666;}
.list-profile ul li .profile-area .btn-area.news-util {position:absolute; left:0px; bottom:0; width:100%; padding:0 0 0 10px; text-align:left; font-size:0;}
.list-profile ul li .profile-area .btn-area.news-util:after {content:''; display:block; clear:both;}
.list-profile ul li .profile-area .btn-area.news-util > * {float:left; margin:5px 5px 0 0;}
.list-profile ul li p.cont-area {width:100%; margin-top:10px; color:#000;line-height:24px}

 /* 프로그램홈(연합형) > 리스트 */
.list-program ul li {width:100%; height:auto; padding:15px 0; box-sizing:border-box;}
.list-program ul li + li {border-top:1px solid #ebe9ea;}
.list-program ul li .program-area:after {content:''; display:block; clear:both;}
.list-program ul li .program-area .photo-area {float:left; position:relative;padding-top:23.90625%; width:40.46875%;/*  height:80px; */}
.list-program ul li .program-area .photo-area img {position:absolute;top:0;left:0;display:block; max-width:100%;width:100%; height:100%}
.list-program ul li .program-area .info-area {float:left; position:relative; width:calc(100% - 40.46875%); height:95px; padding-left:10px;}
.list-program ul li .program-area .info-area strong.tit {display:block; margin-bottom:7px; font-weight:500; color:#000;}
.list-program ul li .program-area .info-area .txt-exer {margin-top:0;letter-spacing:-0.05em;}
.list-program ul li .program-area .info-area .txt-exer + .txt-exer {margin-left:0; padding-left:0;}
.list-program ul li .program-area .info-area .txt-exer + .txt-exer:after {content:''; display:none;}
.list-program ul li .program-area .btn-area.news-util {width:100%; padding:0; text-align:left; font-size:0;}
.list-program ul li .box-grey-btn {width:100%; margin-top:10px; height:35px; line-height:35px; vertical-align:middle; text-align:center; font-size:0; background:#f7f7f7;}
.list-program ul li .box-grey-btn a {display:inline-block; width:calc(100% / 3); height:25px; line-height:27px;padding-top:2px; vertical-align:middle; font-size:15px; color:#222; box-sizing:border-box;}
.list-program ul li .box-grey-btn a + a {border-left:1px solid #cdcdcd;}
.list-program ul li .box-grey-btn a .icon.ico-record {width:11px; height:9px; margin-right:5px; background-position: 0 -350px;}
.list-program ul li .box-grey-btn a .icon.ico-cafe {width:11px; height:9px; margin-right:5px; background-position: -17px -350px;}
.list-program ul li .box-grey-btn a .icon.ico-join {width:9px; height:9px; margin-right:5px; background-position: -33px -350px;}


 /* 박스 파트너 정보 */
.box-info-partner {width:100%; margin-top:15px; padding:15px; background:#eef1f6;}
.box-info-partner span.partner {display:block; margin-bottom:10px; font-size:16px;}
.box-info-partner span.partner strong{font-weight:500}
.box-info-partner .list-dotted ul {font-size:0;}
.box-info-partner .list-dotted ul:after {content:''; display:block; clear:both;}
.box-info-partner .list-dotted ul li {display:inline-block; min-height:initial; margin-right:20px; color:#333;}
.box-info-partner .list-dotted ul li + li {margin-top:0;}
.box-info-partner .list-dotted ul li span {padding-left:10px;}


/* slider tale */
.table-swipe-area00 {width:calc(100% + 30px); margin-left:-15px; padding:0 15px; overflow:hidden;}
.table-swipe-area00 .tbl-slider {position:relative; padding-bottom:10px; overflow:visible;}
.table-swipe-area00 .tbl-slider .swiper-button-prev, 
.table-swipe-area00 .tbl-slider .swiper-button-next {width:15px; height:100%; top:22px;} 
.table-swipe-area00 .tbl-slider .swiper-button-prev {left:-15px; background: #fff url('../images/common/bg_tbl_arr_prev.png') 3px center no-repeat; background-size:11px auto;}
.table-swipe-area00 .tbl-slider .swiper-button-next {right:-15px; background: #fff url('../images/common/bg_tbl_arr_next.png') 0 center no-repeat; background-size:11px auto;}



/*****************************  main **************************/
/* common 시작 */
.tv.main .container{overflow:hidden;border-top:1px solid #c3c6d5;background:#f5f5f5}
.tv.main .section-area {margin-bottom:10px;padding:0 15px 15px;border-top:1px solid #ebe9ea;border-bottom:1px solid #ebe9ea; overflow:visible;}
.tv.main .section-area.type2 {padding:0; border:none;} 
.tv.main h3.tit-view {width:calc(100% + 30px); margin-left:-15px; padding:0 15px;}
.tv.main h3.tit-view.bd-b {margin-bottom:15px; border-bottom:1px solid #ebe9ea;}
.tv.main h3.tit-view a {position:relative; display:block;font-size:18px;font-weight:500;} 
.tv.main h3.tit-view a span.icon.ico-more {display:block; position:absolute; top:14px; right:0; width:15px; height:15px; background-position:-25px -333px;}
.tv.main h3.tit-view a span.icon.ico-tit-arr {display:block; position:absolute; top:15px; right:0; width:6px; height:10px; background-position:-10px -54px;}
.tv.main h3.tit-view span.tit-desc {display:block; margin:-0 0 15px;line-height:22px;}
.tv.main .list-type03 ul {border-top:none;}
.tv.main .tab-area.wide {width:calc(100% + 30px); margin-left:-15px; margin-top:-1px; margin-bottom:5px;}
/* //common 끝 */

.broadcast-area {position:relative; padding-top:72px; box-sizing:border-box;}
.broadcast-area .schedule-broad-area {position:absolute; top:0; left:0; z-index:4; width:100%;}
.broadcast-area .schedule-broad-area .toggle-area {position:relative; padding:15px 0; background:url(../images/tv/bg_broadcast_area.jpg) 0 0 no-repeat; background-size:cover; box-sizing:border-box;}
.broadcast-area .schedule-broad-area .toggle-area:after {content:''; display:inline-block; position:absolute; top:50%; right:15px; width:15px; height:9px; margin-top:-5px; background:url(../images/tv/bg_broad_tog.png) 50% 50% no-repeat; background-size:15px 9px;}
.broadcast-area .schedule-broad-area .toggle-area.on:after {content:''; background:url(../images/tv/bg_broad_tog_on.png) 50% 50% no-repeat; background-size:15px 9px;}
.broadcast-area .schedule-broad-area .toggle-area .program-info {padding-left:15px; box-sizing:border-box;}
.broadcast-area .schedule-broad-area .toggle-area .program-info .text-icon {width:45px; color:#000;}
.broadcast-area .schedule-broad-area .toggle-area .program-info .info-area {color:#fff;}
.broadcast-area .schedule-broad-area .toggle-area .program-info strong.tit {display:block; width:calc(100% - 50px); line-height:24px; font-weight:500; font-size:17px; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.broadcast-area .schedule-broad-area .toggle-area .schedule-info {display:none; padding-left:15px; box-sizing:border-box;}
.broadcast-area .schedule-broad-area .toggle-area .schedule-info span.date {display:block; line-height:21px; font-size:13px; color:#fff;}
.broadcast-area .schedule-broad-area .toggle-area .schedule-info p.desc {line-height:21px; font-weight:500; color:#fff;}
.broadcast-area .schedule-broad-area .toggle-area.on .program-info {display:none;}
.broadcast-area .schedule-broad-area .toggle-area.on .schedule-info {display:block;}
.broadcast-area .schedule-broad-area .list-schedule-broad {display:none; box-sizing:border-box;}
.broadcast-area .schedule-broad-area .list-schedule-broad .notice-live-area {padding:10px 15px; background:#f5f5f5;}
.broadcast-area .schedule-broad-area .list-schedule-broad .notice-live-area span.noti {display:block; margin-bottom:8px; line-height:12px; font-size:13px; color:#4f5eaf;}
.broadcast-area .schedule-broad-area .list-schedule-broad .notice-live-area strong.tit {display:block; margin-bottom:6px; line-height:14px; font-weight:500; color:#3e3e3e;}
.broadcast-area .schedule-broad-area .list-schedule-broad .notice-live-area span.sub-tit {display:block; line-height:12px; font-weight:300; font-size:12px; color:#3e3e3e;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area {z-index:100}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area p.tit {width:100%; height:30px; line-height:30px; text-align:center; font-size:13px; color:#4f5eaf; background:#fff;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li {height:50px; line-height:50px;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a {position:relative; display:block; width:100%; height:100%; overflow:hidden;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area {position:absolute; top:0; left:0; z-index:3; width:100%; height:100%; padding-left:15px; font-size:0; color:#fff; background:rgba(0,0,0,0.6);}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area span.state {display:inline-block; vertical-align:middle; width:54px; height:26px; line-height:26px; text-align:center; font-size:12px; color:#4e5faf; border:1px solid #4e5faf; border-radius:2px; background:#fff; box-sizing:border-box;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area .cont-info {display:inline-block; vertical-align:middle; width:calc(100% - 105px); margin-left:10px;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area .cont-info strong.tit {display:block; width:100%; margin-bottom:5px; line-height:14px; font-weight:500; color:#fff; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area .cont-info strong.tit span.text-icon {margin-right:5px;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area .cont-info .date-info {display:block; line-height:12px; font-size:13px; color:#fff;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-info-area .cont-info .date-info span.num {color:#fff;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-img-area {position:relative; z-index:2; width:100%; height:100%;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li a .live-img-area img {display:block; width:100%; height:100%;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li.on a .live-info-area {background:url(../images/tv/bg_tv_prog_on.jpg) no-repeat left 50%; background-size:100%;}
.broadcast-area .schedule-broad-area .list-schedule-broad .list-live-area ul li.on a .live-info-area span.state {background:#ffd800;}
.broadcast-area .media-broad-area {display:block; width:100%;}
.broadcast-area .media-broad-area > * {display:block; width:100%;}


.ad_play_btn_GPQPh .ico_play {z-index:90 } /* TV 플레이어 아이콘 */


/* 썸네일 area 및 list */
.tv.main .box-thumb-area {display:block; width:100%;}
.tv.main .box-thumb-area.wide {width:calc(100% + 30px); margin-left:-15px;}
.tv.main .box-thumb-area a {position:relative; display:block; width:100%; height:100%;}
.tv.main .box-thumb-area a:before {content:''; display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background:url(../images/common/bg_grad_dim2.png) 0 0 no-repeat; background-size:cover;}
.tv.main .box-thumb-area a:after {content:""; display:block; position:absolute; bottom:15px; right:15px; z-index:2; width:30px; height:30px; background:url(../images/common/ico_video.png) center center no-repeat; background-size:100% 100%; opacity:0.6;}
.tv.main .box-thumb-area a.no-media:after {content:''; display:none;} 
.tv.main .box-thumb-area a img {display:block; width:100%;}
.tv.main .box-thumb-area a span.cont-area {display:block; position:absolute; left:15px; bottom:15px; z-index:2;}
.tv.main .box-thumb-area a span.cont-area span.text-icon {margin-bottom:7px;}
.tv.main .box-thumb-area a span.cont-area strong.tit {display:block; max-height:40px; padding-right:50px; line-height:20px; font-weight:300; font-size:16px; color:#fff; overflow:hidden;}

/* TV 다시보기, 인기 영상뉴스 */
.tv.main .list-media.box-type > ul > li .img-area a{position:relative;padding-top:;}
.tv.main .list-media.box-type > ul > li .img-area a:before {content:''; display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background:url(../images/common/bg_gradient.png) 0 0 repeat-x; background-size:100% 100%;}
.tv.main .list-media.box-type > ul > li .cont-area {height:auto; padding:5px 0 0 0; border:none;}

/* 탭(종목영상, 마켓뉴스) 목록 */
.tv.main .list-program.type2 ul li {width:calc(100% + 30px); margin-left:-15px; padding:10px 15px;}
.tv.main .list-program.type2 ul li:last-child {padding:10px 15px 0;}
.tv.main .list-program.type2 ul li .program-area .photo-area {width:45.3125%;padding-top:0;}
.tv.main .list-program.type2 ul li .program-area .photo-area a {position:relative; display:block;padding-top:55.86206896551724%}
.tv.main .list-program.type2 ul li .program-area .photo-area a:before {content:''; display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; background:url(../images/common/bg_grad_dim2.png) 0 0 no-repeat; background-size:cover;}
.tv.main .list-program.type2 ul li .program-area .photo-area a:after {content:''; display:block; position:absolute; bottom:5px; right:5px; z-index:2; width:20px; height:20px; background:url(../images/common/ico_video.png) center center no-repeat; background-size:100% 100%; opacity:0.6;}
.tv.main .list-program.type2 ul li .program-area .info-area {width: calc(100% - 45.3125%); height:81px; padding-left:10px;}
.tv.main .list-program.type2 ul li .program-area .info-area strong.tit a {display:block; width:100%; height:100%;font-weight:500;}
.tv.main .list-program.type2 ul li .program-area .info-area .btn-area.news-util .btn {width:75px; color:#000;}

/* TV 프로그램 구매하기 */
.tv.main .program-buy-area {position:relative; z-index:3; width:100%; background:url(../images/tv/bg_prog_buy_area.jpg) center center no-repeat; background-size:cover;}
.tv.main .program-buy-area:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:152px; background:url(../images/tv/bg_prog_buy_area2.png) 0 0 no-repeat; background-size:auto 152px; opacity:0.1;}
.tv.main .program-buy-area a {position:relative; z-index:2; display:block; width:100%; height:50px; line-height:50px; padding-left:20px; box-sizing:border-box; cursor:pointer;}
.tv.main .program-buy-area a:after {content:''; display:block; position:absolute; top:50%; right:15px; width:6px; height:11px; margin-top:-6px; background:url(../images/tv/bg_prog_buy_arr.png) 0 0 no-repeat; background-size:auto 11px;}
.tv.main .program-buy-area a + a {border-top:1px solid rgba(255,255,255,0.5);}
.tv.main .program-buy-area a strong.tit {position:relative; display:inline-block; vertical-align:middle; padding-left:33px; font-weight:300; font-size:16px; color:#fff;}
.tv.main .program-buy-area a strong.tit .icon.ico-prog-buy1 {position:absolute; top:15px; left:0; width:23px; height:22px; background-position: -63px -190px;}
.tv.main .program-buy-area a strong.tit .icon.ico-prog-buy2 {position:absolute; top:15px; left:0; width:23px; height:22px; background-position: -94px -190px;}
.tv.main .program-buy-area a strong.tit .icon.ico-prog-buy3 {position:absolute; top:15px; left:0; width:23px; height:22px; background-position: -121px -190px;}

/* 웹드라마 swipe */
.tv.main .webdrama-area img {display:block; width:100%;}
.tv.main .webdrama-area .top-visual-area {padding:15px 0 25px; border-top:none; border-bottom:none; background:#fff;}
.tv.main .webdrama-area .top-visual-area .content-box {height:auto;}
.tv.main .webdrama-area .swiper-container-horizontal > .swiper-pagination-bullets {bottom:-1px;}
.tv.main .webdrama-area .swiper-pagination-bullet {background:#d2d4d7; opacity:1;}
.tv.main .webdrama-area .swiper-pagination-bullet-active {background:#4f5eaf;}
.tv.main .webdrama-area .swiper-button-prev {top:auto; left:50%; bottom:1px; width:20px; height:11px; margin-left:-90px; background:url(../images/tv/btn_webdrama_prev.png) center right no-repeat; background-size:7px auto;}
.tv.main .webdrama-area .swiper-button-next {top:auto; right:50%; bottom:1px; width:20px; height:11px; margin-right:-90px; background:url(../images/tv/btn_webdrama_next.png) center left no-repeat; background-size:7px auto;}

/* SNS 현장 라이브 */
.tv.main .sns-live-area {margin-top:20px; text-align:center;}
.tv.main .sns-live-area strong.tit {display:block; margin-bottom:10px; line-height:28px; font-weight:500; font-size:16px; color:#000;padding:0 30px}
.tv.main .sns-live-area span.sub-tit {display:block; margin-bottom:15px; line-height:24px; font-size:14px; color:#000;}
.tv.main .sns-live-area .sns-btn-area {display:block; width:calc(100% - 50px); margin:0 auto 15px; padding-top:15px; border-top:1px solid #ebe9ea;}
.tv.main .sns-live-area .sns-btn-area a.icon {display:inline-block; width:26px; height:26px;}
.tv.main .sns-live-area .sns-btn-area a.icon + a.icon {margin-left:8px;}
.tv.main .sns-live-area .sns-btn-area a.icon.ico-live-facebook {background-position: -27px -75px;}
.tv.main .sns-live-area .sns-btn-area a.icon.ico-live-youtube {background-position: -55px -75px;}
.tv.main .sns-live-area .sns-btn-area a.icon.ico-live-kakao {background-position: -84px -75px;}
.tv.main .sns-live-area .sns-btn-area a.icon.ico-live-africa {background-position: -113px -75px;}

/* 한국경제TV 방송 목록 > 아코디언 리스트 영역 */
.tv.main .list-broad-area {width:calc(100% + 30px); margin-left:-15px;/*  border-left:1px solid #ebe9ea;; border-right:1px solid #ebe9ea; */}
.tv.main .list-broad-area > ul > li {border-bottom:1px solid #ebe9ea;}
.tv.main .list-broad-area > ul > li:last-child {border-bottom:none;}
.tv.main .list-broad-area > ul > li strong.tit {position:relative; display:block; height:33px; line-height:33px; padding:0 15px; font-weight:300; font-size:16px; color:#000;}
.tv.main .list-broad-area > ul > li strong.tit:after {content:''; display:block; position:absolute; top:50%; right:7px; width:22px; height:27px; margin-top:-13px; background-position:-154px 0; background-size:300px auto;background-image:url('../images/ir/icon.png'); background-repeat:no-repeat;}
.tv.main .list-broad-area > ul > li .cont-area {display:none;border-top:1px solid #ebe9ea;}
.tv.main .list-broad-area > ul > li.on strong.tit:after{background-position:-132px 0;}
.tv.main .list-broad-area > ul > li.on .cont-area {display:block;}

.tv.main .list-broad-area ul li .cont-area .list-all-media {padding:0 15px 8px;}
.tv.main .list-broad-area ul li .cont-area .list-all-media ul li:last-child {border-bottom:none;}
.tv.main .list-broad-area ul li .cont-area .list-all-media ul li:nth-last-child(2) {border-bottom:none;}


@media all and (min-width:768px){
	
	/* common 시작 */
	.tv.main .container{padding:15px}
	.tv.main .container .left-area{float:left;width:calc(50% - 5px);}
	.tv.main .container .right-area{float:right;width:calc(50% - 5px);}
	.tv.main .section-area{border:1px solid #ebe9ea;}
	.tv.main .box-thumb-area.wide {width:calc(100% + 32px); margin-left:-16px;}
	.tv.main .tab-area.wide {width:calc(100% + 32px); margin-left:-16px; margin-top:-1px; border:1px solid #ccc;}
	/* //common 끝 */
	
	
}
 



