
@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<form id="frmSearchCmt">
    <input type="hidden" name="PageSize" value="20" id="cmtPageSize"/>
    <input type="hidden" name="TotalDataCount" id="totalDataCount" />
    <input type="hidden" name="CurrentIndex" id="cmtCurrentIndex"/>
    <input type="hidden" name="ArticleId" id="articleId" value="@ViewBag.ArticleId" />
</form>

<div class="reply-head">
    <h2 class="title">
        댓글
        <span id="commentCnt">(0)</span>
    </h2>
    <span class="btn-switch" id="btnCommentSwitch"><button>열기</button></span>
</div>
<div class="reply-body" style="height:auto!important;">
    <div class="sect-reply">
        <div class="header-reply">
            <div class="contain-login-sns" id="divCommentLogin" style="display:none;">
                <div class="box-list-contact">
                    <span class="btn-hankyung"><button id="btnHankyung">한국경제TV 로그인</button></span>
                    <span class="division-bar"></span>
                    <span class="btn-facebook on"><button id="btnFacebookLogin">Facebook 로그인</button></span>
                    <span class="division-bar"></span>
                    <span class="btn-kakaostory on"><button id="btnKakaoLogin">카카오 로그인</button></span>
                    <span class="division-bar"></span>
                    <span class="btn-naver on"><button id="btnNaverLogin">네이버 로그인</button></span>
                </div>
                <p>의견 작성을 위해 원하시는 계정으로 로그인 해주세요.</p>
            </div>
            <div class="box-write-reply">
                <form id="frmAdd">
                    <textarea class="txtComment" cols="30" rows="10"></textarea>
                    <textarea name="COMMENT" class="hidComment" style="display:none;"></textarea>
                    <div class="inner-right">
                        <input type="button" id="btnAdd" class="btn-type1" value="등록">
                    </div>
                    <p class="type" id="txtLen">0/500</p>
                    <input type="hidden" name="ARTICLE_ID" value="@ViewBag.ArticleId" />
                </form>
            </div>
            <div class="box-button reply">
                <div class="inner-left">
                    <p>* 욕설, 비방, 모욕성의 댓글은 관리자에 의해 삭제 또는 비공개 처리 될 수 있습니다.</p>
                </div>
            </div>
            <div class="body-reply" id="divGetComment"></div>
            <div class="btn-area mt20">
                <a href="javascript:void(0)" id="ArtCommentMore" class="btn type01 full">더보기</a>
            </div>
        </div>
    </div>
</div>


