@using Wow
@using Wow.Tv.Middle.Model.Db49.Article
@using Wow.Tv.Middle.Model.Db49.Article.TextAndLink
@using Wow.Tv.Middle.Model.Db49.Article.HubBusiness

@model List<JOIN_TXTNLINK_CODE>

@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string uploadWebPathRoot = AppState["UploadWebPathRoot"].ToString();

    NTB_HUB_BUSINESS textAndLinkImageBanner = ViewBag.textAndLinkImageBanner;
}

@* Text&Link(관리자 설정) *@
<ul>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li><a href="@item.LINK" target="_blank">@item.KEYWORD</a></li>
        }
    }
    else
    {
        @*<li>&nbsp;</li>*@
    }
</ul>
@* AD Banner (허브사업영역[뷰페이지 하단]) *@
<div class="bann-img">
    @if (textAndLinkImageBanner != null)
    {
        <a href="@textAndLinkImageBanner.HUB_URL" target="_blank"><img src="@uploadWebPathRoot@textAndLinkImageBanner.HUB_IMAGE" alt="@textAndLinkImageBanner.HUB_TITLE"></a>
    }
</div>

