
@{
    ViewBag.Title = "Index";

    string rootUrl = AppState["RootUrl"].ToString();
}


@section scripts{

    <script>
        $(document).ready(function () {

            $("#btnMakeImage").click(function () {
                d = new Date();
                $("#imgCaptCha").attr("src", "./CaptChaImage?" + d.getTime());

                return false;
            });


            $("#btnConfirm").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "./Confirm",
                    data: $("#frm").serialize(),
                    success: function (data, textStatus) {
                        if (data.IsSuccess == true) {
                            alert("성공");
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });

                return false;
            });


        });
    </script>
}

<form id="frm">
    <div>
        <table>
            <tr>
                <td>
                    이미지
                </td>
                <td>
                    <img id="imgCaptCha" src="./CaptChaImage" />
                    
                    <br /><a href="#" id="btnMakeImage">다시 생성</a>
                </td>
            </tr>
            <tr>
                <td>
                    입력
                </td>
                <td>
                    <input type="text" name="InputText" />
                </td>
            </tr>
        </table>
    </div>
</form>

<div>
    <a href="#" id="btnConfirm">확인</a>
</div>

