
@{
    ViewBag.Title = "Index";

    string rootUrl = AppState["RootUrl"].ToString();
}


@section scripts{
    <link href="@rootUrl/Content/css/magnific-popup.css" rel="stylesheet" />
    <script src="@rootUrl/Scripts/jquery.magnific-popup.js"></script>

    <script>
        $(document).ready(function () {
            $('.image-link').magnificPopup({
                type: 'image',
                mainClass: 'mfp-with-zoom', // this class is for CSS animation below

                zoom: {
                    enabled: true, // By default it's false, so don't forget to enable it

                    duration: 300, // duration of the effect, in milliseconds
                    easing: 'ease-in-out', // CSS transition easing function

                    // The "opener" function should return the element from which popup will be zoomed in
                    // and to which popup will be scaled down
                    // By defailt it looks for an image tag:
                    opener: function (openerElement) {
                        // openerElement is the element on which popup was initialized, in this case its <a> tag
                        // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                        return openerElement.is('img') ? openerElement : openerElement.find('img');
                    }
                }

            });
        });
    </script>
}

<h2>http://dimsemenov.com/plugins/magnific-popup/documentation.html</h2>

<a href="@rootUrl/Content/Images/Temp/7.jpg" class="image-link">
    <img src="@rootUrl/Content/Images/Temp/6.jpg" />
</a>


<div><br /><br /><br /><br /><br /><br /><br /></div>

<a href="./Gallery">갤러리 방식</a>

