@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram


@model ListModel<tv_program>

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
}


@{ 
    Layout = null;
}


<!-- 결과리스트 start -->
<div class="section-area pb0">
    <div class="list-info-area">
        <div class="inner-right">
            <p class="total">프로그램 수 : <strong>35개</strong></p>
        </div>
    </div>
    <!-- list-media -->
    @if (Model.ListData.Count == 0)
    {
        <div class="nodata">
            <p>
                <strong class="tit">검색 결과가 없습니다.</strong>
                <span class="cont">- 검색어가 맞는지 확인해 주세요.</span>
                <span class="cont">- 띄어쓰기가 맞는지 확인해 주세요.</span>
            </p>
        </div>
    }
    else
    {
    <div class="list-media">
        <ul>
            @foreach (var item in Model.ListData)
            {
            <li>
                <div class="img-area">
                    <a href="#none">
                        <span class="notice-area">
                            <!-- 알림표시할 경우 a태그에 span.notice-area 추가 -->
                            <span class="text-icon type07">최신</span>
                        </span>
                        <img src="@wowTvStyle/images/temp/temp_img_media2.jpg" alt="">
                    </a>
                </div>
                <div class="cont-area">
                    <p class="tit">스타 장외주식</p>
                    <div class="info-area">
                        <span class="txt-exer">수 &middot; 목 <span class="num">09:00</span></span>
                        <span class="txt-exer"><span class="num">50</span>분 전</span>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    }
</div>
<!--// 결과리스트 end -->
<!-- paging start -->
<div class="txt-paging pb40">
    <a href="javascript:void(0)" class="first">FIRST</a>
    <a href="javascript:void(0)" class="prev">PREV</a>
    <div>
        <a href="javascript:void(0)">1</a>
        <span>/</span>
        <a href="javascript:void(0)">12</a>
    </div>
    <a href="javascript:void(0)" class="next">NEXT</a>
    <a href="javascript:void(0)" class="last">LAST</a>
</div>
<!--// paging end -->


