html, body {
	overflow:hidden;
	height:100%;
}
body {
	margin:0;
	padding:0;
}
body, select, optgroup, option, input {
	font:12px/1.1em 'Malgun Gothic',Dotum;
	color:#4b4b4b;
}
.wrap {
	width:660px;
	margin:0 auto;
}
h1 {
	font:bold 16pt/1.1em 'Trebuchet MS';
	color:#4b4b4b;
}
select {
	margin:0 0 20px 0;
}
ul {
	display:none;
	width:630px;
	height:108px;
	overflow:auto;
	padding:0 0 0 10px;
	border:1px solid #dedede;
}
ul li {
	padding:3px 0;
	font:8pt/1.2em "Consolas","Tahoma","Verdana";
}