
@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@*<script type="text/javascript" src="@wowTvScript/kakao.js"></script>
<script type="text/javascript" src="@wowTvScript/Shares.js"></script>*@


<div class="popup-area" style="display:block;">
    <div class="dimBg"></div>
    <div id="divShare" class="pop-layer divSharesArea">
        <!-- 타이틀 -->
        <div class="title-area">
            <strong class="title">공유하기</strong>
        </div>
        <!-- // 타이틀 -->
        <!-- 컨텐츠 -->
        <div class="content-area">
            <div class="box-section pb30">
                <div class="list-share-sns">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" onclick="return SharesPopup.SharesArt('facebook')">
                                <span class="icon sns-facebook"></span>
                                <strong class="tit">페이스북</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return SharesPopup.SharesArt('twitter')">
                                <span class="icon sns-twitter"></span>
                                <strong class="tit">트위터</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return SharesPopup.SharesArt('kakaostory')">
                                <span class="icon sns-kakaostory"></span>
                                <strong class="tit">카카오스토리</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="return SharesPopup.SharesArt('blog')">
                                <span class="icon sns-naverblog"></span>
                                <strong class="tit">네이버 블로그</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#none" onclick="return SharesPopup.SharesArt('line')">
                                <span class="icon sns-line"></span>
                                <strong class="tit">라인</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#none" onclick="return SharesPopup.SharesArt('kakaotalk')">
                                <span class="icon sns-kakaotalk"></span>
                                <strong class="tit">카카오톡</strong>
                            </a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="txt-url" id="txtURL" readonly> 
                <div class="btn-area mt15">
                    <ul class="btn-list">
                        <li>
                            <a href="javascript:void(0)" id="btnClipboard" data-clipboard-target="#txtURL" class="btn type01">URL 복사하기</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="btn type05 btnPopupClose">취소</a>
                        </li>
                    </ul>
                </div>
                <input type="hidden" id="artTitle">
                <input type="hidden" id="artImg">
            </div>
        </div>
        <!-- // 컨텐츠 -->
        <!-- 닫기버튼 -->
        <span class="pop-btn btnPopupClose"><a href="javascript:void(0)" style="z-index:99999; width:14px; height:14px; display:block;">닫기</a></span>
        <!-- // 닫기버튼 -->
    </div>
    <!-- // 팝업 -->
</div>	