
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <a href="javascript:NewsCommon.GoNewsDetailView('card','','','@item.ARTICLEID')">
            <div class="img-area">
                <img alt="" src="@Wow.WowExtensionMethod.NewsThumbnailPath("11B", item.THUMBNAIL_FILENM, null, item.IMAGE_DIR, item.IMAGE_FILE, item.ARTDATE)" onerror="this.src='@Wow.WowExtensionMethod.NewsThumbnailOnError("11B")'">
                @if (item.SECTION_NAME != null)
                {
                    <span class="text-icon type02">@item.SECTION_NAME</span>
                }
            </div>
        </a>
    }
}
else
{
    <a href="javascript:void(0)">
        등록된 내용이 없습니다.
    </a>
}