@using Wow
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.FrontWebMobile.Areas.Component.Models

@{
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    AppState["BodyClass"] = "main";


    TvPlayerModel tvPlayerParameter = new TvPlayerModel();
    tvPlayerParameter.PlayType = TvPlayTypeModel.ByScript;
    tvPlayerParameter.AutoSize = true;


    T_RUNDOWN prevRunDown = ViewBag.PrevRunDown;
    T_RUNDOWN currentRunDown = ViewBag.CurrentRunDown;
    T_RUNDOWN nextRunDown = ViewBag.NextRunDown;
}

@section styles{
    <link rel="stylesheet" href="@wowTvStyle/css/main.css">
}

@section scripts{
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.js"></script>
    <script src="@wowTvScript/jquery.timeago/jquery.timeago.ko.js"></script>

    <script src="@wowTvScript/SearchApi.js"></script>
    <script src="@wowTvScript/NewsCenter/Common.js"></script>
    <script src="@wowTvScript/Home/Index.js?date=20171227140000"></script>
    <script src="@wowTvScript/Home/Main.js"></script>
}

@* 가상화폐 *@
<div class="bitcoin-area">
    @* 롤링 *@
    <div class="bitcoin-box">
        <div class="box">
            <ul class="bit-list"></ul>
        </div>
    </div>
    <a href="javascript:void(0)" class="bitcoin-btn on" title="비트코인 상세보기">버튼</a>
    <div class="bitcoin-detail">
        <div class="title">
            <strong>가상화폐 시세</strong>
            <a href="javascript:void(0)" class="close-btn"></a>
        </div>
        <div class="bitcoin-list">
            <div class="swiper-container bView-slider">
                <div class="swiper-wrapper" id="divVirtualMoneyList">

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="btn-box">
            <a href="javascript:GoVirtualCurrencyNews()"> 관련기사 보기 </a>
            <span>정보제공 : 빗썸</span>
        </div>
    </div>
</div>

<script language="javascript">

    //가상화폐 리스트
    var virtualMoneyRolling = "";
    var virtualMoneyList = "";

    $.getJSON("http://www.wowtv.co.kr/html/VirtualMoney.txt", function (json) {

        $.each(json.VirtualMoneyList, function (index, entry) {
            var idx = (index + 1);
            var korName = entry["korName"];
            var TradePrice = entry["TradePrice"];
            var chgRate = entry["chgRate"];
            var stockCode = entry["stockCode"];
            var upDown = "";

            if (entry["chgType"] == "1" || entry["chgType"] == "2") {
                upDown = "up";
            }
            else if (entry["chgType"] == "4" || entry["chgType"] == "5") {
                upDown = "down";
            }

            virtualMoneyRolling += "<li class='" + upDown + "'><strong class='tit'>" + korName + "</strong><p class='text'><span>" + comma(TradePrice) + "</span><span>" + chgRate + "%</span></p></li>";

            virtualMoneyList += "";
            if (idx == 1) {
                virtualMoneyList += '<div class="swiper-slide">';
                virtualMoneyList += '    <ul>';
            }

            virtualMoneyList += '<li class="' + upDown + '"><strong class="tit"><span class="icon btc"></span>' + korName + '</strong> <p class="text"> <span>' + comma(TradePrice) + '</span><span>' + chgRate + '%</span></p></li>';

            if ((idx % 6) == 0 && idx < json.VirtualMoneyList.length) {
                virtualMoneyList += '    </ul>';
                virtualMoneyList += '</div>';
                virtualMoneyList += '<div class="swiper-slide">';
                virtualMoneyList += '    <ul>';
            }
            else if (idx == json.VirtualMoneyList.length) {
                virtualMoneyList += '    </ul>';
                virtualMoneyList += '</div>';
            }
        });

        $(".bit-list").html(virtualMoneyRolling);
        $("#divVirtualMoneyList").html(virtualMoneyList);
    });
</script>

<div class="left-area">
    <div class="box-cont-box">
        @Html.Partial("~/Areas/Component/Views/TvPlayer/TvPlayer.cshtml", tvPlayerParameter)
        <div class="box-main-bann"></div>

        @Html.Action("VodPartner", "Home", new { Area = "" })
    </div>
    @*Movie*@
    <div class="box-movie-slider mb10">
        <div class="swiper-container movie-slider">
            <div class="swiper-wrapper">
                @Html.Action("Vod", "Home", new { Area = "" })
            </div>
        </div>
    </div>

    @*뉴스썸*@
    <div class="section-area pd0">
        <h3 class="plr15">뉴스썸</h3>
        <div class="swiper-container new-som-view sub-gnb01 pdr20">
            <div class="swiper-wrapper">
                <div class="swiper-slide on" onclick="return HomeIndex.ChangeSome('LATEST');"><span>최신뉴스</span></div>
                <div class="swiper-slide" onclick="return HomeIndex.ChangeSome('STO_ECO');"><span>증권•경제</span></div>
                <div class="swiper-slide" onclick="return HomeIndex.ChangeSome('IND_IT');"><span>산업•IT/과학</span></div>
                <div class="swiper-slide" onclick="return HomeIndex.ChangeSome('LIFE');"><span>생활문화</span></div>
                <div class="swiper-slide" onclick="return HomeIndex.ChangeSome('JOB');"><span>취업</span></div>
            </div>
        </div>
        <div class="tab-body" id="divSome"></div>
    </div>
    <div class="section-area bdt-none pb15 pt15 mb10">
        <div class="swiper-container box-img-slider box-slider">
            <div class="swiper-wrapper" id="divNewsSubMainTop"></div>
        </div>
    </div>
    @*마켓&amp;이슈*@
    <div class="section-area pd0 mb10 bdb-none">
        <h3 class="plr15">마켓&amp;이슈</h3>
        <div class="list-type-new02" id="divMarketIssue"></div>
    </div>
    @*오피니언*@
    <div class="section-area pd0 mb10 bdb-none">
        <h3 class="plr15">오피니언</h3>
        <div class="list-type-new02 type01" id="divOpinion"></div>
    </div>

    @*이시각 특징주*@
    <div class="section-area pd0 mb10 bdb-none">
        <h3 class="plr15">이시각 특징주</h3>
        <div class="stock-business type01" id="">
            <ul class="stock-aside">
                <li>
                    <a onclick="return DomesticStockIndex.CharactorStockDetialGo('http://localhost:22803','X20170623100150')">
                        <strong class="tit">엔씨소프트, 반등…주가 하락 과도</strong>
                    </a>
                    <div class="txt-info-stock">
                        <strong>현재가 <span><span class="font-color04">389,000</span></span> </strong>
                        <span>
                            <em class="data-up">상승</em>
                        </span>
                    </div>
                    <span class="txt-info-company">엔씨소프트 <em class="num font-color07">A036570</em></span>
                </li>
                <li>
                    <a onclick="return DomesticStockIndex.CharactorStockDetialGo('http://localhost:22803','X20170623091616')">
                        <strong class="tit">통신주, 일제히 약세…통신비 절감 대책 여파</strong>
                    </a>
                    <div class="txt-info-stock">
                        <strong>현재가 <span><span class="font-color05">258,000</span></span> </strong>
                        <span>
                            <em class="data-down">하락</em>
                        </span>
                    </div>
                    <span class="txt-info-company">SK텔레콤 <em class="num font-color07">A017670</em></span>
                </li>
                <li>
                    <a onclick="return DomesticStockIndex.CharactorStockDetialGo('http://localhost:22803','X20170623091210')">
                        <strong class="tit">KB금융, 호실적 기대로 '상승'</strong>
                    </a>
                    <div class="txt-info-stock">
                        <strong>현재가 <span><span class="font-color04">55,200</span></span> </strong>
                        <span>
                            <em class="data-up">상승</em>
                        </span>
                    </div>
                    <span class="txt-info-company">KB금융 <em class="num font-color07">A105560</em></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="right-area">
    @*오늘의 추천 키워드* @
    <div class="box-infor-keyword">
        <h3 class="tit-keyword">오늘의 추천 키워드</h3>
        <div class="hash-area" id="divRecommendationKeyWord"></div>
    </div>*@
    @*많이 본 뉴스*@
    <div class="section-area pd0 mb10">
        <h3 class="plr15">많이 본 뉴스</h3>
        <div class="tab-area tab-btn">
            <ul>
                <li class="on"><a href="javascript:void(0)">종합</a></li>
                <li><a href="javascript:void(0)">연예•스포츠</a></li>
                <li><a href="javascript:void(0)">SNS</a></li>
            </ul>
        </div>
        <div class="tab-body" id="divManySeeNews"></div>
    </div>
    @*카드뉴스*@
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon">
            카드뉴스
            <a href="javascript:NewsCommon.GoCardNewsHome()" class="btn-more">더보기</a>
        </h3>
        <div class="box-img-03" id="divCardNews"></div>
    </div>
    @*인기 갤러리*@
    <div class="section-area pd0 mb10">
        <h3 class="tit-icon"> 인기 갤러리 </h3>
        <div class="box-img-gallery">
            @*slider*@
            <div class="swiper-container box-slider">
                <div class="swiper-wrapper" id="divPhotoNews"></div>
            </div>
        </div>
    </div>
    @* AD area *@
    <div class="bann-img txt-c">
        <iframe src="http://adex.ednplus.com/xc/h/Fz56JCGe" width="320" height="270" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0"></iframe>
    </div>
</div>
