@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers

@{
    Layout = null;
}

@{
    var myStockList = ViewBag.ResultData as List<Wow.Tv.Middle.Model.Db22.stock.tblMyFavoriteJongMok>;
}



@if (LoginHandler.IsLogin == true)
{
    if (myStockList == null || myStockList.Count == 0)
    {
            <!-- 나의 관심 종목  등록 전 -->
        <div class="section-area pd0">
            <p class="h_tit"><a href="javascript:void(0)">나의관심종목</a></p>
            <div class="interest-box text">
                관심종목을 등록하시면<br />
                등록하신 종목의 시세를 쉽게 보실 수 있습니다.
                <div class="btn-area mt15">
                    <a href="javascript:void(0)" class="btn type01 " onclick="SiteMap.PopupMyFavoriteStock();">관심종목 등록 +</a>
                </div>
            </div>
        </div>
            <!-- // 나의 관심 종목  등록 전 -->
    }
    else
    {
        <hr class="line01">
            <!-- 나의 관심 종목  -->
        <div class="section-area pd0">
            <p class="h_tit"><a href="javascript:void(0)" onclick="SiteMap.MyStock();">나의관심종목</a></p>
            <div class="interest-box">
                <div class="swiper-container box-slider">
                    <div class="swiper-wrapper">

                        @for (int i = 0; i < myStockList.Count; i++)
                        {
                            var item = myStockList[i];

                            <div class="swiper-slide">
                                <!-- box 1 start -->
                                <div class="box-type-attent01">
                                    <strong>@item.stock_wanname</strong>
                                    <ul class="stock-box">
                                        <li class="first"><span class="font-color04"> @Html.DomesticStockDetailPriceMiddleFormat(item.chg_type, item.curr_price)</span></li>
                                        <li>@Html.DomesticStockDetailChgPriceMiddleFormat(item.chg_type, item.net_chg)</li>
                                    </ul>
                                </div>
                                <!--// box 1 end -->
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
            <!-- // 나의 관심 종목  -->
    }
}
<script>
    box_slider();
    // box slider
    function box_slider() {
        var boxSlider = new Swiper('.box-slider', {
            observer: true,
            observeParents: true,
            spaceBetween: 15,
            slidesPerView: 'auto',
        });
    }
</script>
