@using Wow.Tv.FrontWebMobile.MenuService
@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv
@using Wow.Tv.Middle.Model.Db49.wowtv.Menu

@{
    Layout = null;
}

@{
    ListModel<NTB_MENU> menuList_1 = new ListModel<NTB_MENU>();
    MenuServiceClient menuServiceClient = new MenuServiceClient();

    MenuCondition menuCondition = new MenuCondition();
    menuCondition.ChannelCode = "WowTv_Mobile";
    menuCondition.Depth = 1;
    menuCondition.ActiveYn = "Y";
    menuCondition.PageSize = -1;
    menuList_1 = menuServiceClient.SearchList(menuCondition);
}



<!-- 상단 탑 메뉴 -->
<div class="gnb">
    <!-- gnb-container -->
    <div class="gnb-container">
        <!-- 상단 탑 메뉴 -->
        <div class="swiper-container tv-gnb header-gnb">
            <div class="swiper-wrapper">
                @foreach (var item in menuList_1.ListData)
                {
                    NTB_MENU menu2 = new NTB_MENU();
                    menuCondition.UpMenuSeq = item.MENU_SEQ;
                    menuCondition.Depth = 2;
                    ListModel<NTB_MENU> menuList_2 = menuServiceClient.SearchList(menuCondition);
                    if (menuList_2.ListData.Count > 0)
                    {
                        menu2 = menuList_2.ListData[0];
                    }

                    if (item.MENU_SEQ == 788)
                    {
                        <div class="swiper-slide"><a href="/Finance/DomesticStock/Index?menuSeq=1099" target="_self"><span>@item.MENU_NAME</span></a></div>
                    }
                    else
                    {
                        <div class="swiper-slide"><a href="@menu2.Href" target="@menu2.LINK_TYPE_CODE"><span>@item.MENU_NAME</span></a></div>
                    }
                }
            </div>
        </div>
        <!-- // 상단 탑 메뉴 -->
    </div>
    <!-- gnb-container -->
</div>
<!-- // 상단 탑 메뉴 -->
