
@{
    ViewBag.Title = "DomesticStockDetailStockVod";
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();
    string arjCode = Request["arjCode"];

}
<script src="@wowTvScript/Finance/DomesticStock/DomesticStockDetailStockVod.js"></script>
<!-- tab start -->
<div class="tab-area mt15">
    <ul id="stockVodTab">
        <li class="on"><a href="#none" id="stockConsult">종목상담</a></li>
        <li><a href="#none" id="strategy">투자전략</a></li>
    </ul>
</div>
<!--// tab end -->
<form id="frmList_stockVod">
    <input type="hidden" name="arjCode" value="@arjCode" />
    <input type="hidden" name="ctCode" value="15" />
    <input type="hidden" name="searchType" id="searchType" />
    <input type="hidden" name="searchText" id="searchText" />
    <input type="hidden" id="pageSize" name="pageSize" value="12" />
    <input type="hidden" id="currentIndex" name="currentIndex" />
    <div id="div_List">

    </div>
</form>



