@using Wow.Tv.Middle.Model.Db49.Article.Finance

@{
    ViewBag.Title = "DomesticStockDetailSubNewsTab";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    string arjCode = Request["arjCode"].ToString();
    //string currentIndex = Request["currentIndex"].ToString();

    ArticleStockCondition condition = ViewBag.Condition;
}
<script src="@wowTvScript/Finance/DomesticStock/DSDSubNewsTab.js"></script>
<form id="frmList_SubNewsTab">
    <input type="hidden" name="pageSize" id="pageSize" value="20" />
    <input type="hidden" name="arjCode" value="@arjCode" />
    <input type="hidden" name="currentIndex" id="currentIndex" value="@condition.CurrentIndex" />
    <!-- form start -->
    <div class="box-grown-form">
        <h3 class="blind">검색폼</h3>
        <filedset>
            <legend>검색폼</legend>
            <label for="wordSel" class="blind">검색영역 선택</label>
            <select id="wordSel" class="mb10" name="searchType">
                <option value="title">제목</option>
            </select>

            <label for="searWord" class="blind">검색단어 입력</label>
            <input type="text" id="searWord" name="searchText" placeholder="검색어를 입력하세요.">
            <div class="btn-area">
                <a href="javascript:void(0)" class="btn type02" id="btnSearch">검색하기</a>
            </div>
        </filedset>
    </div>
    <!--// form end -->
    <div id="divList">

    </div>

</form>