@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@{
    ViewBag.Title = "IndustryPartUpper";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{
    <script src="@wowTvScript/Finance/DomesticStock/IndustryPartUpper.js"></script>

}

<section class="container">
    
    <!-- title area -->
    <div class="section-area">
        <h2>업종상위</h2>
        <div class="list-dotted">
            <ul class="mb20">
                <li>
                    <span class="font-color03"> 실시간 </span> @Html.MarketTimeStatus()
                    <div class="btn-area txt-inline">
                        <a href="/Finance/DomesticStock/IndustryPartUpper?menuSeq=@currentMenuSeq" class="btn type04 small">새로고침<span class="icon reset"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- // title area -->
    <!-- tab area -->
    <div class="tab-area">
        <ul>
            <li class="on" style="width: 50%;"><a href="#none" id="kospi">코스피</a></li>
            <li style="width: 50%;"><a href="#none" id="kosdaq">코스닥</a></li>
        </ul>
    </div>
    <!-- // tab area -->
    <!-- section-area -->
    <form id="frmList_industryPartUpper">
        <input type="hidden" name="currentMenuSeq" id="currentMenuSeq" value="@Request["menuSeq"]" />
        <div id="divList">

        </div>
    </form>
    <!-- // section-area -->

    <input type="hidden" id="prevTab" name="prevTab" value="@ViewBag.menuTab" />
</section>
