@{
    ViewBag.Title = "투자매매동향";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{

    <script src="@wowTvScript/Finance/DomesticStock/Invest.js"></script>
}

<section class="container">
   
    <!-- title area -->
    <div class="section-area">
        <h2>투자자매매동향</h2>
        <div class="list-dotted">
            <ul>
                <li>
                    <span class="font-color03">단위  </span> : 코스피, 코스닥(억원), 선물(계약)
                </li>
            </ul>
        </div>
        <select class="mb20" id="Trading">
            <option value="day"> 1일 매매현황</option>
            <option value="week"> 1주 누적매매현황</option>
            <option value="month"> 1개월 누적매매현황</option>
            <option value="quarter"> 3개월 누적매매현황</option>
        </select>
    </div>

    <!-- // title area -->
    <!-- sub tab -->
    <div class="swiper-container sub-gnb01">
        <div class="swiper-wrapper">
            <div class="swiper-slide on" id="Security"><span>기관 매매현황</span></div>
            <div class="swiper-slide" id="Foreigner"><span>외국인 매매현황</span></div>
            <div class="swiper-slide" id="Personal"><span>개인 매매현황</span></div>
        </div>
    </div>

    <form id="frmList_Invest">
        <input type="hidden" id="menuTab" name="menuTab" value="Security" />
        <div id="divList">

        </div>
    </form>

    <!-- // sub tab -->
    <!-- section-area -->
    
    <!-- // section-area -->
    <!-- section-area -->
    @*<div class="section-area">
        <h3>1일 시간대차트</h3>
        <div class="chart-box"><img src="@wowTvStyle/images/temp/temp_ir_01.png" alt=""> </div>
        <div class="chart-box">최소 height:150px</div>
        <div class="chart-box">최소 height:150px</div>
    </div>*@
    <!-- // section-area -->
</section>
