@{
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{

    <script src="@wowTvScript/Finance/DomesticStock/Lower.js"></script>

}


<!-- title area -->
<div class="section-area">
    <h2>하한가</h2>
</div>
<!-- // title area -->
<!-- tab area -->
<div class="tab-area">
    <ul>
        <li class="on" style="width: 50%;"><a href="#none" id="kospiTab">코스피</a></li>
        <li style="width: 50%;"><a href="#none" id="kosdaqTab">코스닥</a></li>
    </ul>
</div>
<!-- // tab area -->
<!-- 테이블-->

<form id="frmList_Lower">
    <input type="hidden" name="currentMenuSeq" id="currentMenuSeq" value="@Request["menuSeq"]" />
    <div id="divList">

    </div>
</form>

<!-- // 테이블 -->
