@{
    ViewBag.Title = "MarketSum";
    string wowTvScript = AppState["WowTvScript"].ToString();
}
@section scripts{

    <script src="@wowTvScript/Finance/DomesticStock/MarketSum.js"></script>
}
<section class="container">
 
    <!-- title area -->
    <div class="section-area">
        <h2>시가총액</h2>
    </div>
    <!-- // title area -->
    <!-- tab area -->
    <div class="tab-area">
        <ul>
            <li class="on" style="width: 50%;"><a href="#none" id="kospiTab">코스피</a></li>
            <li style="width: 50%;"><a href="#none" id="kosdaqTab">코스닥</a></li>
        </ul>
    </div>

    <form id="frmList_Upper">
        <input type="hidden" name="currentMenuSeq" id="currentMenuSeq" value="@Request["menuSeq"]" />
        <div id="divList">

        </div>
    </form>
    <!-- // tab area -->
    <!-- section-area -->

    <!-- // section-area -->
</section>