@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWebMobile.Areas.Finance.Helpers
@model ListModel<usp_SelectStockRecentlyTime_Result>
@{
    ViewBag.Title = "RecentlyStockTimeTop10List";
    Layout = null;
}

<!-- 시간대별 start -->
<div class="section-area pb0">
    <div class="table-type1 type02 line mb0">
        <table>
            <caption>상세</caption>
            <colgroup>
                <col style="width:31%">
                <col style="width:23%">
                <col style="width:23%">
                <col style="width:*">
            </colgroup>
            <tbody>
                @if (Model.ListData.Count > 0)
                {
                    foreach (var item in Model.ListData)
                    {
                       
                        <tr>
                            <td class="txt-l"><span class="num">@item.TradeDate</span></td>
                            <td class="txt-r"><strong class="num">@item.Price</strong></td>
                            <td class="txt-r"><strong>@Html.RecentlyStockChgPriceFormat(item.ChgType, item.ChgPrice)</strong></td>
                            <td class="txt-r"><strong>@Html.RecentlyStockChgRateFormat(item.ChgType, item.chgRate)</strong></td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">데이터가 없습니다.</td>
                    </tr>
                }
                
                
            </tbody>
        </table>
    </div>
</div>
<!--// 시간대별 end -->


