

@{
    ViewBag.Title = "DomesticStockDetailNewsNotices";
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
    string arjCode = Request["arjCode"].ToString();
    string stockCode = Request["stockCode"].ToString();
    //string boardType = Request["boardType"].ToString();
    string boardType;
    string tabSeq;

    if (!String.IsNullOrEmpty(Request["boardType"]))
    {
        boardType = Request["boardType"];
    }
    else
    {
        boardType = "1";
    }

    if (!String.IsNullOrEmpty(Request["tabSeq"]))
    {
        tabSeq = Request["tabSeq"];
    }
    else
    {
        tabSeq = "1";
    }

}
<script src="@wowTvScript/Finance/DomesticStock/RecentlyNewsView.js"></script>
<div class="tab-area mt15">
    <ul id="newsNoticesENoticeTab">
        <li class="on"><a href="#none" id="stockNews">뉴스</a></li>
        <li><a href="#none" id="stockNotices">공시</a></li>
    </ul>
</div>
<!--// tab end -->
<input type="hidden" id="boardType" value="@boardType" />
<form id="frmList_newsNoticesENotices">
    <input type="hidden" name="arjCode" value="@arjCode" />
    <input type="hidden" name="stockCode" value="@stockCode" />
    <input type="hidden" name="currentIndex" />

    <div id="divList">

    </div>
</form>


