
@{
    ViewBag.Title = "Rank";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/DayTrading.js"></script>
    <script>
        var menuSeq = @Request["menuSeq"];
        //console.log("@ViewBag.data");
    </script>
}


<h1 class="title">데이트레이딩</h1>

<div class="list-type1">
    <ul>
        <li>[데이트레이딩]은 분봉단위의 종목검색에 유용합니다.</li>
        <li>5분, 10분 등의 분봉검색으로 회원님이 원하시는 정보를 찾을 수 있도록 도와드립니다.</li>
        <li>본내용은 투자판단의 참고사항이며, 투자판단의 최종책임은 본 서비스를 이용하시는 이용자에게 있습니다.</li>
    </ul>
</div>

<hr class="division3 no-border">

<div class="tab-type1" id="tabArea">
    <ul class="col3">
        <li class="on"><a href="javascript:DayTrading.GetList('C1', '0', '5', '20');">골든크로스</a></li>
        <li><a href="javascript:DayTrading.GetList('C2', '0', '10', '');">거래갱신</a></li>
        <li><a href="javascript:DayTrading.GetList('C3', '0', '10', '100');">거래급증</a></li>
        <li><a href="javascript:DayTrading.GetList('C4', '0', '', '');">N자형 상승패턴</a></li>
        <li><a href="javascript:DayTrading.GetList('C5', '0', '60', '');">신고가</a></li>
        <li><a href="javascript:DayTrading.GetList('C6', '0', '60', '1');">지지선 근접</a></li>
    </ul>
</div>


<div id="ChgCont">
    <div id="C1">
        <h2 class="title">골든크로스</h2>
        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>분봉을 기준으로 하여, 이동평균선간 골든크로스가 발생한 종목을 검색하실 수 있습니다.</li>
                    <li class="inform">
                        단기
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C1_key1">1</label>
                            <select id="C1_key1">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        봉평균 장기
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C1_key2">5</label>
                            <select id="C1_key2">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        봉평균의 주가 골든크로스 분봉차트의 분봉 개수로 분봉의 기간을 계산합니다.
                    </li>
                    <li class="inform">
                        검색대상 분봉
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C1_bong">5</label>
                            <select id="C1_bong">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C2" style="display:none">
        <h2 class="title">거래갱신</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>분봉을 기준으로 하여, 갑자기 거래가 급증한 종목을 검색하실 수 있습니다.</li>
                    <li class="inform">
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C2_key1">10</label>
                            <select id="C2_key1">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        봉 기간의 최고량 갱신 분봉차트의 분봉 개수로 분봉의 기간을 계산합니다. (거래가 없는 분봉은 제외합니다.)
                    </li>
                    <li class="inform">
                        검색대상 분봉

                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C2_bong">5</label>
                            <select id="C2_bong">
                                <option value="0">5</option>
                                <option value="1">10</option>
                                <option value="2">15</option>
                                <option value="3">20</option>
                                <option value="4">30</option>
                                <option value="5">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C3" style="display:none">
        <h2 class="title">거래급증</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>분봉을 기준으로 하여, 지정된 기간 중 최고거래량을 갱신한 종목을 검색하실 수 있습니다.</li>
                    <li class="inform">
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C3_key1">10</label>
                            <select id="C3_key1">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                                <option value="240">240</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        봉 기간의 최고거래의
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C3_key2">10</label>
                            <select id="C3_key2">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                            </select>
                        </div>
                        % 이상 큰 폭 거래갱신 분봉차트의 분봉 개수로 분봉의 기간을 계산합니다. (거래가 없는 분봉은 제외합니다.)
                    </li>
                    <li class="inform">
                        검색대상 분봉
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C3_bong">5</label>
                            <select id="C3_bong">
                                <option value="0">5</option>
                                <option value="1">10</option>
                                <option value="2">15</option>
                                <option value="3">20</option>
                                <option value="4">30</option>
                                <option value="5">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C4" style="display:none">
        <h2 class="title">N자형 상승패턴</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>향후 강한 상승을 준비하는 조정을 눌림목이라고 하며 보통 상승 후 조정을 거치고 이후 다시 상승한다는 의미로 N자형 눌림목이 많이 거론됩니다. </li>
                    <li>이때 조정의 폭이나 조정기간은 다양한 형태로 나타날 수 있습니다.</li>
                    <li>여기에서는 조정의 폭이나 조정기간에 관계없이 N자형 상승 패턴을 보이는종목들을 검색하실 수 있습니다.</li>
                    <li class="inform">
                        검색대상 분봉
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C4_bong">5</label>
                            <select id="C4_bong">
                                <option value="0">5</option>
                                <option value="1">10</option>
                                <option value="2">15</option>
                                <option value="3">20</option>
                                <option value="4">30</option>
                                <option value="5">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C5" style="display:none">
        <h2 class="title">신고가</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>분봉상에서 신고가를 검색하는 방법입니다.</li>
                    <li>이러한 신고가 형성은 최근의 추세를 돌파하고 상승하는 새로운 매수세를 나타내므로, 일반적으로 매수타이밍으로 봅니다.<br>분봉시간 설정에 따라 다양하게 검색 할 수 있습니다.</li>
                    <li class="inform">
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C5_key1">10</label>
                            <select id="C5_key1">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                                <option value="180">180</option>
                                <option value="140">140</option>
                                <option value="300">300</option>
                            </select>
                        </div>
                        봉 신고가 갱신 분봉 차트의 분봉 개수로 분봉의 기간을 계산합니다. (거래가 없는 분봉은 제외 합니다.)
                    </li>
                    <li class="inform">
                        검색대상 분봉
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C5_bong">5</label>
                            <select id="C5_bong">
                                <option value="0">5</option>
                                <option value="1">10</option>
                                <option value="2">15</option>
                                <option value="3">20</option>
                                <option value="4">30</option>
                                <option value="5">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="C6" style="display:none">
        <h2 class="title">지지선 근접</h2>

        <div class="box-information1">
            <div class="list-type2">
                <ul>
                    <li>지지선이란 매수세력을 매도세력이 꺽을 수 없는 일정한 시점들을 연결한 선을 말합니다.<br>지지선은 특정 가격대, 주가 이동평균선, 추세선 등의 형태로 나타날 수 있으며, 여기에서는 주가 이동평균선을 기준으로 한 검색결과를 나타냅니다.</li>
                    <li class="inform">
                        평균선
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C6_key1">10</label>
                            <select id="C6_key1">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="120">120</option>
                            </select>
                        </div>
                        평균선에 하향근접 퍼센트
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C6_key2">0.2</label>
                            <select id="C6_key2">
                               @for (var i = 0.2; i < 4.9; i += 0.2)
                               {
                                <option value="@i">@i</option>
                               }
                            </select>
                        </div>
                        % 이내로 하향근접. 분봉 차트의 분봉 개수로 분봉의 기간을 계산합니다.
                    </li>
                    <li class="inform">
                        검색대상 분봉
                        <div class="selector" style="width:;">
                            <!-- width 100%일때 class="selector full" -->
                            <label for="C6_bong">5</label>
                            <select id="C6_bong">
                                <option value="0">5</option>
                                <option value="1">10</option>
                                <option value="2">15</option>
                                <option value="3">20</option>
                                <option value="4">30</option>
                                <option value="5">60</option>
                            </select>
                        </div>
                        <span class="btn-type1"><button class="srchButton">검색</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="box-top-type1">
    <div class="inner-right">
        <p class="text-type-blt1 text-state">총 <span class="emphasize"></span>종목이 검색되었습니다.</p>
    </div>
</div>

<div class="table-type1" id="dataArea">
</div>

<form id="Dayfrm">
    <input type="hidden" name="CondMenu" />
    <input type="hidden" name="CondList" />
    <input type="hidden" name="CandleType" />
</form>