
@{
    string wowTvScript = AppState["WowTvScript"].ToString();
}

@section scripts{
    <script src="@wowTvScript/Finance/Trading/OverseasTechnique.js"></script>
}

<h1 class="title">해외고수기법</h1>

<div class="list-type1">
    <ul>
        <li>[강력한 리얼서치 엔진으로 분봉, 일봉상에서 원하는 조건에 맞는 종목을 실시간으로 찾아주는 서비스입니다.</li>
        <li>원하는 유망종목을 장중 언제든지 찾아낼 수 있습니다.</li>
        <li>본 내용은 투자판단의 참고사항이며, 투자판단의 최종책임은 본 서비스를 이용하시는 이용자에게 있습니다.</li>
    </ul>
</div>

<hr class="division3 no-border">

<div class="tab-type1">
    <ul class="col4">
        <li class="btnCondMenu" id="Nicol"><a href="#none">니콜라스 이론</a></li>
        <li class="btnCondMenu" id="Willi"><a href="#none">윌리암오닐신고</a></li>
        <li class="btnCondMenu" id="Robe"><a href="#none">증권왕 로브단타</a></li>
        <li class="btnCondMenu" id="Sake"><a href="#none">사께다삼천</a></li>
    </ul>
</div>

<div class="divCondMenu" id="divNicol" hidden>
    <h2 class="title">니콜라스 이론</h2>
    <div class="box-information1">
        <div class="list-type2">
            <ul>
                <li class="inform">
                    니콜라스의 이론은 주가가 작은 캔들을 형성하며 횡보할 때부터 관심을 집중시키며 캔들을 돌파할 때만 기다리는 여유 있는 투자방식을 선택한다는 이론입니다.
                    @*<span class="btn-type4"><a href="#none">니콜라스 소개</a></span>*@
                </li>
                <li>평균선 혹은 지지선은 수정주가로 계산합니다.</li>
            </ul>
        </div>
    </div>
</div>
<div class="divCondMenu" id="divWilli" hidden>
    <h2 class="title">윌리암오닐신고</h2>

    <div class="box-information1">
        <div class="list-type2">
            <ul>
                <li>시장 게임의 귀재 윌리암 오닐의 주된 투자법은 최저치에 접근하는 주식을 구입하는게 아니라 오랜기간 평행 추세대를 벗어나 전고점을 뚫고 올라가는 신고가 갱신종목을 매입하는 것이었습니다.</li>
                <li>평균선 혹은 지지선은 수정주가로 계산합니다.</li>
            </ul>
        </div>
    </div>
</div>
<div class="divCondMenu" id="divRobe" hidden>
    <h2 class="title">증원왕 로브단타</h2>
    <div class="box-information1">
        <div class="list-type2">
            <ul>
                <li>증권왕 제랄드 로브는 시장성이 크고 주가움직임 활발한 대형 주도주 중에서 저향선을 돌파하는 주식을 매입한 후 주가가 예측과 반대로 움직이면 즉시 매도하였고, 예측대로 움직일 때만 계속 보유하였습니다. 잘 아는 소수종목만 집중 연구했으며, 현금 보유기간이 주식매도 기간보다 길게 하였고, 평균선 혹은 지지선은 수정주가로 계산합니다.</li>
            </ul>
        </div>
    </div>
</div>
<div class="divCondMenu" id="divSake" hidden>
    <h2 class="title">사께다삼천</h2>
    <div class="box-information1">
        <div class="list-type2">
            <ul>
                <li>사께다 5법의 중심이론은 3산(三山), 3천(三川), 3공(三空),3병(三兵), 3법(三法)의 사께다 5법으로 이중 3산, 3천, 3공은.미국에서 창안된 역헤드 숄더형, |갭 등과 뜻을 같이 하고 있으며 이 기법의 핵심은 시세파동은 3번 이상 되풀이되지 않는다고 보는 것입니다. 평균선 혹은 지지선은 수정주가로 계산합니다.</li>
            </ul>
        </div>
    </div>
</div>

<div id="dataArea"></div>