
@{
    ViewBag.Title = "Index";

    string rootUrl = AppState["RootUrl"].ToString();
}


@section scripts{
    <link href="@rootUrl/Content/css/jquery.fileupload.css" rel="stylesheet" />

    @*<script src="@rootUrl/Scripts/jquery-ui.js"></script>*@
    <script src="@rootUrl/Scripts/jquery.fileupload.js"></script>

    <script>
        $(document).ready(function () {
            $('#fileupload').fileupload({
                url: '/Example/FileUpload/Upload',
                dataType: 'json',
                //replaceFileInput: false,
                add: function (e, data) {
                    $('#progress .progress-bar').css('width', '0%');
                    var uploadFile = data.files[0];
                    var isValid = true;
                    if (!(/png|jpe?g|gif/i).test(uploadFile.name)) {
                        alert('png, jpg, gif 만 가능합니다');
                        isValid = false;
                    }
                    //else if (uploadFile.size > 5000000) { // 5mb
                    //    alert('파일 용량은 5메가를 초과할 수 없습니다.');
                    //    isValid = false;
                    //}
                    if (isValid) {
                        data.submit();
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    //alert(data.loaded + "," + data.total + "," + progress);
                    $("#progress").show();
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                    if (progress == 100) {
                        $('#progress .progress-bar').addClass("progress-bar-success");
                    }
                },
                beforeSend: function (xmlHttpRequest) {
                },
                error: function (xhr, textStatus, errorThrown) {
                    //에러 메시지 처리
                    alert('요청 중 서버에서 에러가 발생하였습니다.');
                },
                complete: function (xhr, textStatus) {
                },
                done: function (e, data) {
                    if (data.result.IsSuccess == true) {
                        $("#imgPreview").attr("src", data.result.ImageUrl).show();
                        //$('#progress').hide();
                    }
                    else {
                        alert(data.result.Msg);
                    }
                },
                fail: function (e, data) {
                    // data.errorThrown
                    // data.textStatus;
                    // data.jqXHR;
                    alert('서버와 통신 중 문제가 발생했습니다');
                }
            });



        });
    </script>
}



    <div>
        AJAX 업로드 입니다.
        <br />다른 입력값은 유지한채로 파일만 임시로 업로드 하는 방법 입니다.
        <br /><input type="text" name="t" />
        <br /><input type="text" name="tt" />
        입력값을 넣어두셔도 유지됨
    </div>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add file...</span>
        @*<input id="fileupload" type="file" name="files[]" multiple>*@
        <input id="fileupload" type="file" name="fileupload">
    </span>


    <div id="progress" class="progress" style="display:none;">
        <div class="progress-bar" style="width: 0%;"></div>
    </div>

    <div>
        <img src="" id="imgPreview" style="display:none; width:150px; height:150px;" />
    </div>


<div>
    <a href="./Multy">멀티업로드는 여기로...</a>
</div>

<div>
    <a href="./Index2">Form Data를 함께 업로드 방식은 여기로...</a>
</div>



