
@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<script src="@wowTvScript/Popup/SubScription.js"></script>

<div class="popup-type1" style="display:block;">
    <div class="inner" id="divSubScriptionArea">
        <!-- title -->
        <h1 class="title">구독하기</h1>
        <!-- // title -->
        <a href="#none" class="pop-close-btn btnCloase">닫기</a>
        <!-- content -->
        <div class="content-box">
            <form id="frmSubScription">
                <div class="list-type1">
                    <h2>구독 받을 이메일 주소를 입력하세요.</h2>
                    <ul>
                        <li>
                            <input type="text" id="EMAIL_1" style="width:340px;">
                            <span class="space">@@</span>
                            <input type="text" id="txtEmail" style="width:205px;">

                            <div class="selector" style="width:100%; margin-top:5px;">
                                <label for="EMAIL_2" id="lbEmail2">이메일 주소 선택</label>
                                <select id="EMAIL_2">
                                    <option value="">직접입력</option>
                                    @if (Model.ListData != null)
                                    {
                                        foreach (var item in Model.ListData)
                                        {
                                            <option value="@item.CODE_VALUE1">@item.CODE_NAME</option>
                                        }
                                    }
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-cont2">
                    본인은 한국경제TV에서 제공하는 서비스를 원활이 제공받기 위하여, <br />
                    아래와 같이 개인정보의 수집 및 이용에 동의합니다.
                </div>
                <div class="box-cont2">
                    <h3 class="mb10">개인정보 수집 및 이용 동의</h3>
                    <div class="box-information1">
                        <!-- List -->
                        <div class="list-type2">
                            <ul>
                                <li>개인정보의 수집 및 이용 목적 : 한국경제TV 뉴스 구독 목적</li>
                                <li>개인정보의 수집 및 이용 범위 : 이메일</li>
                                <li>개인정보의 수집 및 이용 기간 : 서비스 종료 및 구독취소 시까지</li>
                                <li>구독취소는 수신된 메일 하단의 수신거부 안내를 참고하세요.</li>
                            </ul>
                        </div>
                        <!-- //List -->
                    </div>
                    <div class="box-button">
                        <label class="radio"><input type="radio" name="SUBSCRIPTION_YN" value="Y"> 동의합니다.</label>
                        <label class="radio"><input type="radio" name="SUBSCRIPTION_YN" value="N" checked> 동의하지 않습니다.</label>
                    </div>
                    <hr class="division0">
                </div>
                <div class="box-button">
                    <span class="btn-type1" id="btnSubScription"><a href="#none">구독하기</a></span>
                    <span class="btn-type3 btnCloase"><a href="#none">취소하기</a></span>
                </div>
                <input type="hidden" name="REPORTER_ID" value="@ViewBag.ReporterID" />
                <input type="hidden" name="EMAIL" id="EMAIL"/>
                <input type="hidden" name="param" id="txtParam" />
            </form>
        </div>
        <!-- content -->
    </div>
</div>