@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.editVOD

@model ListModel<usp_GetCornerVODList_WEB_Result>

@{
    Layout = null;

    string wowTvStyle = AppState["WowTvStyle"].ToString();
    string wowTvScript = AppState["WowTvScript"].ToString();

    string programCode = ViewBag.ProgramCode;
    string contentSeq = ViewBag.ContentSeq;
}






<input type="hidden" id="CornerSearchList_hidTotalCount" value="@Model.TotalDataCount" />


@foreach (var item in Model.ListData)
{
    <li>
        <div class="img-area">
            <a href="#none">
                @*<span class="notice-area">
                    <span class="text-icon type07">최신</span>
                </span>*@
                <img src="@item.thumbUrl" alt="">
            </a>
        </div>
        <div class="cont-area">
            <p class="tit">@item.title</p>
            <div class="info-area">
                <div class="inner-left">
                    <span class="txt-exer"><span class="num">@item.datetime</span></span>
                </div>
            </div>
        </div>
    </li>
    
}

<script src="@wowTvScript/Broad/Corner/SearchList.js?date=20171018170000"></script>


