@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db90.DNRS
@using Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram

@model ListModel<T_NEWS_PRG>

@{ 
    Layout = null;

    NewsProgramCondition condition = ViewBag.Condition;
    string searchTermName = "";
}


<div class="sec-result-search">
    <div class="box-tit-prog">
        <div class="total">
            <span class="tit">
                @if (condition.ProgramNameTermStart == "Etc")
                {
                    searchTermName = "기타";
                }
                else
                {
                    string tmpProgramNameTermEnd = "";

                    if (condition.ProgramNameTermEnd == "딯")
                    {
                        searchTermName = "ㄱ~ㄷ";
                    }
                    else if (condition.ProgramNameTermEnd == "빟")
                    {
                        searchTermName = "ㄹ~ㅂ";
                    }
                    else if (condition.ProgramNameTermEnd == "짛")
                    {
                        searchTermName = "ㅅ~ㅈ";
                    }
                    else if (condition.ProgramNameTermEnd == "팋")
                    {
                        searchTermName = "ㅊ~ㅌ";
                    }
                    else if (condition.ProgramNameTermEnd == "힣")
                    {
                        searchTermName = "ㅍ~ㅎ";
                    }
                    else
                    {
                        searchTermName = condition.ProgramNameTermStart + "~" + condition.ProgramNameTermEnd;
                    }


                    //searchTermName = condition.ProgramNameTermStart + "~" + condition.ProgramNameTermEnd;


                }

                @searchTermName
            </span>
            프로그램 수 :
            <strong class="result">@Model.ListData.Count</strong>개
        </div>
        <a href="javascript:void(0)" class="btn-tog">arrow</a>
    </div>
    <div class="box-list-program">
        <ul>
            @foreach (var item in Model.ListData)
            {
                <li><a href="#" onclick="return AllProgramIndex.GoProgramMain('@item.PRG_CD');">@item.PRG_NM</a></li>
            }
        </ul>
    </div>
</div>


