
<div class="top-banner-area">
    <div class="banner-slider bxslider">
        <ul>
            <li>
                <!-- banner -->
                <div class="box-banner">
                    <a href="#">
                        <span class="title">일본 주식 거래 서비스 오픈</span>
                        <span class="txt">유망 종목 포트폴리오, 일본주식 거래도 <br />이제는 인문 360˚에서</span>
                    </a>
                </div>
                <div class="box-banner">
                    <a href="#">
                        <span class="title">보이스피싱 금융사기 예방 퀴즈</span>
                        <span class="txt">유망 종목 포트폴리오, 일본주식 거래도 <br />이제는 인문 360˚에서</span>
                    </a>
                </div>
                <!-- banner -->
            </li>
            <li>
                <!-- banner -->
                <div class="box-banner">
                    <a href="#">
                        <span class="title">일본 주식 거래 서비스 오픈</span>
                        <span class="txt">유망 종목 포트폴리오, 일본주식 거래도 <br />이제는 인문 360˚에서</span>
                    </a>
                </div>
                <div class="box-banner">
                    <a href="#">
                        <span class="title">보이스피싱 금융사기 예방 퀴즈</span>
                        <span class="txt">유망 종목 포트폴리오, 일본주식 거래도 <br />이제는 인문 360˚에서</span>
                    </a>
                </div>
                <!-- banner -->
            </li>
        </ul>
        <a href="#none" class="top-ad-btn"><span>닫기</span></a>
    </div>
</div>

