
<div class="inner">
    <div class="box-adverticement">
        <div>광고</div>
        <div>광고</div>
        <div>광고</div>
    </div>
    <div class="box-sitemap">
        <dl>
            <dt><a ref="#">TV</a></dt>
            <dd><a href="#">장중방송</a></dd>
            <dd><a href="#">장후방송</a></dd>
            <dd><a href="#">특집프로그램</a></dd>
        </dl>
        <dl>
            <dt><a href="#">뉴스</a></dt>
            <dd><a href="#">최신뉴스</a></dd>
            <dd><a href="#">증권</a></dd>
            <dd><a href="#">경제</a></dd>
            <dd><a href="#">산업</a></dd>
            <dd><a href="#">IT / 과학</a></dd>
            <dd><a href="#">정치.사회.과학</a></dd>
            <dd><a href="#">생활문화</a></dd>
            <dd><a href="#">취업</a></dd>
            <dd><a href="#">카드뉴스</a></dd>
            <dd><a href="#">티비텐플러스</a></dd>
            <dd><a href="#">이 시각 뜨는 뉴스</a></dd>
            <dd><a href="#">기자 홈</a></dd>
        </dl>
    </div>
    <div class="box-sitemap">
        <dl>
            <dt><a href="#">오피니언</a></dt>
            <dd><a href="#">연재컬럼</a></dd>
            <dd><a href="#">기획취재</a></dd>
            <dd><a href="#">외부기고</a></dd>
        </dl>
        <dl>
            <dt><a href="#">부동산</a></dt>
            <dd><a href="#">부동산 일반</a></dd>
            <dd><a href="#">분석전략</a></dd>
            <dd><a href="#">분양 뉴스</a></dd>
            <dd><a href="#">분양 클로즈업</a></dd>
            <dd><a href="#">분양 핫이슈</a></dd>
            <dd><a href="#">부동산 영상</a></dd>
        </dl>
        <dl>
            <dt><a href="#">금융</a></dt>
            <dd><a href="#">국내증시</a></dd>
            <dd><a href="#">해외증시</a></dd>
            <dd><a href="#">시장지표</a></dd>
            <dd><a href="#">특징주 뉴스</a></dd>
            <dd><a href="#">매매신호</a></dd>
            <dd><a href="#">종목검색</a></dd>
            <dd><a href="#">중국</a></dd>
        </dl>
    </div>
    <div class="box-sitemap">
        <dl>
            <dt><a href="#">연예&middot;스포츠</a></dt>
            <dd><a href="#">연예&middot;스타</a></dd>
            <dd><a href="#">패션&middot;뷰티</a></dd>
            <dd><a href="#">스포츠</a></dd>
        </dl>
        <dl>
            <dt><a href="#">포토&middot;영상</a></dt>
            <dd><a href="#">포토</a></dd>
            <dd><a href="#">영상</a></dd>
        </dl>
        <dl>
            <dt><a href="#">웹툰</a></dt>
            <dd><a href="#">포토</a></dd>
            <dd><a href="#">영상</a></dd>
        </dl>
    </div>
    <div class="box-sitemap">
        <dl>
            <dt><a href="#">고객센터</a></dt>
            <dd><a href="#">고객상담</a></dd>
            <dd><a href="#">서비스 안내</a></dd>
            <dd><a href="#">결제 및 이용안내</a></dd>
            <dd><a href="#">공지사항</a></dd>
            <dd><a href="#">이벤트</a></dd>
        </dl>
        <dl>
            <dt><a href="#">마이페이지</a></dt>
            <dd><a href="#">나의 서비스&middot;주문&middot;배송</a></dd>
            <dd><a href="#">나의 캐시&middot;쿠폰</a></dd>
        </dl>
    </div>
</div>



