@charset "utf-8";

.skin_default_live {
}
.mpv_container {
    background-color: #ffffff
}
.mpv_paused {
}
.mpv_playing {
}
.skin_default_live .mpv_video {
}
.skin_default_live .mpv_osd {
}
.skin_default_live .mpv_subtitles {
}
.skin_default_live .mpv_subtitles p {
}
.skin_default_live .mpv_title {
}
.skin_default_live .mpv_poster {
}
.skin_default_live .mpv_poster img {
}
.skin_default_live .mpv_time_thumblist {
}
.skin_default_live .mpv_time_thumblist img.large {
}
.skin_default_live .mpv_time_thumblist div.overlay {
}
.skin_default_live .mpv_time_thumblist div.list {
}
.skin_default_live .mpv_time_thumblist div.list img {
}
.skin_default_live .mpv_loading {
}
.skin_default_live .mpv_osd_play_button {
    background:url(images/osd_play.png);
    height:100px;
    left:50%;
    margin:-50px 0 0 -50px;
    top:50%;
    width:100px;
}

.skin_default_live .mpv_osd_pause_button {
    background:url(images/osd_pause.png);
    height:100px;
    left:50%;
    margin:-50px 0 0 -50px;
    top:50%;
    width:100px;
}
.skin_default_live .mpv_controller {
    display:none;
    background:url(images/cont_bg2.png);
    height:35px;
}
.skin_default_live .mpv_time_slider {
    height:3px;
}
.skin_default_live .mpv_time_slider_area {
    height:18px;
    top:-10px;
}
.skin_default_live .mpv_time_slider_track {
    background:#797979;
}
.skin_default_live .mpv_time_slider_buffer {
    background:#9a9a9a;
}
.skin_default_live .mpv_time_slider_value {
    background:#6ea8e5;
}
.skin_default_live .mpv_time_slider_handler {
    background:url(images/time_handler.png);
    height:20px;
    left:-10px;
    top:-9px;
    width:20px;
}
.skin_default_live .mpv_time_repeat_start {
    background:url(images/repeat_marker.png);
    height:20px;
    margin-left:-10px;
    top:-20px;
    width:20px;
}
.skin_default_live .mpv_time_repeat_end {
    background:url(images/repeat_marker.png);
    height:20px;
    margin-left:-10px;
    top:-20px;
    width:20px;
}
.skin_default_live .mpv_time_thumb {
}
.skin_default_live .mpv_time_thumb img {
}
.skin_default_live .mpv_button_group {
    padding:4px 0 3px 10px;
}
* + html .skin_default_live .mpv_button_group {
    padding:4px 0 3px 0;
}
.skin_default_live .mpv_button {
    height:30px;
    margin:0 1px;
    width:30px;
}
.skin_default_live .mpv_prev_button {
    background:url(images/prev.png);
    float:left;
}
.skin_default_live .mpv_next_button {
    background:url(images/next.png);
    float:left;
}
.skin_default_live .mpv_play_button {
    background:url(images/play.png);
    float:left;
}
.skin_default_live .mpv_pause_button {
    background:url(images/pause.png);
    float:left;
}
.skin_default_live .mpv_stop_button {
    background:url(images/stop.png);
    float:left;
}
.skin_default_live .mpv_current_time {
    color:#989898;
    float:left;
    padding-top:6px;
}
.skin_default_live .mpv_duration_time {
    color:#ffffff;
    float:left;
    padding-top:6px;
}
.skin_default_live .mpv_backward_button {
    background:url(images/speed_down.png);
    float:left;
    width:20px;
}
.skin_default_live .mpv_skip_input {
    float:left;
    margin-top:2px;
}
.skin_default_live .mpv_forward_button {
    background:url(images/speed_up.png);
    float:left;
    width:20px;
}
.skin_default_live .mpv_speed_down_button {
    background:url(images/speed_down.png);
    float:left;
    width:20px;
}
.skin_default_live .mpv_current_speed {
    float:left;
    padding-top:6px;
}
.skin_default_live .mpv_speed_up_button {
    background:url(images/speed_up.png);
    float:left;
    width:20px;
}
.skin_default_live .mpv_volume_button {
    background:url(images/volume.png);
    float:right;
}
.skin_default_live .mpv_mute_button {
    background:url(images/mute.png);
    float:right;
}
.skin_default_live .mpv_bookmark_button {
    background:url(images/bookmark.png);
    float:right;
    width:50px;
}
.skin_default_live .mpv_favorite_button {
    background:url(images/favorite.png);
    float:left;
    width:50px;
}
.skin_default_live .mpv_repeat_on_button {
    background:url(images/repeat_on.png);
    float:left;
    width:80px;
}
.skin_default_live .mpv_repeat_off_button {
    background:url(images/repeat_off.png);
    float:left;
    width:80px;
}
.skin_default_live .mpv_subtitles_off_button {
    background:url(images/subtitles_off.png);
    float:right;
    width:60px;
}
.skin_default_live .mpv_subtitles_on_button {
    background:url(images/subtitles_on.png);
    float:right;
    width:60px;
}
.skin_default_live .mpv_language_button {
    background:url(images/language.png);
    float:right;
    width:40px;
}
.skin_default_live .mpv_language_layer {
}
.skin_default_live .mpv_language_layer .option_language {
}
.skin_default_live .mpv_language_layer .selected {
    background-image:url(images/option_selected.png);
}
.skin_default_live .mpv_quality_button {
    background:url(images/quality.png);
    float:right;
    width:40px;
}
.skin_default_live .mpv_quality_button2 {
    background:75px 8px url(images/arrow_up.png) no-repeat;
    float:right;
    padding-top:6px;
    padding-left:10px;
    width:90px !important;
}
.skin_default_live .mpv_quality_layer {
}
.skin_default_live .mpv_quality_layer .option_quality {
}
.skin_default_live .mpv_quality_layer .selected {
    background-image:url(images/option_selected.png);
}
.skin_default_live .mpv_expand_button {
    background:url(images/expand.png);
    float:right;
}
.skin_default_live .mpv_collapse_button {
    background:url(images/collapse.png);
    float:right;
}
.skin_default_live .mpv_fullscreen_button {
    background:url(images/fullscreen.png);
    float:right;
}
.skin_default_live .mpv_normalscreen_button {
    background:url(images/normalscreen.png);
    float:right;
}
.skin_default_live .mpv_playlist_button {
    background:url(images/playlist.png);
    float:right;
    width:60px;
}
.skin_default_live .mpv_popup_button {
    background:url(images/popup.png);
    float:left;
    width:60px;
}
.skin_default_live .mpv_volume_slider {
    background:url(images/volume_slider.png);
    height:80px;
    top:-83px;
    width:32px;
}
.skin_default_live .mpv_volume_slider_area {
    height:55px;
    left:6px;
    top:10px;
    width:20px;
}
.skin_default_live .mpv_volume_slider_track {
    background:url(images/volume_track.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:55px;
    left:13px;
    top:10px;
    width:6px;
}
.skin_default_live .mpv_volume_slider_value {
    background:url(images/volume_value.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:100%;
    width:100%;
}
.skin_default_live .mpv_volume_slider_handler {
    background:url(images/volume_handler.png);
    height:16px;
    margin:5px 8px 11px 8px;
    width:16px;
}
.skin_default_live .mpv_volume_slider_hor {
    height:30px;
    width:70px;
}
.skin_default_live .mpv_volume_slider_area_hor {
    height:20px;
    left:8px;
    top:5px;
    width:55px;
}
.skin_default_live .mpv_volume_slider_track_hor {
    background:url(images/volume_track_hor.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:6px;
    left:8px;
    top:12px;
    width:55px;
}
.skin_default_live .mpv_volume_slider_value_hor {
    background:url(images/volume_value_hor.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:100%;
    width:100%;
}
.skin_default_live .mpv_volume_slider_handler_hor {
    background:url(images/volume_handler.png);
    height:16px;
    margin:7px 2px 7px 3px;
    width:16px;
}
.skin_default_live .mpv_bookmark {
    bottom:-3px;
}
.skin_default_live .mpv_bookmark_layer {
    background-color:#2c2c2c;
}
.skin_default_live .mpv_bookmark_close {
    background:url(images/close.png);
    height:8px;
    width:8px;
}
.skin_default_live .mpv_bookmark_title {
}
.skin_default_live .mpv_bookmark_time {
}
.skin_default_live .mpv_bookmark_save {
}
.skin_default_live .mpv_bookmark_current {
}
.skin_default_live .mpv_bookmark_bottom {
    background-image:url(images/layer_bottom.png);
}
.skin_default_live .mpv_message {
}
.skin_default_live .mpv_message_layer {
}
.skin_default_live .mpv_message_label {
}
.skin_default_live .mpv_message_button {
}
.mpv_fullscreen_mode {
}
    .mpv_fullscreen_mode .mpv_controller {
        display: none;
    }
.mpv_fullscreen_mode .mpv_time_thumblist {
}
.mpa_container {
    background-color:#565656;
}
.mpa_paused {
}
.mpa_playing {
}
.skin_default_live .mpa_audio {
    position:absolute;
}
.skin_default_live .mpa_osd {
    position:relative;
    height:0;
}
.skin_default_live .mpa_subtitles {
}
.skin_default_live .mpa_subtitles p {
}
.skin_default_live .mpa_title {
}
.skin_default_live .mpa_poster {
}
.skin_default_live .mpa_poster img {
}
.skin_default_live .mpa_loading {
}
.skin_default_live .mpa_osd_play_button {
    background:url(images/osd_play.png);
    height:100px;
    left:50%;
    margin:-50px 0 0 -50px;
    top:50%;
    width:100px;
}
.skin_default_live .mpa_osd_pause_button {
    background:url(images/osd_pause.png);
    height:100px;
    left:50%;
    margin:-50px 0 0 -50px;
    top:50%;
    width:100px;
}
.skin_default_live .mpa_controller {
    background:url(images/cont_bg2.png);
    height:40px;
}
.skin_default_live .mpa_time_slider {
    height:3px;
}
.skin_default_live .mpa_time_slider_area {
    height:18px;
    top:-10px;
}
.skin_default_live .mpa_time_slider_track {
    background:#797979;
}
.skin_default_live .mpa_time_slider_buffer {
    background:#9a9a9a;
}
.skin_default_live .mpa_time_slider_value {
    background:#6ea8e5;
}
.skin_default_live .mpa_time_slider_handler {
    background:url(images/time_handler.png);
    height:20px;
    left:-10px;
    top:-9px;
    width:20px;
}
.skin_default_live .mpa_time_repeat_start {
    background:url(images/repeat_marker.png);
    height:20px;
    margin-left:-10px;
    top:-20px;
    width:20px;
}
.skin_default_live .mpa_time_repeat_end {
    background:url(images/repeat_marker.png);
    height:20px;
    margin-left:-10px;
    top:-20px;
    width:20px;
}
.skin_default_live .mpa_button_group {
    padding:4px 0 3px 10px;
}
* + html .skin_default_live .mpa_button_group {
    padding:4px 0 3px 0;
}
.skin_default_live .mpa_button {
    height:30px;
    margin:0 1px;
    width:30px;
}
.skin_default_live .mpa_prev_button {
    background:url(images/prev.png);
    float:left;
}
.skin_default_live .mpa_next_button {
    background:url(images/next.png);
    float:left;
}
.skin_default_live .mpa_play_button {
    background:url(images/play.png);
    float:left;
}
.skin_default_live .mpa_pause_button {
    background:url(images/pause.png);
    float:left;
}
.skin_default_live .mpa_stop_button {
    background:url(images/stop.png);
    float:left;
}
.skin_default_live .mpa_current_time {
    color:#989898;
    float:left;
    padding-top:6px;
}
.skin_default_live .mpa_duration_time {
    color:#ffffff;
    float:left;
    padding-top:6px;
}
.skin_default_live .mpa_backward_button {
    background:url(images/speed_down.png);
    float:left;
    width:20px;
}
.skin_default_live .mpa_skip_input {
    float:left;
    margin-top:2px;
}
.skin_default_live .mpa_forward_button {
    background:url(images/speed_up.png);
    float:left;
    width:20px;
}
.skin_default_live .mpa_speed_down_button {
    background:url(images/speed_down.png);
    float:left;
    width:20px;
}
.skin_default_live .mpa_current_speed {
    float:left;
    padding-top:6px;
}
.skin_default_live .mpa_speed_up_button {
    background:url(images/speed_up.png);
    float:left;
    width:20px;
}
.skin_default_live .mpa_volume_button {
    background:url(images/volume.png);
    float:right;
}
.skin_default_live .mpa_mute_button {
    background:url(images/mute.png);
    float:right;
}
.skin_default_live .mpa_bookmark_button {
    background:url(images/bookmark.png);
    float:left;
    width:50px;
}
.skin_default_live .mpa_favorite_button {
    background:url(images/favorite.png);
    float:left;
    width:50px;
}
.skin_default_live .mpa_repeat_on_button {
    background:url(images/repeat_on.png);
    float:left;
    width:80px;
}
.skin_default_live .mpa_repeat_off_button {
    background:url(images/repeat_off.png);
    float:left;
    width:80px;
}
.skin_default_live .mpa_subtitles_off_button {
    background:url(images/subtitles_off.png);
    float:right;
    width:60px;
}
.skin_default_live .mpa_subtitles_on_button {
    background:url(images/subtitles_on.png);
    float:right;
    width:60px;
}
.skin_default_live .mpa_language_button {
    background:url(images/language.png);
    float:right;
    width:40px;
}
.skin_default_live .mpa_language_layer {
}
.skin_default_live .mpa_language_layer .option_language {
}
.skin_default_live .mpa_language_layer .selected {
    background-image:url(images/option_selected.png);
}
.skin_default_live .mpa_quality_button {
    background:url(images/quality.png);
    float:right;
    width:40px;
}
.skin_default_live .mpa_quality_button2 {
    background:75px 8px url(images/arrow_up.png) no-repeat;
    float:right;
    padding-top:6px;
    padding-left:10px;
    width:90px !important;
}
.skin_default_live .mpa_quality_layer {
}
.skin_default_live .mpa_quality_layer .option_quality {
}
.skin_default_live .mpa_quality_layer .selected {
    background-image:url(images/option_selected.png);
}
.skin_default_live .mpa_expand_button {
    background:url(images/expand.png);
    float:right;
}
.skin_default_live .mpa_collapse_button {
    background:url(images/collapse.png);
    float:right;
}
.skin_default_live .mpa_fullscreen_button {
    background:url(images/fullscreen.png);
    float:right;
}
.skin_default_live .mpa_normalscreen_button {
    background:url(images/normalscreen.png);
    float:right;
}
.skin_default_live .mpa_playlist_button {
    background:url(images/playlist.png);
    float:right;
    width:60px;
}
.skin_default_live .mpa_popup_button {
    background:url(images/popup.png);
    float:left;
    width:60px;
}
.skin_default_live .mpa_volume_slider {
    background:url(images/volume_slider.png);
    height:80px;
    top:-83px;
    width:32px;
}
.skin_default_live .mpa_volume_slider_area {
    height:55px;
    left:6px;
    top:10px;
    width:20px;
}
.skin_default_live .mpa_volume_slider_track {
    background:url(images/volume_track.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:55px;
    left:13px;
    top:10px;
    width:6px;
}
.skin_default_live .mpa_volume_slider_value {
    background:url(images/volume_value.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:100%;
    width:100%;
}
.skin_default_live .mpa_volume_slider_handler {
    background:url(images/volume_handler.png);
    height:16px;
    margin:5px 8px 11px 8px;
    width:16px;
}
.skin_default_live .mpa_volume_slider_hor {
    height:30px;
    width:70px;
}
.skin_default_live .mpa_volume_slider_area_hor {
    height:20px;
    left:8px;
    top:5px;
    width:55px;
}
.skin_default_live .mpa_volume_slider_track_hor {
    background:url(images/volume_track_hor.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:6px;
    left:8px;
    top:12px;
    width:55px;
}
.skin_default_live .mpa_volume_slider_value_hor {
    background:url(images/volume_value_hor.png);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:100%;
    width:100%;
}
.skin_default_live .mpa_volume_slider_handler_hor {
    background:url(images/volume_handler.png);
    height:16px;
    margin:7px 2px 7px 3px;
    width:16px;
}
.skin_default_live .mpa_bookmark {
    bottom:-3px;
}
.skin_default_live .mpa_bookmark_layer {
    background-color:#2c2c2c;
}
.skin_default_live .mpa_bookmark_title {
}
.skin_default_live .mpa_bookmark_time {
}
.skin_default_live .mpa_bookmark_save {
}
.skin_default_live .mpa_bookmark_current {
}
.skin_default_live .mpa_bookmark_bottom {
    background-image:url(images/layer_bottom.png);
}
.skin_default_live .mpa_message {
}
.skin_default_live .mpa_message_layer {
}
.skin_default_live .mpa_message_label {
}
.skin_default_live .mpa_message_button {
}
.mpa_fullscreen_mode {
}
.mpa_fullscreen_mode .mpa_controller {
}
.mpa_fullscreen_mode .mpa_time_thumblist {
}
