
@{
    Layout = null;
    string wowTvScript = AppState["WowTvScript"].ToString();
}

<script>
    var isLogin = "@LoginHandler.IsLogin";
    var isEasyLogin = "@LoginHandler.IsEasyLogin";
</script>

<form id="frmSearchCmt">
    <input type="hidden" name="PageSize" id="cmtPageSize" value="20"/>
    <input type="hidden" name="TotalDataCount" id="totalDataCount" />
    <input type="hidden" name="CurrentIndex" id="cmtCurrentIndex" value="0" />
    <input type="hidden" name="ArticleId" id="articleId" value="@ViewBag.ArticleId" />
</form>

<div class="reply-head">
    <h3>
        <span class="icon reply-tit"></span>댓글<span id="commentCnt"></span>
        <a href="#none" class="icon reply-toggle">댓글 여/닫기 토글</a>
    </h3>
</div>
<div class="reply-area" style="display:none;">
    <div class="input-area">
        <div class="box-list-contact" id="divLogin" style="display:none;">
            <a href="#none" class="icon btn-hankyung" id="btnHankyung">한국경제TV 로그인</a>
            <a href="#none" class="icon btn-facebook" id="btnFacebook">Facebook 로그인</a>
            <a href="#none" class="icon btn-kakaostory" id="btnKakao">카카오 로그인</a>
            <a href="#none" class="icon btn-naver" id="btnNaver">네이버 로그인</a>
        </div>
        <p class="text">
            의견 작성을 위해 한국경제TV 계정으로 로그인 해주세요.<br>
            욕설, 비방, 모욕성의 댓글은 관리자에 의해 삭제 또는 비공개 처리 될 수 있습니다.
        </p>
        <form id="frmAddComment">
            <textarea class="reply txtComment" placeholder="내용을 입력하세요"></textarea>
            <textarea name="COMMENT" class="hidComment" style="display:none;"></textarea>
            <input type="hidden" name="ARTICLE_ID" value="@ViewBag.ArticleId" />
            <div class="btn-area txt-r">
                <span class="text-byte textLen">0/<span>500</span></span>
                <a href="javascript:void(0)" class="btn type02 w-auto btnSaveCmt">등록</a>
            </div>
        </form>
    </div>
    <ul class="reply-list" id="ulComment" style="display:none;">
    </ul>
    <div class="btn-area">
        <a href="javascript:void(0)" id="ArtCommentMore" class="btn type04" style="display:none;">더보기</a>
    </div>
</div>

<script>
    reply_toggle(); //댓글 아코디언
</script>
