
@{
    Layout = null;
    string wowTvStyle = AppState["WowTvStyle"].ToString();
}

<h3>당신에게 맞는 추천 뉴스</h3>

<!-- 오늘의 추천 키워드 start -->
<div class="box-infor-keyword type01">
    <div class="hash-area" id="divRecomHash">

    </div>
</div>
<!-- 오늘의 추천 키워드 end -->

<div class="swiper-container ui-slider">
    <div class="swiper-wrapper" id="ulNewsReadKeyWordNewsList">

    </div>

    <!-- bullet -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<!-- // visual area -->

