
@{
    Layout = null;
}

<ul>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        int index = Model.IndexOf(item);

        if(index ==5)
        {
            @Html.Raw("</ul><ul>");
        }

        <li><a href="javascript:NewsCommon.GoNewsRead('@item.ARTICLE_ID')"><span class="block-icon"></span>@item.TITLE</a></li>
    }
}
else
{
    <li>등록된 내용이 없습니다.</li>
}
</ul>