@{
    Layout = "/Views/Shared/_LayoutNone.cshtml";

    string frontUrl = System.Configuration.ConfigurationManager.AppSettings["DomainUrlFront"];
    string scriptUrl = System.Configuration.ConfigurationManager.AppSettings["WowTvScript"];
    string styleUrl = System.Configuration.ConfigurationManager.AppSettings["WowTvStyle"];
}
<link href="@styleUrl/vodplayer/wowtv.css" rel="stylesheet" />
<script src="@scriptUrl/Component/mediaplayer.min.ansi.js" type="text/javascript"></script>
<script src="http://img.vrixon.com/adsdk/wowtv/test/vrixadsdk.js"></script>
<script type="text/javascript">
    var cfg = {
        // 자동 재생
        autoPlay: true,
        // 버퍼시간 설정(기본값 : 1.5)
        bufferTime: 1.5,
        // 사용할 컨트롤러들 설정
        controllers: {
            // 타임 슬라이더
            timeSlider: true,
            // 재생/일시정지 버튼
            playButton: true,
            // 재생시간
            currentTime: true,
            // 총재생시간
            durationTime: true,
            // 전체화면 모드 전환 버튼
            fullscreenButton: true,
            // 볼륨 버튼과 볼륨 슬라이더
            volumeButton: true,
            volumeSlider: true,
            // 리소스 품질 선택 버튼
            qualityButton: true,
            // 광고 영상의 기본 건너뛰기 노출 시간
            skipAdButton: 15,

            speedDownButton: true, // 배속 감소 버튼
            currentSpeed: true, // 현재 배속 라벨
            speedUpButton: true, // 배속 증가 버튼

            controllersAutoHide: true	// 컨트롤바 자동 숨김 사용 여부
        },
        // 디버그 모드
        // 배포시에 false 지정 또는 제거
        // 개발 및 디버그시 true로 지정
        //debugMode           : false,
        // 리소스
        sources: null,
        // 스킨 (eduwill.css)
        skin: 'wowtv',
        // 볼륨 슬라이더 유형
        volumeSliderType: 1
    };

    function onVodReady() {
        var srcs = {};
        cfg.sources = [srcs];

        if (!mp.browser.isMobile) {
            cfg.sources = [{
                src: "http://cdnvod.wowtv.co.kr:8080/Program/4revolution/4revolution020170626.mp4" }];
        }
        else {
            cfg.sources = [{ src: "http://cdnvod.wowtv.co.kr:8080/Program/4revolution/4revolution020170626.mp4" }];
        }

        var isWin7 = navigator.appVersion.toLowerCase().indexOf('windows nt 6.1') > 0;
        if (isWin7 && mp.browser.isIE) {
            cfg.useFlash = true;
        }

        mp.createVODPlayer(mp.dom.getElement('#wowtv_player'), cfg, onPlayerReady);
    }

    function onPlayerReady() {
        this.on(this.eventType.CHANGED_RESOURCE, onChangedResource);
        this.on(this.eventType.END, onPlayEnd);
    }

    function onChangedResource() {
        var player = this;
        setTimeout(function () {
            if (player.state == 'pause') {
                player.trigger(mp.vodEvent.CHANGE_PLAY);
            }
        }, 1500);
    }

    function onPlayEnd() {
        mp.dom.show(this.osd.posterElement);
    }

    var ADopt =
        {
            "container": "wowtv_video",  // 메인 컨테이너의 div id
            "video": "wowtv_player",     // 메인 플레이어의 video id
            "adInfo":
            {
                "adTag": "http://img.vrixon.com/adsdk/adsample/vast.php" // VMAP 또는 VAST 를 받아올 URL
            }
        };

    function adHandler(event) {
        switch (event.type) {
            case "ad_playing": /*광고재생시작*/
                //alert(event.type);
                break;
            case "ad_ending": /*광고재생종료*/
                //alert(event.type);
                break;
        }
    }

    $(document).ready(function () {
        vrixadsdk.playerSet(ADopt, adHandler);
    });
</script>

<div id="wowtv_video" class="trans_ease05 vrixadsdk" style="width:600px;height:400px;position:block;background-color:#000000;">
    <video id="wowtv_player" playsinline></video>
</div>

<button onclick="onVodReady();">클릭</button>
