@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv

@model ListModel<NTB_PROGRAM_BANNER>
    
@{
    Layout = null;
}

@foreach (var item in Model.ListData)
{
<div class="box-img-gray">
    <a href="@item.URL" target="@item.LINK_TYPE"><img src="@item.AttachFile.REAL_WEB_PATH" alt="bannerImg" width="248px" height="248px"></a>
</div>
}


