
@{
    ViewBag.Title = "유럽";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{

    @*<script src="@wowTvScript/Finance/WorldStock/USA.js"></script>*@
    <script src="@wowTvScript/Finance/webponent/raphael.js"></script>
    <script src="@wowTvScript/Finance/webponent/webponent.comm.common.js"></script>
    <script src="@wowTvScript/Finance/webponent/chart/webponent.chart.js"></script>
    <script src="@wowTvScript/Finance/webponent/chart/webponent.chart.style.js"></script>
    <script src="@wowTvScript/Finance/Charts/stockChart.js"></script>
    <script src="@wowTvScript/Finance/WorldStock/Europe.js"></script>

}
<div class="section-area">
    <h2>유럽</h2>
</div>

<div class="swiper-container sub-gnb01 type02 swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide on w-auto swiper-slide-active" style="margin-right: 20px;" id="nikkei"><span>프랑스</span></div>
        <div class="swiper-slide w-auto swiper-slide-next" style="margin-right: 20px;" id="shc"><span>독일</span></div>
        <input type="hidden" id="MarketType" />
    </div>
</div>

<form id="frmList_EUROPE">
    <div id="divList">

    </div>
</form>

<!-- tab start -->
<div class="tab-area">
    <ul>
        <li class="btnChart" id="7551" style="width: 33%;"><a href="javascript:void(0)">일간</a></li>
        <li class="btnChart" id="7552" style="width: 33%;"><a href="javascript:void(0)">주간</a></li>
        <li class="btnChart" id="7553" style="width: 33.6667%;"><a href="javascript:void(0)">월간</a></li>
    </ul>
</div>
<!--// tab end -->
<!-- chart start -->
<div class="section-area mb50">
    <p class="time-txt pr0 mt10" id="txtChart"></p>
    <div class="box-type-chart">
        <div class="chart-view">
            <img id="ImgChart" style="width:100%" />
        </div>
    </div>
</div>
<!--// chart end -->