
@section scripts{
    <script src="~/Scripts/example/webPonent/raphael.js"></script>
    <script src="~/Scripts/example/webPonent/raphael.export.js"></script>
    <script src="~/Scripts/example/webPonent/webponent.comm.common.js"></script>
    <script src="~/Scripts/example/webPonent/webponent.comm.export.js"></script>
    <script src="~/Scripts/example/webPonent/visual/webponent.visual.pie.js"></script>
    <script src="~/Scripts/example/webPonent/chart/webponent.chart.js"></script>
    <script src="~/Scripts/example/webPonent/chart/webponent.chart.style.js"></script>
    <script src="~/Scripts/example/candleChart.js"></script>
}

<style>
    .chart {
        width: 100%;
        height: 400px;
    }
</style>

<h2>CandleChart</h2>

<div class="wrap">
    <div class="chart"></div>
</div>
