@{
    ViewBag.Title = "MarketSum";
    string wowTvScript = AppState["WowTvScript"].ToString();
}
@section scripts{

    <script src="@wowTvScript/Finance/DomesticStock/ForeignHold.js"></script>
}

<h1 class="title">외국인보유현황</h1>
<!-- Checkbox Group -->
<div class="contain-group-checkbox col5">
    <label class="checkbox"><input type="checkbox" id="totalVol"> 거래량</label>
    <label class="checkbox"><input type="checkbox" id="askPrice1"> 매수호가</label>
    <label class="checkbox"><input type="checkbox" id="totalVolPrice"> 거래대금(백만)</label>
    <label class="checkbox"><input type="checkbox" id="totalMoney"> 시가총액(백만)</label>
    <label class="checkbox"><input type="checkbox" id="per"> PER(배)</label>
    <label class="checkbox"><input type="checkbox" id="openPrice"> 시가</label>
    <label class="checkbox"><input type="checkbox" id="bidPrice1"> 매도호가</label>
    <label class="checkbox"><input type="checkbox" id="beforeTradeVol"> 전일거래량</label>
    <label class="checkbox"><input type="checkbox" id="highPrice"> 고가</label>
    <label class="checkbox"><input type="checkbox" id="totalAskVol"> 매수총잔량</label>
    <label class="checkbox"><input type="checkbox" id="holdRate"> 외국인비율</label>
    <label class="checkbox"><input type="checkbox" id="lowPrice"> 저가</label>
    <label class="checkbox"><input type="checkbox" id="totalBidVol"> 매도총잔량</label>
    <label class="checkbox"><input type="checkbox" id="listCount"> 상장주식(천주)</label>
    <label class="checkbox"><input type="checkbox" id="oneRealMoney"> 주당순이익(원)</label>
    <label class="checkbox"><input type="checkbox" id="pbr"> PBR(배)</label>
    <label class="checkbox"><input type="checkbox" id="normalMoney"> 보통주배당금(원)</label>
</div>
<!-- //Checkbox Group -->

<div class="box-button">
    <div class="inner-right">
        <span class="btn-type1"><button>적용하기</button></span>
        <span class="btn-type2"><button>초기항목으로</button></span>
    </div>
</div>

<hr class="division5 no-border">

<form id="frmForeignHoldMarket">
    <!-- Tab -->
    <div class="tab-type1">
        <ul class="col2">
            <li class="on"><a href="#none" id="kospi">코스피</a></li>
            <li><a href="#none" id="kosdaq">코스닥</a></li>
        </ul>
    </div>
    <!-- //Tab -->
</form>

<form id="frmList_foreignHold">

    <div id="divList">

    </div>
</form>

