@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@{
    ViewBag.Title = "IndustryPartUpper";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{
<script src="@wowTvScript/Finance/DomesticStock/IndustryPartUpper.js"></script>
      
}
<h1 class="title">업종상위</h1>

<!-- Top Information box -->
<div class="box-top-type1">
    <div class="inner-left">
        <p class="text-realtime-reload"><span class="title">실시간</span> @Html.MarketTimeStatus() <span class="btn-type-reload"><a href="/Finance/DomesticStock/IndustryPartUpper?menuSeq=@currentMenuSeq">새로고침</a></span></p>
    </div>
</div>
<!-- Top Information box -->
<!-- Tab -->
<div class="tab-type1">
    <ul class="col2">
        <li class="on"><a href="#none" id="kospi">코스피</a></li>
        <li><a href="#none" id="kosdaq">코스닥</a></li>
    </ul>
</div>
<!-- //Tab -->

<form id="frmList_industryPartUpper">
    <input type="hidden" name="currentMenuSeq" id="currentMenuSeq" value="@Request["menuSeq"]" />
    <div id="divList">

    </div>
</form>

