@{
    ViewBag.Title = "투자매매동향";
    string wowTvScript = AppState["WowTvScript"].ToString();
    string currentMenuSeq = Request["menuSeq"];
}
@section scripts{

    <script src="@wowTvScript/Finance/DomesticStock/Invest.js"></script>
}
@*<div style="color: white; height: 200px; background: red; font-size: 20px; text-align: center; padding-top: 50px;" id="jobNeed">
    차트작업 필요
</div>*@
<h1 class="title">투자매매동향</h1>

<!-- Top Information box -->
<div class="box-top-type1">
    <div class="inner-left">
        <p class="text-normal">단위 : 코스피, 코스닥(억원), 선물(계약)</p>
    </div>
</div>
<!-- Top Information box -->
<div class="tab-type1">
    <ul class="col4">
        <li class="on"><a href="#none" id="day">1일 매매현황</a></li>
        <li><a href="#none" id="week">1주 누적매매현황</a></li>
        <li><a href="#none" id="month">1개월 누적매매현황</a></li>
        <li><a href="#none" id="quarter">3개월 누적매매현황</a></li>
    </ul>
</div>

<form id="frmList_Invest">
    <div id="divList">

    </div>
</form>


