@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db22.stock
@using Wow.Tv.FrontWeb.Areas.Finance.Helpers
@model ListModel<usp_SelectStockRecentlyTime_Result>
@{
    ViewBag.Title = "RecentlyStockTimeTop10List";
    Layout = null;
}

<div class="table-type1">
    <table>
        <caption></caption>
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <tr>
            <th>날짜</th>
            <th>종가</th>
            <th>대비</th>
            <th>등락률</th>
        </tr>
        @if (Model.ListData.Count > 0)
        {
            foreach (var item in Model.ListData)
            {
                <tr>
                    <td>@item.TradeDate</td>
                    <td class="number"><span class="data-normal">@item.Price</span></td>
                    <td class="number">@Html.RecentlyStockChgPriceFormat(item.ChgType, item.ChgPrice)</td>
                    <td class="number">@Html.RecentlyStockChgRateFormat(item.ChgType, item.chgRate)</td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="4">데이터가 없습니다.</td>
            </tr>
        }


    </table>
</div>



