@using Wow.Tv.Middle.Model.Common
@using Wow.Tv.Middle.Model.Db49.wowtv

@model ListModel<NTB_PROGRAM_BANNER>

@{ 
    Layout = null;
}

<!-- 배너 영역 -->
<div class="banner-area">
    <ul>
        @foreach (var item in Model.ListData)
        {
        <li><a href="@item.URL" target="@item.LINK_TYPE"><img src="@item.AttachFile.REAL_WEB_PATH" width="124px" height="124px" /></a></li>        
        }
    </ul>
</div>
<!-- //배너 영역 -->

