
@{
    ViewBag.Title = "Index";

    string rootUrl = AppState["RootUrl"].ToString();
}



@section scripts{
    <script src="@rootUrl/Scripts/Pilot2/Index.js"></script>
    <script src="@rootUrl/Scripts/SE2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="@rootUrl/Scripts/common/SmartEditor.js"></script>


}

<h2>Index</h2>

<div>
    <form id="frmSearch">
        <table>
            <tr>
                <td>
                    제목 <input type="text" name="Title" />
                </td>
                <td>
                    <a href="#" id="btnSearch">검색</a>
                    <a href="#" id="btnCreate">등록</a>
                </td>
            </tr>
        </table>

        <input type="hidden" id="pageSize" name="pageSize" value="20" />
        <input type="hidden" id="currentIndex" name="currentIndex" />
    </form>
</div>


<div id="divList">
</div>


<div id="divEdit" title="정보입력"></div>
<div id="divDetail" title="상세정보"></div>

